<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Tu ADN es controlado por tus pensamientos</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis03 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
La idea común de que el ADN determina tanto de lo que somos -no sólo nuestro color de ojos o pelo, por ejemplo, sino también nuestras adicciones, trastornos o susceptibilidad al cáncer- es un error.
<img class=publi3 src="https://image.ibb.co/durECK/adn.png" hspace="5" vspace="5" style="float:left" />
La biología y el conocimiento de nuestros genes ha avanzado mucho en los últimos años, aún así, se mantiene la creencia de que somos víctimas de nuestra herencia genética. El problema con esta idea es que se extiende a otro nivel; te vuelves irresponsable, pues estas convencido que no puedes hacer nada al respecto, así que ¿por qué intentarlo? <br> <br>
<br> <br>
<h5>Crees que eres menos poderoso que tus genes</h5>
La percepción de la realidad de una persona, y no la programación genética, es lo que estimula toda acción en el cuerpo: en realidad son nuestras creencias las que seleccionan nuestros genes, los cuales, a su vez, seleccionan nuestro comportamiento. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
El cuerpo humano está compuesto de 50 a 65 trillones de células. Las funciones celulares independientes del ADN y la recepción celular de estímulos ambientales afectan al ADN. Esto se encuentra ampliamente estudiado por la epigenética. Esto también aplica los mismos principios al cuerpo humano como un todo, mostrando el poder que nuestras percepciones, nuestras creencias, tienen sobre el ADN.<br> <br>
El Dr Bruce Lípton, en su libro “La creencia de la biología“, nos desglosa punto por punto cómo la creencia en la inamovilidad de nuestro ADN carece de fundamento científico. Es un libro muy recomendable para abrir la mente a nuevas percepciones. Lo resumiremos en estos en 5 puntos:<br> <br>
<h6>Temas que le pueden interesar:</h6>
<br> <br>
<b>1. La célula, como un cuerpo humano, funciona sin ADN</b> <br>
La célula, la unidad básica de la vida, es como un cuerpo humano. Es capaz de respirar, digerir, reproducir y otras funciones vitales. El núcleo, que contiene los genes, ha sido tradicionalmente visto como el centro de control -el cerebro de la célula.
Sin embargo, cuando el núcleo se elimina (proceso que se puede realizar sin complicaciones en un laboratorio), la célula continúa con todas sus funciones vitales y todavía puede reconocer toxinas y nutrientes. Parece que el núcleo -y el ADN que contiene- no controla la célula.
Los científicos asumieron hace unos 50 años que los genes controlan la biología. Parecía tan correcto que compramos la historia. Hoy sabemos que esos supuestos no son los correctos. <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/jDVEzz/adn2.png" hspace="5" vspace="5" style="float:left" />
</div>
<b>2. El ADN es controlado por el medio ambiente</b> <br>
Las proteínas llevan a cabo las funciones en las células y son bloques de construcción de la vida. Se ha pensado durante mucho tiempo que el ADN controla o determina las acciones de las proteínas. <br>
En realidad, los estímulos ambientales que entran en contacto con la membranacelular son percibidos por las proteínas del receptor en la membrana. Esto desencadena una reacción en cadena de proteínas que transmiten lo que podría ser descrito como mensajes a otras proteínas, motivando la acción en la célula. <br>
El ADN se recubre en un manguito protector de proteína. Las señales ambientales actúan sobre esa proteína, haciendo que se abra y seleccione ciertos genes para usar-genes específicamente necesarios para reaccionar al entorno actual. Como si de coger un libro en una biblioteca se tratase, se selecciona una sección del ADN. <br> <br>
Básicamente, el ADN no es el comienzo de la reacción en cadena. En su lugar, la percepción de la membrana celular del medio ambiente es el primer paso. Todo se inicia en función de lo que la célula percibe de su entorno. Si no hay percepciones, el ADN es inactivo.
Cualquier estímulo ambiental, no hace nada. La vida se debe a cómo la célula responde al medio ambiente.<br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/gdDZzz/adn3.png" hspace="5" vspace="5" style="float:left" />
</div>
<b>3. La percepción del medio ambiente no es necesariamente la realidad del medio ambiente</b> <br>
En un estudio de 1988 realizado por John Cairns, publicado en la revista Nature titulado “El origen de los mutantes”, demostró que las mutaciones en el ADN no eran aleatorias, sino que sucedieron de una manera predeterminada en respuesta a las tensiones ambientales. <br> <br>
En cada una de nuestras células, tenemos genes cuya función es reescribir y adaptar los demás genes según sea necesario. En un gráfico que ilustra los resultados de Cairns en la revista, se demostró que las señales ambientales estaban separadas de la percepción del organismo de las señales ambientales. ¿Qué significa esto?<br> <br>
La percepción de un ser sobre el medio ambiente actúa como un filtro entre la realidad del medio ambiente y la reacción biológica a ella. ¡La percepción reescribe los genes!<br> <br>
<b>4. Creencias humanas, eligiendo percibir un ambiente positivo o negativo</b> <br>
Así como una célula tiene proteínas receptoras para percibir el ambiente fuera de la membrana celular, los seres humanos tienen los cinco sentidos. Éstos “cinco sentidos”son los que ayudan a determinar qué genes necesitan ser activados para una situación dada. <br>
Los genes son como los programas en un ordenador. Estos programas se pueden dividir en dos clases: la primera se relaciona con el crecimiento, o la reproducción; El segundo se refiere a la protección del complejo, del individuo. <br><br>
Cuando una célula encuentra nutrientes, los genes de crecimiento son activados y utilizados. Cuando una célula encuentra toxinas, los genes de protección se activan y utilizan.<br>
Cuando un ser humano encuentra amor, los genes de crecimiento se activan. Cuando un ser humano encuentra miedo, los genes de protección se activan. Eso se produce por los neurotransmisores, hormonas y demás elementos que la célula encuentra en el ambiente externo, que interaccionan con su membrana. Imagina lo mucho que puede llegar a influir el tipo de alimentación que elijas.<br><br>
Una persona puede percibir un ambiente negativo donde realmente hay un ambiente de apoyo o positivo. Cuando esta percepción negativa activa los genes de protección, la respuesta del cuerpo es la “lucha o huida” programada. Así pues, nuestros pensamientos, o mas bien dicho, nuestra percepción de la realidad controla nuestra genética.<br><br>
<b>5. Luchar o volar</b><br>
Si imaginas las respuestas que una vez necesitamos para huir de un león, por ejemplo, las piernas habrían sido infinitamente más importantes en esa situación inmediata que el sistema inmunológico. Por lo tanto, el cuerpo favorece las piernas y descuida el sistema inmunológico. El flujo de sangre se dirige lejos de los órganos vitales a los miembros, que se utilizan para luchar y correr. El sistema inmunológico se hace de menor importancia. <br> <br>
Por lo tanto, cuando una persona percibe un ambiente negativo, el cuerpo tiende a descuidar el sistema inmunológico y los órganos vitales. El estréstambién nos hace menos inteligentes, menos claros. La parte del cerebro relacionada con los reflejos se da más prominencia en el modo de lucha o vuelo que la parte relacionada con la memoria y otras funciones mentales.<br> <br>
Cuando una persona percibe un ambiente amoroso, el cuerpo activa genes de crecimiento y nutre el cuerpo.
Por ejemplo, en los orfanatos de Europa del Este donde se les da a los niños muchos nutrientes, pero poco amor, se ha descubierto que muchos de los internos tienen retraso en el desarrollo en términos de altura, aprendizaje y otras áreas. También hay una alta incidencia de autismo. El autismo, en este caso, es un síntoma de los genes de protección que se activan, como las paredes que están poniendo, construyendo un muro a su alrededor.<br> <br>
Las creencias actúan como un filtro entre el ambiente real y nuestra biología. Así pues, las personas tenemos el poder de cambiar nuestra biología. Es importante mantener una percepción clara del entorno, de la realidad que nos envuelve, porque de lo contrario, no desarrollaremos los productos correctos, biológicamente hablando, para el entorno real. He aquí la diferencia biológica entre pensar en positivo o en negativo.<br> <br>
<b>No eres víctima de los genes. ¿Qué creencias escoges para que tus genes sean expresados?
La creencia de la biología, escrito por el Dr. Bruce Lipton</b> <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis03 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br> <br>
<b>Fuente: </b>
<a>despiertamagazine.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jbNuhK/sentidos.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los mensajes subliminales trabajando</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nu2Ybe/moleculas.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian las moleculas en tus genes</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>