<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>¿Porque es complicado entender a las mujeres?</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Siempre nos preguntamos <b>¿porqué los hombres no entienden a las mujeres?,</b> además de porque somos diferentes, la verdadera causa se origina en las diferencias neuronales, ya que el cerebro masculino es más lento y menos preciso para interpretar las emociones femeninas.
Sin prejuicios en torno al tema, la ciencia afirma que esto se debe a <i>“diferencias en la estructura de sus cerebros”</i>, y es por esta razón que les cuesta entender las emociones de su opuesto. <br><br>
<img class=publi3 src="https://image.ibb.co/ifdHHK/mujer1.png" hspace="5" vspace="5" style="float:left" />
<i><b>“La fuerza de las mujeres depende de que la psicología no puede explicarla. Los hombres pueden ser analizados, las mujeres sólo pueden ser amadas.” </b> </i>
<h5>Las mujeres opinan..!</h5>
Los hombres no entienden a las mujeres, quizá puedan imaginarse lo molesto que debe ser estar todo el día con <i>“dolor de panza”</i>, pero no identificar todo el malestar que nos ocasiona la menstruación cada mes. <br>
<h5>Ahora para equilibrar un poco el tema, los hombres opinan..!</h5>
De acuerdo con los hombres, la incomprensión o falta de entendimiento no aplica a todo, sino a ciertas actitudes, comportamientos y cosas más puntuales, a las cuales muchas veces no logran encontrarles una explicación razonable. Y Quizá al leer este artículo puedan ayudar a los hombres que las rodean a entender algunas de estas cosas. ¡Presten atención chicas y comprendan!
Razones por las cuales los hombres no entienden a las mujeres: <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>1. Accesorios desparramados por toda la casa</b>
Muchos hombres nos preguntamos ¿por qué las cintas para atarse el cabello siempre se encuentran desparramadas por toda la casa? ¿No es más fácil guardarlas todas en un mismo cajón, por ejemplo? Somos muchos los que nos hacemos este tipo de preguntas luego de encontrarnos con los accesorios de la mujer con la que convivimos en lugares como las manijas de las puertas, la canilla, el televisor ¡y hasta el microondas!
<b>“Las mujeres son como las obras de arte modernas. Si tratas de entenderlas, no podrás disfrutarlas.”</b> <br>
<b>2. Miedo desenfrenado a los insectos</b>
Teniendo en cuenta que, se supone, las mujeres están preparadas para soportar intensos dolores, como el que implican la depilación y el parto, ¿cómo es posible que ante la presencia del más indefenso de los insectos pierdan la cordura? Sinceramente, los hombres no logramos encontrar coherencia alguna entre estos dos comportamientos femeninos tan antagónicos. <br>
<img class=publi3 src="https://image.ibb.co/cyjPxK/mujer2.png" hspace="5" vspace="5" style="float:left" />
<b>3. Cientos de pares de zapatos</b>
Los años pasan y nosotros seguimos sin encontrar una respuesta a esta pregunta ¿es realmente necesario tener esa cantidad de pares de zapatos? Y si en verdad es tan necesario, <b>¿por qué jamás las vemos usarlos todos? </b>Por algún motivo que claramente aún no comprendemos los hombres, las mujeres nunca dejan de comprarse zapatos, ¡pero siempre usan los tres mismos pares! <br>
<b>4. Zapatos muy altos</b>
No es que los hombres no podamos entender que usen zapatos altos, lo que no se entiende es que usen unos ¡tan altos! Es verdaderamente inconcebible que estén cómodas sobre semejantes tacos, y les aseguro que no es necesario que se suban a esas cosas para verse lindas. <br>
<b>5. Cómo concluir un llamado o un mensaje de texto</b>
Nunca entenderemos cuál es la palabra justa que hay que decir cuando vamos a cortar el teléfono o cuando nos despedimos por mensaje de texto. Sea como sea, a las mujeres siempre les parece que <i>“estamos distantes”</i> o, en el más exagerado de los casos, que <i>“no las queremos más”.</i> Sería mucho más fácil si nos dijeran exactamente qué es lo que quieren que les digamos, ¡y listo!
Seguramente que estas pequeñas cosas que los hombres no entienden de las mujeres no son tan difíciles de explicar. Si alguna mujer está dispuesta a hacerlo, que lo haga. ¡Todos los hombres estarán agradecidos! <br> <br>
<img class=publi3 src="https://image.ibb.co/mrv8Pz/mujer3.png" hspace="5" vspace="5" style="float:left" />
Principales diferencias psicológicas y biológicas entre hombres y mujeres: <br>
Todos sabemos que la niña mujer se identifica con la madre para construir su identidad femenina, del mismo modo que el niño hombre se identifica con su padre para cimentar su identidad masculina.
Así mismo, en la vida de las niñas y niños, giran otras figuras, masculinas y femeninas, que también influyen y se suman a la construcción de la identidad sexual. <br>
A pesar de que la naturaleza de ambos es completamente distinta, durante su desarrollo, y a partir de las referencias masculinas y femeninas, se inclinan más a unas que a otras, en función de lo prácticas y efectivas que sean para su funcionamiento general. <br> <br>
Aunque hombre y mujer coinciden en que forman parte de la misma especie, y pueden considerar que es más lo que los une que lo que los separa, aquí nos centraremos en lo que realmente marca la diferencia, y en el porqué los hombres no entienden a las mujeres. <br> <br>
<b>1. Diferencias en los cromosomas</b>
Desde la concepción, los aproximadamente 100 trillones de células que forman el cuerpo del hombre y de la mujer, son diferentes. En el hombre, todas sus células son masculinas, el cromosoma Y le identifica. Un solo cromosoma Y de los 23 pares que lo conforman, es suficiente para que el desarrollo posterior sea masculino. <br>
<b>2. Juegos para niños y juegos para niñas</b>
Por más que los padres, adultos y educadores intentan influir, se ha comprobado que las niñas tienden a jugar a juegos más tranquilos como las casitas o las muñecas, mientras los niños acostumbran a jugar a juegos de mayor movimiento, lucha y acción, notándose desde muy temprana edad nuestra inquietud de porqué los hombres no entienden a las mujeres.
<img class=publi3 src="https://image.ibb.co/m8ueWe/mujer4.png" hspace="5" vspace="5" style="float:left" />
Como nos cuenta Louann Brizendine, “en una guardería irlandesa, los investigadores observaron que los niños cogían los juguetes de cocina de las niñas e incluso desatornillaban la llave del grifo del fregadero en miniatura para utilizar sus piezas como armas de juguete. A su vez, convertían espátulas en espadas para luchar contra los malos y utilizaban alubias a modo de balas”.
<i>“La intuición de una mujer es más precisa que la certeza de un hombre”.</i> <br>
<b>3. El impulso sexual</b>
Los últimos estudios demuestran que en las áreas cerebrales, el área pre-óptica medial (APM), que es donde se sitúa el impulso sexual, es 2’5 veces mayor en el hombre que en la mujer. El hombre necesita de ese impulso, no solo para experimentar su sexualidad, también para ir hacia el mundo, hacer valer su fuerza, y conquistar, entre otras muchas capacidades que derivan de la energía sexual como el empuje, el valor, el coraje, la creatividad, la iniciativa y la dirección clara. <br>
<b>4. Hormonas distintas</b>
A nivel hormonal, en la mujer el estrógeno, la progesterona y la oxitocina establecen relación con los circuitos cerebrales para propiciar conductas propiamente femeninas. En el hombre predominan la testosterona, la vasopresina y una hormona llamada SIM (Sustancia de Inhibición Mülleriana), estas diferencias hormonales son parte de las causas por las cuales los hombres no entienden a las mujeres. <br>
<b>5. Expresión de los sentimientos</b>
La mujer exterioriza sus sentimientos, el hombre tiende a interiorizar y los relativiza. La mujer se caracteriza por su capacidad de expresión, por comunicar lo que piensa y lo que siente; en el hombre predomina la actitud de silencio y pocas palabras.
La mujer necesita hablar sobre sus conflictos; el hombre solo habla (si lo hace), cuando ya los ha resuelto. A las mujeres les comunica la palabra; a los hombres la acción, por norma general. <br>
<img class=publi3 src="https://image.ibb.co/k7wF4z/mujer5.png" hspace="5" vspace="5" style="float:left" />
<b>6. Lenguaje femenino y masculino</b>
El lenguaje masculino da preferencia a temas concretos referidos a cómo funcionan las cosas y al mundo exterior, el mundo objetivo. El lenguaje femenino es más cotidiano, más subjetivo, vinculado a los sentimientos y al mundo interior. <br>
La lingüista Deborah Tannen (2007) explica que desde la infancia, las mujeres utilizan el lenguaje básicamente para buscar la confirmación del otro y afianzar su intimidad. Los hombres, en cambio, lo usan sobre todo con la finalidad de mantener su autonomía, su independencia y su posición social. Tendencias generales sobre las que todavía no hay datos concluyentes. <br>
<b>7. Sexualidad: diferencias entre géneros</b>
En el sexo, así como la mujer concede más importancia al antes y al después del acto sexual, el hombre está más centrado en el momento de la penetración y el orgasmo. A nivel instintivo, el hombre está más en contacto con su necesidad sexual, mientras que la mujer lo está más con su necesidad afectiva. Cuando ambas necesidades consiguen unirse y entrelazarse, hombre y mujer disfrutan plenamente del sexo en relación. <br>
Entre las causas de porqué los hombres no entienden a las mujeres, también la cultura juega un papel de suma importancia a la hora de marcar estas diferencias, sin embargo, las diferencias hormonales y biológicas definitivamente tienen una profunda huella marcada en este tema.
Solo resta mencionar que los sentimientos amorosos que unen a las parejas, representan el centro del equilibrio en la comprensión y entendimiento que ambos puedan lograr para conformar una relación sólida, duradera y llena de maravillosos momentos de auto-descubrimiento. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jOcJNK/reproduccion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La felicidad de la pareja y el ciclo de reproducción</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gz9yNK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La comunicación no verbal - sensorial</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/ewvSGe/atraeramor2.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La ley de la Atracción en el Amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor12())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9kuwe/estresamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Como manejar el Estrés en el amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor13())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWK4we/felices.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Y vivieron felices por siempre</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor14())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eicrbe/parejaperfecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿ Exite la pareja ideal?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor15())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cDt3pz/eslacorrecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Esta con la pareja correcta?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/h604zz/meditacionamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Atrae tu pareja ideal con la meditación</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gBn4Uz/medianaranja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Exista la pareja perfecta?¿ Tu media naranja? </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>