
 <footer  class="footer   bg-dark text-center" style="background-color: #9f9fa3;" color="dark">
 	<div class="container">
 		
 			<a class="text" > PleyadesM.com</a>
  <a class="text" >© {{ anio }} Copyright. | </a>

  <a href="https://www.pleyadesm.com/#/cookies" target="_blank">Política de Cookies |</a> 
  <a href="https://www.pleyadesm.com/#/privacidad" target="_blank">Política de Privacidad |</a> 
  <a href="https://www.pleyadesm.com/#/terminos" target="_blank">Términos y Condiciones </a>
<!--
    <a class="nav-link" [routerLink] = "['/privacidad']">Política de Privacidad</a>
    <a class="nav-link" [routerLink] = "['/cookies']">Política de cookies</a>
  	<a class="nav-link" [routerLink] = "['/terminos']">Términos y Condiciones</a>
-->
  </div>
</footer>

