<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>El estado de sonambulismo</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
El logro de la etapa sonámbula de la hipnosis puede representar un procedimiento extremadamente complejo. Debido a ciertas características inherentes de esta etapa, es más fácil de lograr mediante la heterohipnosis. Sin embargo, esto no excluye el hecho de que se puede alcanzar sin la ayuda de un hipnotizador. Más importantes que los procedimientos de prueba y profundización que describiré para usted en este capítulo son la comprensión y la conciencia de algunas de las complejidades involucradas, primero en lograr el estado hipnótico, luego profundizar y, finalmente, alcanzar el sonambulismo. <br> <br>
<img class=publi3 src="https://image.ibb.co/dhcrUz/son1.png" hspace="5" vspace="5" style="float:left" />
No hay respuestas absolutas o definitivas a muchos de los problemas que pueden surgir. Puede enredarse con la racionalización tan fácilmente cuando desee que los hechos se ajusten a una teoría particular. Señalo esto al lector porque, a medida que el tema profundiza, el procedimiento puede volverse más complicado. <br> <br>
Hay muchos fenómenos interesantes que pueden ser provocados en el estado de sonambulismo. Son de interés en su mayor parte, para los estudiantes de comportamiento anormal y son pertinentes desde un punto de vista académico. No entran en el ámbito de este libro o de la hipnosis con fines terapéuticos y pueden llevar al lector por mal camino. Si los lectores estuvieran interesados en otros fenómenos hipnóticos, los remito a Modern Hypnosis por Leslie Kuhn y Salvadore Russo, Ph.D., Experimental Hypnosis por Leslie LeCron, Time Distortion in Hypnosis por Milton Erickson, MD y Lynn F. Cooper, MD, e hipnotismo: un estudio objetivo en sugestionabilidad por André M. Weitzenhoffer, Ph.D. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Como se discutió anteriormente, algunas personas experimentan dificultades para alcanzar los estados hipnóticos más profundos. Mi consejo es ser paciente y continuar trabajando contigo mismo. No es imprescindible ni vital alcanzar la etapa de sonambulismo para obtener resultados terapéuticos. Es un concepto erróneo por parte de muchos estudiantes que deben entrar en el estado más profundo posible para obtener resultados. Pueden ocurrir cambios dramáticos en todos los niveles de hipnosis. <br> <br>
El estado de sonambulismo es necesario en hipnoterapia cuando existe la necesidad de que el paciente reviva algún episodio traumático. También es útil cuando el paciente es reacio a discutir conscientemente ciertos aspectos de su problema. <br> <br>
Muchas técnicas hipnoterapéuticas, como la amnesia, la hipermnesia, la progresión, la paramnesia, la escritura automática, la inducción de los sueños, la regresión, la producción de conflictos experimentales y la observación de cristales o espejos requieren un estado de sonambulismo. <br> <br>
Para aquellos de ustedes interesados en la hipnoterapia, no puedo recomendar ningún libro más fino que Hipnoterapia de War Neuroses por John G. Watkins, Ph.D. En este libro, la teoría de la hipnoterapia se ha presentado de forma diagramática para facilitar la comprensión y se ha demostrado que es una amalgama de conceptos y prácticas de diversas escuelas de pensamiento. <br> <br>
La mayoría de los estudiantes de hipnosis equiparan el fenómeno de la amnesia con el estado de sonambulismo. El error que cometen es tratar de lograr la amnesia. Es similar al perro tratando de atrapar su cola. Es imposible para el sujeto sugerir efectivamente la amnesia para sí mismo.Si recuerda lo que se suponía que debía olvidar, ha fracasado. <br> <br>
<img class=publi3 src="https://image.ibb.co/h3BJ9z/son2.png" hspace="5" vspace="5" style="float:left" />
Si realmente no recuerda lo que se suponía que debía olvidar, ni siquiera recuerda la sugerencia de amnesia y no puede sentir satisfacción por su éxito porque no sabe que ha logrado la sugerencia posthipnótica. A menos que se elabore un conjunto elaborado de sugerencias posthipnóticas, es una prueba imposible para la autohipnosis. <br> <br>
Sé que el lector está ansioso por comenzar su acondicionamiento para el estado de sonambulismo, pero todavía hay algunas observaciones pertinentes que deben recordarse antes de seguir adelante. El lector no debe memorizar textualmente ninguna de las pruebas involucradas en la prueba del estado de sonambulismo. Todo lo que es necesario recordar es la forma general y el objetivo que busca. <br> <br>
El objetivo es aumentar su sugestionabilidad lo que, a su vez, significa profundizar el estado hipnótico. Después de cada paso, debes darte sugerencias de que profundizarás aún más la próxima vez. También debe designar un período de tiempo específico para trabajar con la autohipnosis. Las sugerencias son las siguientes: "Trabajaré con la autohipnosis durante 15 minutos. Al final de ese tiempo, abriré los ojos y me despertaré sintiéndome maravillosamente bien. Estaré completamente despierto y refrescado. En caso de peligro, podré despertar inmediatamente y actuar en consecuencia ". <br> <br>
Algunos hipnotizadores les dicen a sus sujetos que "pongan su mente en blanco". Supongo que lo que realmente quieren decir es que deben tratar de pensar solo en lo que el hipnotizador les está diciendo. ¿Alguna vez has intentado dejar tu mente en blanco? Pruébalo por un momento.Es una imposibilidad Si el hipnotista persiste en esta línea, nunca tendrá éxito. Es el enfoque equivocado. <br> <br>
El sujeto, debido a su incapacidad para cumplir con esta sugerencia, está librando una batalla perdida. También es casi imposible para el sujeto concentrarse solo en lo que dice el hipnotizador. <br> <br>
Cualquier palabra que el hipnotizador diga puede iniciar un tren de pensamiento consciente e inconsciente. Por lo tanto, en realidad, esto también es imposible. Sin embargo, realmente no es necesario que el sujeto mantenga sus pensamientos concentrados únicamente en lo que se dice, siempre y cuando se mantengan en el área general. A veces, cuanto más intenta concentrarse, más se dispersan sus pensamientos. Supongamos que te digo: "Olvida la dirección 8721 Sunset Boulevard". <br> <br>
¿Lo que pasa? Cuanto más intentas olvidarlo, más lo recuerdas. Por lo tanto, no se preocupe si experimenta pensamientos vagabundos durante la inducción y la profundización de la hipnosis. Ahora está listo para continuar con más pruebas.<br> <br>
<h5> Las primeras cinco pruebas deben dominarse antes de continuar</h5>
<b>La prueba No. 6 </b>se conoce como la prueba "volar". En esta prueba, una vez bajo hipnosis, imagina que una mosca se está arrastrando en la parte posterior de su mano derecha o izquierda. Una vez que sientes la mosca, sabes que estás profundamente hipnotizado. Incluso puede sentir la necesidad de mover la mano y sacudir la mano. Cuando esto sucede, usted sabe, por supuesto, que está profundamente hipnotizado. Aquí hay una muestra del tipo de sugerencias para dar: <br> <br>
<img class=publi3 src="https://image.ibb.co/bYwUGe/son3.png" hspace="5" vspace="5" style="float:left" />
"Mientras cuento hasta diez e incluso antes de llegar a la cuenta de diez, sentiré una mosca que se arrastra en el dorso de mi mano derecha.Esta ilusión me parecerá muy real. Uno ... Mi mano derecha está completamente relajada. Dos ... Me siento completamente a gusto. Tres ... Estoy empezando a sentir un agradable hormigueo en el dorso de mi mano derecha. Cuatro ... Este sentimiento se está volviendo fuerte. Cinco ... Se siente como si una mosca se moviera en el dorso de mi mano. Seis ... He tenido este mismo sentimiento antes. Siete ... Puedo sentir la mosca.Ocho ... La sensación es muy definitiva. Nueve ... Al mover la mano, la mosca desaparecerá (si has sentido la mosca, mueve la mano). Diez ... Se ha ido ". <br> <br>
<b>La prueba No. 7</b> se conoce como la prueba de "cigarrillo" y, por supuesto, es solo para aquellos de ustedes que fuman. En esta prueba, te das sugerencias posthipnóticas durante el estado hipnótico, te despiertas y luego notas los efectos de las sugerencias posthipnóticas. <br> <br>
Si el cigarrillo sabe amargo o tiene un sabor u olor repugnante, y si además le resulta imposible fumar más de tres bocanadas, necesitando apagar el cigarrillo, sabe que las sugerencias posthipnóticas funcionan perfectamente y que es un excelente sujeto hipnótico. . Aquí están las sugerencias para darse mientras está bajo hipnosis: <br> <br>
"Cuando cuente hasta tres, abriré los ojos y me despertaré sintiéndome maravillosamente bien y tendré un fuerte deseo de fumar un cigarrillo. Al encender el cigarrillo, notaré que hay un sabor muy amargo, fuerte y repugnante al cigarrillo. A medida que sigo fumando el cigarrillo, el efecto desagradable se volverá más y más fuerte. Aunque me doy cuenta de que me he dado estas sugerencias posthipnóticas, ejercerán una fuerza poderosa fuera de mi control consciente, y tendré que extinguir el cigarrillo después de tres inhalaciones. Como ahora cuento hasta tres, abriré los ojos y me despertaré sintiéndome bien. Uno dos tres." <br> <br>
<b>La prueba n. ° 8</b> se denomina prueba de "sol". En esta prueba, te imaginas en un traje de baño, shorts o traje de deporte en la playa o en algún otro lugar familiar tomar un baño de sol. Te imaginas que es un hermoso día de verano. Cuando te ves relajado, imaginas que una nube está bloqueando el sol, pero a medida que cuentes hasta tres, la nube se alejará y sentirás el cálido y agradable brillo de los rayos del sol en tu cara y en tus manos. Estas son las sugerencias que puede usar: <br> <br>
<img class=publi3 src="https://image.ibb.co/bwuGwe/son4.png" hspace="5" vspace="5" style="float:left" />
"Mientras cuento hasta tres, sentiré los cálidos y agradables rayos del sol en mi cara y mis manos. Uno ... La nube se está moviendo, y puedo comenzar a sentir los cálidos y agradables rayos del sol. Dos ... La nube se mueve cada vez más, exponiendo más y más del sol. Puedo sentir el calor de los rayos del sol. Tres ... La nube se ha alejado del sol y puedo sentir la fuerza cálida y completa del sol. Es una sensación agradable, pero a medida que sigo contando hasta cinco, la sensación cálida se disipará. Cuatro ... La sensación de calor se está yendo. Cinco ... La sensación cálida se ha ido, y me siento perfectamente normal en todos los aspectos ". <br> <br>
Una variación de esta prueba es verte tirado cómodamente delante de una chimenea. En este caso, imaginas que alguien está agregando madera al fuego. Cuando se hace esto, sientes cada vez más el cálido resplandor del fuego. Si usa la técnica de chimenea, intente incorporar el sonido de la lluvia en la imagen. Si "escuchas" lluvia, has creado una alucinación auditiva positiva y puedes considerarte un excelente sujeto. <br> <br>
También puede visualizar una situación en la que tendría frío. Esto no es tan agradable como la imagen que uno puede hacer sobre una chimenea y por lo tanto crea un poco más de resistencia ya que nadie quiere sentirse incómodo. <br> <br>
<b>La prueba n. ° 9</b> es la prueba de "brisa". Se puede combinar con la prueba anterior. Después de alcanzar la sensación de calidez, se cuenta tres (o el número que desee), lo que sugiere que sentirá la brisa fresca del océano (si está en la playa) en su cara y manos. Incluso puede llevar este paso más allá, sugiriendo que incluso olerá el olor del agua salada. Esto se conoce como ilusión olfativa y, si eres capaz de crear este efecto, puedes estar seguro de que eres un sujeto sonámbulo. Aquí hay sugerencias que puede usar: <br> <br>
"Mientras cuento hasta tres, gradualmente sentiré la brisa fresca del océano que viene sobre las olas. Será una sensación muy agradable. Uno ... Empiezo a sentir la brisa fresca del océano, especialmente en mi cara y mis manos. Dos ... La brisa es cada vez más fuerte. Tres ... Definitivamente puedo sentir la brisa fresca del océano. Mientras sigo contando hasta cinco, percibiré el agradable y saludable aroma del agua salada. Cuatro ... Estoy empezando a oler el agua salada. Cinco ... definitivamente puedo oler el agua salada ". <br> <br>
Ahora te das las sugerencias apropiadas de que el sentimiento (ilusión) se desvanecerá al despertar o en un conteo específico. Puede ser tan simple como esto: "Cuando cuente hasta tres, abriré los ojos y despertaré sintiéndome muy refrescado. La sensación de la brisa fresca del océano y el olor del aire salado se habrán desvanecido por completo. "En este momento, cuentas hasta tres y abres los ojos. <br><br>
<b>La prueba n. ° 10 </b>es la prueba del "handclasp".
Esto se usa con frecuencia para evaluar la profundidad de la hipnosis. Doblas las manos con los dedos fuertemente entrelazados y juntas las palmas.
<img class=publi3 src="https://image.ibb.co/gMk0NK/son5.png" hspace="5" vspace="5" style="float:left" />
Luego te das una sugerencia hipnótica de que, a la cuenta de tres, te será imposible desbloquear las manos. Después de intentar y no puede desbloquear las manos, continúa contando hasta cinco, lo que sugiere que podrá hacerlo cuando llegue al conteo de cinco. Por cierto, debes quitar cualquier anillo que puedas estar usando antes de intentar esta prueba. Estas son las sugerencias que puede seguir:
<br> <br>
"A medida que complete el conteo de tres, intentaré desbloquear mis manos, pero no podré hacerlo hasta que cuente hasta cinco. Uno ... Mis manos están bien juntas. Dos ... Mis dedos están bloqueados más y más. Tres ... Me es imposible desbloquear mis manos hasta que cuente hasta cinco. Cuatro ... Cuando llegue a la cuenta de cinco, podré desbloquear mis manos con mucha facilidad. Cinco ... ahora puedo desbloquear mis manos muy fácilmente ". <br> <br>
<b>La prueba n. ° 11</b> es la prueba del "brazo". Aquí hay otra prueba que se usa con frecuencia para evaluar la receptividad a la hipnosis. Haga un puño cerrado y extienda su brazo en frente de usted lo más lejos posible. Visualice su brazo como una masa sólida, rígida y rígida como una barra de acero. Después de que su brazo esté extendido, dése una sugerencia hipnótica de que no podrá doblar el brazo cuando complete la cuenta de tres. A medida que continúe contando hasta cinco, podrá doblar el brazo con mucha facilidad. Aquí hay una forma de sugerencia que puede usar: <br> <br>
"Cuando llegue a la cuenta de tres, trataré de doblar mi brazo, pero será imposible hacerlo hasta que cuente hasta cinco. No importa cuánto lo intente, será absolutamente imposible. Uno ... Mi brazo está rígido y rígido como una barra de acero. Dos ... Puedo sentir la rigidez en mi brazo.Tres ... Es imposible para mí inclinar mi brazo hasta que cuente hasta cinco. Cuatro ... Puedo sentir que la rigidez se va lentamente. Cinco ... ahora puedo doblar mi brazo con facilidad y se siente normal en todos los aspectos ". <br> <br>
<b>La prueba n. ° 12 </b>es la prueba del "ojo". Esta es probablemente la prueba más utilizada en la hipnosis. Muchos sujetos equiparan la incapacidad para abrir los ojos con la hipnosis. Muchos asumen que si pueden abrir los ojos, no han sido hipnotizados. <br> <br> Debo enfáticamente señalar que esto no es verdad. El sujeto puede fallar la prueba de la vista y aún haber estado bajo hipnosis. En el estado profundo, sonámbulo, el sujeto puede abrir los ojos sin afectar la profundidad del estado hipnótico. De hecho, esto se hace muchas veces para hacer que el sujeto haga escritura automática, mirar el cristal, mirar en espejo, hipnodrama y revivificación. Al realizar sugerencias post-hipnóticas en cualquier estado, se le dice frecuentemente al sujeto que abrirá sus ojos y llevará a cabo la sugerencia. <br> <br>
He descubierto que hay más ansiedad relacionada con la prueba de la vista que con cualquier otra prueba. Siento que es una reacción normal y que debe ser anticipada tanto por el hipnotizador como por el sujeto. Ocasionalmente, mientras hipnotiza a un nuevo sujeto, él abrirá sus ojos. <br> <br>
Esto puede suceder cuando el sujeto siente que está perdiendo la conciencia. Su habilidad para abrir los ojos le demuestra que él tiene el control. Uno de los principales temores que tiene el sujeto es su creencia de que perderá el control voluntario de sí mismo. El hecho de que pueda abrir los ojos disminuye su ansiedad. <br> <br>
<img class=publi3 src="https://image.ibb.co/gEoLNK/son6.png" hspace="5" vspace="5" style="float:left" />
Si parece haber demasiada amenaza para el individuo, utilizo un método que puede seguir. En lugar de sugerir que el sujeto será incapaz de abrir los ojos en un conteo específico, sugiero que se relaje tanto que le resulte demasiado esfuerzo abrir los ojos hasta que se realice un recuento adicional. En realidad, ¿qué podría tomar menos esfuerzo? Aquí hay sugerencias que puede usar:<br> <br>
"Mientras cuento hasta tres, trataré de abrir los ojos, pero no podré hacerlo porque me siento tan relajado. Me tomará demasiado esfuerzo abrir los ojos hasta que llegue a la cuenta de cinco o me obligue a despertar. Uno ... Mis ojos están cerrados, y estoy en un estado muy profundo de hipnosis. Dos ... Mis párpados están muy juntos. Tres ... Ahora me es imposible abrir los ojos. Aunque podré abrirlos a la cuenta de cinco. Cuatro ... Seré capaz de abrir mis ojos muy fácilmente a la cuenta de cinco. Cinco ... ahora puedo abrir mis ojos y despertarme sintiéndome alerta y completamente renovado. "<br> <br>
Al realizar la prueba de la vista, tratas de crear una imagen vívida de ti mismo completamente y totalmente relajado. Si realmente hiciste un gran esfuerzo, podrías abrir los ojos, pero debido a la agradable sensación de estar completamente relajado, prefieres no hacerlo. Puede compararse con que aguante el aire frío del invierno cuando está medio dormido en la cama en lugar de levantarse para cerrar la ventana que se ha dejado abierta demasiado. Por supuesto, puede levantarse y cerrar la ventana, pero se trata de gastar demasiada energía. En cambio, eliges soportar la incomodidad o sugerir que tu cónyuge cierre la ventana. <br> <br>
Para las siguientes tres pruebas, te das las sugerencias como se indica en las pruebas anteriores. Se debe señalar de nuevo que al final de la prueba, te das una sugerencia de que te sentirás normal en todos los aspectos. <br> <br>
<b>La prueba n. ° 13</b> es la prueba de "música". Esta prueba implica crear una alucinación auditiva. Dése la sugerencia de que en un conteo específico escuchará su canción favorita. Durará un minuto y luego se desvanecerá. <br> <br>
<b>La prueba n. ° 14 </b>es la prueba del "sueño". Está incorporado en una gran cantidad de hipnoterapia. Al sujeto se le dice que como el hipnotizador cuenta hasta tres, el sujeto tendrá un sueño que durará varios minutos y que recordará. Este sueño, además, llamará su atención sobre un incidente importante que ha olvidado hace tiempo, pero que será relevante para su problema. <br> <br>
En la autohipnosis, te sugieres a ti mismo que en un conteo específico tendrás un sueño muy placentero que durará varios minutos, al final de los cuales te despertarás sintiéndote renovado.Para aquellos lectores más interesados en producir sueños, recomiendo encarecidamente un libro fascinante llamado La producción experimental de sueños durante la hipnosis, del profesor David Ballin Klein. <br> <br>
<b>La prueba n. ° 15</b> es la prueba de "anestesia". Esto se realiza diciéndose a sí mismo que no sentirá el dolor asociado con el acto de pellizcarse.Sugieres que sentirás la presión de tus dedos pero no sentirás el dolor involucrado. Insto al lector a no clavar alfileres para probar la anestesia.Esto puede ser peligroso, causar infección y causar otros resultados dañinos. Tampoco deberías clavarte las uñas en la piel para asegurarte de que no sientas dolor. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>selfhypnosisusa.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/f3Qpzz/acercahipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Lo que debes saber sobre la autohipnosis</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hURtsK/placebo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El efecto placebo Y La mente </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cdF6ez/hipnosissolucion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Puede la hipnosis resolver sus problemas?</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>