<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Los pensamientos cambian las moleculas en tus genes</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
Con la creciente evidencia de que el entrenamiento de la mente o la inducción de ciertos modos de conciencia pueden tener efectos positivos para la salud, los investigadores han tratado de entender cómo estas prácticas afectan físicamente el cuerpo. Un nuevo estudio realizado por investigadores de Wisconsin, España y Francia reporta la primera evidencia de los cambios moleculares específicos en el cuerpo después de un período de práctica intensiva mindfulness [NdT: También conocido como Conciencia o Atención Plena] <br> <br>
<img class=publi3 src="https://image.ibb.co/bHLGUz/mole1.png" hspace="5" vspace="5" style="float:left" />
El estudio investigó los efectos de un día de práctica intensiva de mindfulness en un grupo de meditadores experimentados, en comparación con un grupo de control de sujetos no entrenados que practicaron actividades tranquilas no meditativas. Después de ocho horas de práctica de mindfulness, los meditadores mostraron una gama de diferencias genéticas y moleculares, incluyendo niveles alterados de la maquinaria de regulación génica y la reducción de los niveles de genes pro-inflamatorios, que a su vez se correlacionaban con una recuperación física más rápida luego de una situación estresante. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<img class=publi3 src="https://image.ibb.co/jP6qpz/mole2.png" hspace="5" vspace="5" style="float:left" />
"Según nuestro conocimiento, este es el primer trabajo que muestra alteraciones rápidas en la expresión genética de sujetos asociados a la práctica de la meditación mindfulness", dice el autor del estudio Richard J. Davidson, fundador del Centro para la Investigación de Mentes Saludables y profesor de psicología y psiquiatría en el William James and Vilas, de la Universidad de Wisconsin-Madison. <br> <br>
"Lo más interesante es que los cambios se observaron en los genes que son los objetivos actuales de los fármacos anti-inflamatorios y analgésicos", dice Perla Kaliman, el primer autor del artículo e investigador en el Instituto de Investigación Biomédica de Barcelona, España (IIBB-CSIC -IDIBAPS), donde se llevaron a cabo los análisis moleculares. <br> <br>
<h5>El estudio fue publicado en el Periódico Psychoneuroendocrinology. </h5>
Los entrenamientos basados en el mindfulness han demostrado efectos beneficiosos en enfermedades inflamatorias en los estudios clínicos previos y están avalados por la Asociación Americana del Corazón como una intervención preventiva. Los nuevos resultados proporcionan un posible mecanismo biológico para efectos terapéuticos. <br> <br>
<h5>La actividad genética puede cambiar según la percepción </h5>
Según el Dr. Bruce Lipton, la actividad genética puede cambiar a diario. Si la percepción en tu mente es reflejada por la química de tu cuerpo, y si tu sistema nervioso lee e interpreta el medio ambiente y luego controla la química de la sangre, entonces puedes literalmente cambiar el destino de las células mediante la alteración de tus pensamientos. <br> <br>
<img class=publi3 src="https://image.ibb.co/kwjzhK/mole3.png" hspace="5" vspace="5" style="float:left" />
De hecho, la investigación del Dr. Lipton ilustra que al cambiar tu percepción, tu mente puede alterar la actividad de tus genes y crear más de treinta mil variaciones de productos por cada gen. Él da más detalles al decir que los programas genéticos están contenidos dentro del núcleo de la célula, y se puede volver a escribir esos programas genéticos al cambiar la química de tu sangre. <br> <br>
En los términos más simples, esto significa que tenemos que cambiar nuestra forma de pensar si queremos curar el cáncer. "La función de la mente es crear coherencia entre nuestras creencias y la realidad que experimentamos", dijo Dr. Lipton. "Lo que esto significa es que tu mente ajustará la biología y el comportamiento de tu cuerpo para que encajen con tus creencias. Si te han dicho que te vas a morir en seis meses, y tu mente se lo cree, es muy probable que vayas a morir en seis meses. A eso se le llama el efecto nocebo, el resultado de un pensamiento negativo, que es lo contrario del efecto placebo, donde la sanidad está mediada por un pensamiento positivo". <br> <br>
Esta dinámica apunta a un sistema de tres partes: está la parte de ti que jura que no quiere morir (la mente consciente), inventada por la parte de ti que cree que sí (el pronóstico del médico mediado por la mente subconsciente), la cual luego pone en marcha la reacción química (mediada por la química del cerebro) para asegurarse de que el cuerpo se adapte a la creencia dominante. (La neurociencia ha reconocido que el subconsciente controla el 95 por ciento de nuestras vidas.) <br> <br>
Ahora ¿qué pasa con la parte que no quiere morir - la mente consciente? ¿No está afectando a la química del cuerpo también? El Dr. Lipton dijo que todo se reduce a cómo ha sido programada la mente subconsciente, la cual contiene nuestras creencias más profundas. Son estas creencias las que en última instancia, realizan el voto decisivo. <br> <br>
<img class=publi3 src="https://image.ibb.co/hrKApz/mole4.png" hspace="5" vspace="5" style="float:left" />
"Es una situación compleja", dijo el Dr. Lipton. Las personas han sido programadas para creer que son víctimas y que no tienen ningún control. Estamos programados desde el principio con las creencias de nuestras madres y padres. Así, por ejemplo, cuando nos enfermamos, nos dijeron nuestros padres que tenemos que ir al médico porque el médico es la autoridad con respecto a nuestra salud. Todos recibimos el mensaje durante toda la infancia que los médicos eran la autoridad en materia de salud y de que éramos víctimas de las fuerzas corporales más allá de nuestra capacidad de control. La broma, sin embargo, es que la gente con frecuencia mejoraba cuando se dirigía al médico. Fue entonces cuando la capacidad innata de autocuración entra en acción, otro ejemplo del efecto placebo. <br> <br>
<h5>La práctica de Mindfulness afecta específicamente a las vias reguladoras </h5>
Los resultados del estudio de Davidson muestran una regulación hacia abajo de los genes que han sido implicados en la inflamación. Los genes afectados incluyen los genes pro-inflamatorios RIPK2 y COX2, así como varios genes de la histona deacetilasa (HDAC), que regulan epigenéticamente la actividad de otros genes mediante la eliminación de un tipo de etiqueta química. Lo que es más, la medida en que algunos de esos genes se regularon hacia abajo se asoció con la recuperación más rápida de cortisol ante una prueba de estrés social que implicaba un discurso improvisado y tareas que requieren cálculos mentales realizados frente a una audiencia y una cámara de vídeo. <br> <br>
Los biólogos han sospechado durante años que algún tipo de herencia epigenética ocurre a nivel celular. Los diferentes tipos de células de nuestro cuerpo son un ejemplo. Las células de la piel y las células del cerebro tienen diferentes formas y funciones, a pesar de tener exactamente el mismo ADN. Debe haber mecanismos - que no sean del ADN - que se encargan de que las células de la piel permanezcan siendo células de la piel cuando se dividen. <br> <br>
Tal vez resulte sorprendente, dicen los investigadores, que no hubo diferencias en los genes probados entre los dos grupos de personas en el inicio del estudio. Los efectos observados se vieron sólo en los meditadores luego de la práctica de mindfulness. Además, varios otros genes modificadores del ADN no mostraron diferencias entre los grupos, lo que sugiere que la práctica de mindfulness ha afectado específicamente a ciertas vías de regulación. <br> <br>
<img class=publi3 src="https://image.ibb.co/dufuGe/mole5.png" hspace="5" vspace="5" style="float:left" />
El resultado clave es que los meditadores experimentaron cambios genéticos luego de la práctica de mindfulness que no se observaron en el grupo que no meditó, después de otras actividades silenciosas - un resultado que proporciona la prueba del principio de que práctica de mindfulness puede conducir a alteraciones epigenéticas del genoma. <br> rb
Estudios previos en roedores y en personas han mostrado respuestas epigenéticas dinámicas a estímulos físicos como el estrés, la dieta o el ejercicio en unas pocas horas solamente. <br>
"Nuestros genes son muy dinámicos en su expresión y estos resultados sugieren que la tranquilidad de nuestra mente puede realmente ejercer una influencia potencial en su expresión", dice Davidson.
"La regulación de las HDAC y las vías inflamatorias puede representar algunos de los mecanismos que subyacen en el potencial terapéutico de las intervenciones basadas en el mindfulness", dice Kaliman. "Nuestros resultados establecen las bases para futuros estudios para evaluar más a fondo las estrategias de meditación para el tratamiento de las enfermedades inflamatorias crónicas." <br> <br>
<h5>Las creencias subconcientes son la clave </h5>
Demasiados pensadores positivos saben que pensar buenos pensamientos - y recitar afirmaciones durante horas y horas - no siempre trae los resultados que prometen los libros para sentirse bien. <br> <br>
El Dr. Lipton no discutió este punto, porque los pensamientos positivos vienen de la mente consciente, mientras que los pensamientos negativos contradictorios son usualmente programados en la mente subconsciente, más poderosa. <br>
"El principal problema es que las personas están conscientes de sus creencias y comportamientos conscientes, pero no de las creencias y los comportamientos subconscientes. La mayoría de la gente ni siquiera reconoce que su mente subconsciente entra en el juego, cuando lo cierto es que la mente subconsciente es un millón de veces más potente que la mente consciente y que operamos del 95 a 99 por ciento de nuestras vidas desde programas subconscientes." <br> <br>
<img class=publi3 src="https://image.ibb.co/c3pzhK/mole6.png" hspace="5" vspace="5" style="float:left" />
"Tus creencias subconscientes están trabajando ya sea para ti o en tu contra, pero la verdad es que tú no estás controlando tu vida, porque tu mente subconsciente sustituye cualquier control consciente Así que cuando estás tratando de recuperarte desde un nivel consciente - citando afirmaciones y diciéndote a ti mismo que eres saludable - puede haber un programa subconsciente invisible que te está saboteando ".
El poder de la mente subconsciente se revela con elegancia en las personas que expresan múltiples personalidades. Mientras ocupa la mentalidad de una personalidad, el individuo puede ser muy alérgico a las fresas. Luego, al experimentar la mentalidad de otra personalidad, él o ella se las come sin consecuencias. <br> <br>
La nueva ciencia de la epigenética promete que cada persona en el planeta tiene la oportunidad de convertirse en lo que realmente es, con un poder inimaginable y la capacidad de operar a partir desde, e ir a, las más altas posibilidades, incluyendo la curación de nuestros cuerpos y de nuestra cultura, y vivir en paz. <br> <br>
<i>Michael Forrester
PreventDisease.com
Traducción por SOTT.net </i> <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br> <br>
<b>Fuente: </b>
<a>es.sott.net</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Articulos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jbNuhK/sentidos.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los mensajes subliminales trabajando</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b680NK/adn.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu ADN es controlado por tus pensamientos </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>