<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>¿Es la autohipnosis peligrosa?</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas05 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<i>Self Hypnosis: tan seguro como una buena noche de sueño</i>
La realidad es que la autohipnosis es un estado mental seguro y natural. Estás bajo su influencia, ya sea que lo apliques o no. Debido a que es un proceso natural y porque es practicado y aplicado comúnmente por millones de personas, creo que podemos concluir fácilmente que es seguro. <br> <br>
Esto se demostró hace muchos años cuando la locura de " Bridey Murphy " se apoderó del país. A pesar del hecho de que miles de hipnotizadores aficionados practicaban la hipnosis, resultó poco o ningún daño. A miles de personas médicas y no médicas se les ha enseñado la autohipnosis sin un solo caso de crisis o algo de naturaleza peligrosa reportado como resultado de la hipnosis.
<br> <br>
<img class=publi3 src="https://image.ibb.co/n4yOsK/danger5.png" hspace="5" vspace="5" style="float:left" />
Muchos pacientes que buscan tratamiento de psiquiatras, psicoanalistas y psicólogos competentes no siempre obtienen buenos resultados. Esto no significa que todos dejen de buscar ayuda de estos especialistas. Incluso un especialista no tiene un registro perfecto de la terapia exitosa de autohipnosis.<br> <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
¿Cuál es la objeción a la hipnosis? La teoría de que si se deshace de un síntoma, otro síntoma tomará su lugar, realmente no es cierto y generalmente es avanzado por aquellos que han tenido poca o ninguna experiencia en el campo de la hipnosis. Sin embargo, existe una diferencia de opinión incluso con aquellos que practican la hipnosis en esta área. Algunos hipnotizadores "intercambian" los síntomas al reemplazar un síntoma grave por uno menor, mientras que otros simplemente eliminan el síntoma. Esto último es lo que hace un médico cuando recomienda aspirina para la artritis. Él sabe que la aspirina no curará la artritis, pero quiere aliviar el síntoma. Decir que otro síntoma reemplazará el dolor no es científico, y es falso. Lo mismo es cierto de la hipnosis. <br> <br>
Lewis R. Wolberg, MD, profesor clínico de psiquiatría del New York Medical College , consultó a 30 expertos en el campo de la hipnosis y descubrió que algunos de los que sintieron la eliminación de los síntomas fue "irracional, temporal o completamente peligroso". La gran mayoría, sin embargo, "Empleó la eliminación de síntomas donde estaba indicado, y minimizó o ridiculizó cualquier posible efecto negativo".
<br> <br>
Otra objeción a la hipnosis es que los resultados son temporales y sintomáticos. Es bueno recordar que la mayoría del tratamiento médico se dirige específicamente a la eliminación de los síntomas. <b>¿Qué tan permanente es la mayoría del tratamiento médico? </b>Una vez que se combina la heterohipnosis con la autohipnosis, le brinda al paciente la oportunidad de utilizar sugerencias para su propio beneficio en cualquier momento que se necesiten. Esto, por supuesto, puede hacer que el alivio de los síntomas sea permanente.<br> <br>
<img class=publi3 src="https://image.ibb.co/fkwnKz/danger2.png" hspace="5" vspace="5" style="float:left" />
Como ejemplo, no vería ningún daño enseñarle a un paciente autohipnosis para el alivio sintomático de un problema de insomnio. Sin duda, sería mejor que deprimir físicamente los centros superiores del cerebro con pastillas para dormir para producir la pérdida del conocimiento todas las noches.<br> <br>
No necesito decirte que cada año se gastan millones de dólares en pastillas para dormir y los pacientes se vuelven dependientes de ellos, y que necesitan más y más pastillas para dormir. Muchos suicidios accidentales se derivan de una sobredosis de pastillas para dormir. Sin embargo, a pesar de los peligros inherentes de las pastillas para dormir que son evidentemente evidentes, están recetados por millones, por no mencionar los que llegan al mercado a través de canales ilegales. Además, ¿cuánto esfuerzo realmente se hace para sacar al paciente de las pastillas para dormir? También hay más suicidios voluntarios por pastillas para dormir que por cualquier otro método. Quizás si estas drogas no estuvieran disponibles tan fácilmente, muchas de estas desafortunadas personas estarían con nosotros hoy.<br> <br>
<b>¿Qué pasa con la afirmación citada con frecuencia de que "podrías hacer algo de daño"?</b> Exploremos esta área. Supongo que el lector está algo familiarizado con el trabajo de Emile Coué o al menos ha oído hablar de su famosa fórmula de autosugestión de "Día a día, en todos los sentidos, me estoy volviendo cada vez mejor". Durante nuestro tiempo, miles y miles de casos aparentemente indefensos y sin esperanza se han curado repitiendo esta afirmación una y otra vez, día tras día, mientras el individuo se duerme.
Creo que deberíamos dejar en claro que, ya sea que lo llamemos autosugestión , pensamiento positivo, meditación, yoga, afirmaciones o autohipnosis, en realidad estamos hablando de lo mismo. Todos requieren ciertos requisitos previos básicos antes de que funcionen de manera efectiva para el individuo.
<br> <br>
<img class=publi3 src="https://image.ibb.co/g7Qsme/danger3.png" hspace="5" vspace="5" style="float:left" />
Lo que debe recordarse es que las sugerencias se están filtrando a la mente subconsciente que no cuestiona, duda, analiza o cuestiona la eficacia de estos pensamientos beneficiosos. Puede estar seguro de que la repetición constante tendrá su efecto. ¿Acaso la mente, en el pasado, no aceptó el diagnóstico del individuo cuando dijo: <b>"Estoy enfermo", "tengo un complejo de inferioridad", "no puedo dejar de fumar", "no puedo perder peso, "No me puedo concentrar", "Puedo recordar el rostro de una persona, pero no recuerdo los nombres", "Me cuesta conciliar el sueño", "Parece que no puedo relajarme". No lo es tal individuo, en efecto, usando la autohipnosis? ¿Y no se ha convencido la persona de la validez de su estado actual? Esto es realmente peligroso. Es hipnosis negativa.</b><br> <br>
La pregunta que planteo es: <b>"¿Por qué la mente subconsciente no debería estar aún más convencida y responder fuertemente a las sugerencias que están en conformidad con el deseo natural de tener un cuerpo y una mente sanos?". </b>Nunca he sido capaz de encontrar una lógica responder.<br> <br>
Creo que esto es lo que sucede muchas veces. Una persona busca ayuda con un problema que, en realidad, no tiene nada que ver con la hipnosis. Su cura no está supeditada a ser hipnotizado ni a sugerencias que él o el hipnotizador sientan que están indicadas. Leerá en casi todos los libros y artículos que tratan de la hipnosis que "el hipnotismo no es una panacea".<br> <br>
<img class=publi3 src="https://image.ibb.co/d35gez/danger4.png" hspace="5" vspace="5" style="float:left" />
Nadie ha sugerido o implicado que deba usarse exclusivamente para todos los problemas emocionales. Puede leer un artículo de periódico advirtiendo sobre los "peligros" de la hipnosis. Puede hablar de una persona que se liberó de un síntoma y desarrolló otro en su lugar. Por lo general, obtiene una imagen groseramente distorsionada de lo sucedido, con muchos aspectos del caso no incluidos. Es una cuestión de tomar lo que quiere probar fuera de contexto. Los propagandistas utilizan esta técnica todo el tiempo para transmitir su mensaje. Es la vieja historia de decir una verdad a medias.<br> <br>
La crítica sincera y una sincera diferencia de opinión siempre son bienvenidas. Pero la crítica debe estar bien fundada desde un punto de vista científico y no derivarse de una reacción emocional. Probablemente hayas escuchado el comentario: "No dejaré que nadie me hipnotice". ¿Qué están diciendo realmente y qué representa la hipnosis para un individuo así? Para ellos, la hipnosis representa una especie de "hechizo mágico" que invoca un estado de completo desamparo y dependencia del hipnotizador. Anteriormente discutimos cómo esta concepción errónea puede tener lugar debido a la forma en que la hipnosis suele estar entrelazada con extrañas historias ficticias.<br> <br>
Para muchos, el estado hipnótico representa un período en el que se descarta la guardia consciente. Sienten que pueden revelar compulsivamente el lado más oscuro de su naturaleza, confesar su hostilidad o relacionar información que nunca divulgarían voluntariamente a nadie. Este es el verdadero peligro que ven en la hipnosis. Para protegerse de él, lo atacan. Es muy parecido al fanático vicio cruzado que militantemente ataca el pecado para aliviar sus propios sentimientos de culpa derivados del hecho de que el vicio realmente lo atrae.<br> <br>
Miedo a la hipnosis
El miedo a la hipnosis toma diferentes formas, pero básicamente es el miedo a revelar los verdaderos sentimientos. Un empleado, por ejemplo, en una reunión que incluía al empleador que no le gusta, nunca sería voluntario como sujeto de hipnosis si surgiera la ocasión. Temía que hiciera o dijera algo que pudiera poner en peligro su posición. <br> <br>
La hipnosis para él sería "peligrosa" porque temería tomar la oportunidad. La verdad es, sin embargo, que este individuo no estaría tomando ninguna oportunidad. El estado hipnótico no es un período confesional. El sujeto es consciente en todo momento de lo que está diciendo. Si el sujeto no desea seguir una línea de preguntas, le dice al hipnotizador. Si el hipnotista persistía aún más en esta línea, el sujeto se sacudiría el estado hipnótico.<br> <br>
Otro concepto erróneo sobre la hipnosis es la creencia generalizada de que el sujeto está inconsciente. Esto representa una amenaza para la seguridad del individuo. En realidad, el estado hipnótico es un período de conciencia extrema en el que el sujeto es hiperagudo. Además, el sujeto no está dormido, ni está en estado de trance en el sentido correcto de ese término. Está en un estado alterado de conciencia con sus facultades y capacidad de razonamiento intactas. Inducir la hipnosis simplemente crea un estado de ánimo o estado en el que los poderes de sugestionabilidad se acentúan.<br> <br>
<img class=publi3 src="https://image.ibb.co/j47isK/danger1.png" hspace="5" vspace="5" style="float:left" />
Cuando el público en general y la profesión médica se familiaricen con la verdadera naturaleza de la hipnosis, tendremos una mayor aceptación y utilización de este poder. Es un proceso lento pero que finalmente evolucionará. En el análisis final, creo que el único peligro que existe está en la mente del individuo que teme a la hipnosis debido a cualquier escrúpulo subjetivo que tenga sobre su propia participación emocional en el proceso hipnótico. <br> <br>
Por supuesto, todas las personas que usan la hipnosis para aliviar el dolor deben consultar a su médico de familia. <br> <br> El dolor es la forma en que la naturaleza indica que algo anda mal con el organismo. Sería insensato sugerir que un dolor en el estómago desaparecerá cuando esto pueda ser un signo de una operación necesaria del apéndice. Lo mismo puede decirse de los dolores de cabeza constantes por migraña. Se debe determinar que el dolor de cabeza no es un síntoma de un tumor cerebral o alguna otra afección patológica. Puede ser de interés saber que la hipnosis se usa actualmente para aliviar el dolor en pacientes con cáncer terminal. Hay un excelente artículo sobre este tema, y lo recomiendo a los médicos que lean este libro. Se llama "El uso de la hipnosis en el caso del paciente con cáncer", que apareció en la edición de enero de 1954 de Cancer . <br> <br>
Actualmente hay varios miles de dentistas en todo el país que usan la hipnosis. Han formado su propia sociedad y publican una revista trimestral, The Journal of the American Society of Psychosomatic Dentistry . Uno de los mejores libros en este campo se llama Dental Hypnosis Handbookde Jacob Stolzenberg, DDS <br> <br>
Un excelente artículo es "¡Peligro! Hypnotherapist at Work "de M. Abramson. El autor repasa brevemente los pros y los contras con respecto al uso médico de la hipnosis. Concluye: "Es la opinión del autor, basada en una amplia experiencia personal de más de 15 años, que el uso de la hipnoterapia por un médico o dentista que ha sido entrenado adecuadamente y que utiliza esta técnica estrictamente dentro de su campo de competencia conlleva no más (y probablemente menos) 'peligro' que el uso de muchas otras técnicas de tratamiento usadas hoy en medicina ".<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas05 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a href="">selfhypnosisusa.coom</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cdF6ez/hipnosissolucion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Puede la hipnosis resolver sus problemas?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bHGJsK/hipnosisfunciona.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Cómo funciona la autohipnosis?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>