<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<div class="row audios">
<h1 id="audiossubliminales"> Lecciones</h1>
</div>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<hr style="background-color:#fd0" />
<div class="container">
<p class="text-center"><b><i>Lecciones en videos</i></b></p>
<div class="row">
<div class="ensenanzas" (click)="(verAudiosensenanzas())"><img width="100%" height="100%" src="https://image.ibb.co/bz32Ge/espanol.png" alt="">
</div>
<div class="ensenanzas"(click)="(verAudiosensenanzas1())"><img width="100%" height="100%" src="https://image.ibb.co/kbzEUz/english.png" alt="">
</div>
<div class="ensenanzas" (click)="(verAudiosensenanzas2())"><img width="100%" height="100%" src="https://image.ibb.co/nMBHhK/portugues.png" alt="">
</div>
<div class="ensenanzas" (click)="(verAudiosensenanzas3())"><img width="100%" height="100%" src="https://image.ibb.co/hpcZUz/francais.png" alt="">
</div>
</div>
<hr style="background-color:#f3f4f7" />
</div>
<br>
Conforme adquieres conocimiento de temas relacionado a la mente, iras formando estructuras de información que se convertirán en creencias, estas creencias te ayudaran a despertar los diferente niveles de consciencia que harán que logres encontrar la verdad de tu ser. <br>
<div class="row">
<img width="300" height="200" src="https://image.ibb.co/fcXewe/ense.png">
</div>
<br> <br>
El secreto de hacer realidad un deseo, es tener la consciencia de haberlo obtenido en el presente, esto lo puedes ejercer con los ojos de la fe. Piense y sienta tu deseado realizado, y sus acciones se orientarán hacia conseguir lo que su mente subconsciente le dirija. Piensa y siente que le ira bien y atraes lo que vas sembrando en tu mente. Mirase a si mismo con todo el éxito que cree merecer, en esta sección se incluyen enseñanzas que le impulsaran a conocer la manera de conseguir lo que desea.
<br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
</div>
<div class="col-lg-4 col-md-4">
<h6>Artículos relacionados</h6>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hURtsK/placebo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El efecto placebo Y La mente </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>El día en que mi mente estaba 'poseída'</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
</div>
</div>