<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>La relajación psiquica y la salud</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Dejar de fumar, bajar de peso, aliviar el dolor y un largo etcétera. La hipnosis ha dejado atrás su matiz circense y se está convirtiendo en una herramienta para potenciar tratamientos médicos y psicológicos. No obstante, el intrusismo profesional pone en peligro esta práctica y la salud de quienes caen en las manos equivocadas. <br> <br>
<img class=publi3 src="https://image.ibb.co/j3nDpz/psiquica.png" hspace="5" vspace="5" style="float:left" />
Carlos tiene 39 años y trabaja en Las Rosas, pero vive en Madrid. Un día cualquiera, cuando regresaba en coche a su hogar, su vida cambió: sudor, palpitaciones, hormigueo en las manos. “Sentía que me iba a morir”, asegura.
Cambió de rumbo hacia un hospital, porque pensó que tenía un preinfarto, pero el médico le dijo que su corazón estaba bien. Había tenido un ataque de pánico y quizás necesitaba tratamiento psicológico. Los agresivos episodios continuaron y tuvo que buscar ayuda. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5>No es una terapia, es una herramienta</h5>
Rosario Linares, psicóloga clínica y directora de El Prado Psicólogos, recibió el caso de Carlos. Iniciaron un tratamiento psicológico y, después de algunas sesiones, le recomendó la hipnosis para complementar la psicoterapia.
<b>“La hipnosis es un estado de focalización sensorial en el que la persona está concentrada en sus vivencias internas”,</b> nos explica Rosario. <br> <br>
Agrega que una persona bajo hipnosis “puede enfocar su atención en un pensamiento, recuerdo, sentimiento o sensación, logrando, si así lo desea, modificar sus percepciones, comportamientos y emociones” en un estado de “relajación profunda psíquica y física”. El proceso tiene fases: inducción al trance, profundización, intervención y vuelta al estado de vigilia. <br>
La relajación es parte fundamental de una sesión de hipnosis. EFE/Everett Kennedy Brown
Antonio Capafons, del Grupo de Trabajo de Hipnosis Psicológica del Colegio Oficial de Psicólogos de la Comunidad Valenciana, trabaja en el tema desde 1989.
Este experto, catedrático de la Universidad de Valencia y doctor en psicología, precisa que “la hipnosis, en sí misma, no es una terapia, nunca lo ha sido ni hay evidencia que avale que tenga sentido utilizarla como única intervención”. <br> <br>
<img class=publi3 src="https://image.ibb.co/cft8NK/adiccion.png" hspace="5" vspace="5" style="float:left" />
Afirma que la hipnosis es útil como coadyuvante, es decir, cuando se usa como una herramienta de apoyo dentro de un tratamiento médico o psicológico, y que se trata de un campo de estudio experimental.
“En un caso de fibromialgia, por ejemplo, se puede utilizar medicación, psicológia e hipnosis porque la evidencia indica que aumenta la eficacia y la eficiencia del tratamiento general”, señala Capafons.
La doctora Linares coincide con esta aclaración: <b>“la hipnosis es una herramienta terapéutica” </b> el abordaje terapéutico, para que sea completo, debe ser más amplio. <br> <br>
La hipnosis gana terreno como alternativa de apoyo para dejar el tabaco. EFE/Luong Thai Linh
<b>“Cuando una persona quiere dejar de fumar, la hipnosis es un apoyo, pero la persona tiene que venir convencida de que quiere dejar el tabaco”,</b> enfatiza.
Cuando Carlos fue a su consulta buscaba una salida para el pánico. Pero, tras la sesión informativa sobre hipnosis, no sabía qué esperar. <br> <br>
<b>¿Para qué sirve la hipnosis?</b> <br>
Jesús Genaro, Presidente de la Sociedad de Hipnosis Profesional y Coordinador de la Federación de Hipnoterapia Clínica, asegura que la hipnosis toma fuerza para vencer a <b>“dos grandes monstruos: la adicción y la ansiedad, que ocupan el 80% del trabajo de un hipnoterapeuta”.</b>
La psicóloga Rosario Linares trata a afectados con baja autoestima, depresión, traumas, problemas sexuales y enfermedades psicosomáticas como el colon irritable. Señala que la hipnosis es útil para reducir el dolor agudo y crónico y tratar fobias y miedos, como el que tenía Carlos. <br> <br>
Según Antonio Capafons, los temas específicos más solicitados son el tabaco, el peso y “las regresiones hipnóticas a vidas pasadas o a la infancia para recuperar traumas”.
Sin embargo, subraya que no hay evidencia de que esta técnica sea útil para estos temas por sí sola y que las regresiones están contraindicadas.
Otro aspecto relevante es el tratamiento del dolor, <b> “donde hay evidencia de la efectividad de la hipnosis”.</b> Además, manifiesta que se abren nuevas líneas de investigación, como la del especialista israelí Aldo Parmet, que “plantea la hipnosis como ayuda en tratamientos médicos de fertilización in vitro”.
La hipnosis gana adeptos, pero la demanda creciente es un arma de doble filo porque multiplica la intrusión profesional, lo que representa un riesgo para la salud y contribuye al escepticismo que genera este procedimiento.
<img class=publi3 src="https://image.ibb.co/ej7rbe/ansiedad.png" hspace="5" vspace="5" style="float:left" />
<h6>Más allá del espectáculo</h6>
El psicólogo Antonio Capafons explica que la hipnosis clínica, basada en el método científico, surge en la medicina a finales del siglo XIX y que posteriormente se desarrolló la “hipnosis de espectáculo”, que ha distorsionado la imagen que se tiene de esta práctica. <br>
<b>“Algunas personas acuden a la sesión con miedo, tienen una idea mágica de la hipnosis, la que se ha transmitido en los medios”,</b> opina Rosario Linares. Pero, hay más grietas en la base. <br> <br>
Miguel Gutiérrez, presidente de la Sociedad Española de Psiquiatría (SEP), advierte los problemas en la formación de hipnólogos. “Sabemos qué requerimientos debe tener un psicólogo o psiquiatra, pero no están claros los criterios de acreditación de una persona que practica la hipnosis. Su uso es marginal en la psiquiatría. Yo no la recomiendo”, opina.
<i>El miedo, la angustia, la confusión y la depresión son temas que se pueden tratar con esta herramienta. </i>EFE/Jesús Diges Para Jesús Genaro, <b>“los hipnólogos son el problema de la hipnoterapia, porque no es una profesión regulada en España y hay muchas diferencias de criterio entre colegios de psicólogos, médicos e hipnólogos”.</b>
Capafons considera que el intrusismo profesional es la principal consecuencia de esa falta de regulación. Cuenta que uno de sus colegas logró, gracias a su tarjeta de crédito, que su gata tuviera un título “acreditado” de hipnoterapeuta. <br> <br>
También reitera que no hay regulación de la profesión porque <b>“no hay profesión de hipnosis, pero sí hay un informe del Colegio de Psicólogos de Las Palmas que indica que es una prestación sanitaria, por lo que se rige como las prestaciones sanitarias”.</b> <br>
Por eso, el psiquiatra Miguel Gutiérrez insiste en que “un 70% de los que practican la hipnosis son intrusos que se convierten en un peligro para la salud”.
Es crucial que quienes estén interesados en esta herramienta escojan profesionales, como aconseja Jesús Genaro, “que formen parte de algún colegio oficial porque, de lo contrario, no tienen garantías y una mala intervención puede perjudicar seriamente al paciente”.
Capafons sugiere que exijan, además de una titulación, formación en hipnosis científica, “la única que tiene una base seria y metodológica”.
<h6>Mentiras y verdades</h6>
Carlos dice que la hipnosis es difícil de explicar, de esas cosas que hay que vivir para comprender. A pesar de eso, manifiesta que siempre estuvo consciente mientras era guiado entre imágenes de paisajes y recuerdos por la especialista, y que salía de la sesión <b>“completamente relajado”. </b><br>
El psicólogo Antonio Capafons desmiente “tres grandes falacias que rodean la hipnosis”:
Es falso que quienes están bajo hipnosis pierden el control. EFE/Felipe Trueba <br>
1. La pérdida de control. Los pacientes bajo hipnosis no son títeres en manos del hipnotizador ni pierden la consciencia ni dicen o hacen cosas en contra de su voluntad. <br>
2. La adquisición de poderes. La hipnosis no incrementa la memoria ni las capacidades físicas y mentales. <br>
<img class=publi3 src="https://image.ibb.co/jX6TNK/mentiras.png" hspace="5" vspace="5" style="float:left" />
3. La ausencia de esfuerzo. Esta práctica no funciona con sujetos pasivos, exige esfuerzo y constancia, como cualquier otra herramienta para la salud. <br> <br>
Lo que sí es cierto, aclara Gutiérrez, de la SEP, es que tiene diversas contraindicaciones, especialmente en su campo: <b>“ninguna de las enfermedades psiquiátricas pueden ser abordadas con esta técnica”.</b>
El problema de Carlos no tenía raíces de ese tipo. Estuvo tres meses con ayuda de hipnosis y hoy, seis meses después de la crisis que alteró su vida, dice que encontró el origen de su trastorno. <br>
<b>“No mejoras de la noche a la mañana, es un proceso, hay que ir a las sesiones y poco a poco se va viendo la evolución”,</b> relata. Siente que la paz ha vuelto para quedarse y que el pánico no volverá a atacar.
La hipnosis científica nada tiene que ver con péndulos oscilantes e individuos a la merced de sus hipnotizadores. Es una herramienta de consultorio que, practicada por profesionales titulados y cualificados en el tema, puede ser un complemento para los tratamientos convencionales.
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud08 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a href="">efesalud</a>
 
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gVst6e/seguntuedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Dormir estas horas segun tu edad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dCGjez/pensamiento_ADN.jpg" alt="pensamiento_ADN" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian el ADN </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWw6sK/salud033.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La mente cura el cuerpo </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/j5D86e/medica.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Pensamientos y emociones vs medicamentos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/huEFme/mente001.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Cuidado con el saboteaje del subconsciente</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>