<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>La comunicacion sin hablar</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion03 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<b>El capacidad que posee el ser humano para comunicarse es bastante amplia, y no solamente nosotros tenemos ese privilegio. </b> La Madre Naturaleza en toda su extensión, tiene el poder de comunicarse a través de múltiples maneras, sin necesidad del uso de palabras. Existe una diferencia entre la comunicación no oral, como el lenguaje de señas, y la comunicación no verbal, en donde se manifiestan los sentidos y las vibraciones energéticas de cualquier tipo de ser vivo. <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/dzhBcK/noverbal1.png" hspace="5" vspace="5" style="float:left" />
</div>
La comunicación ha evolucionado a la medida que el ser humano lo hace, en la aparición de los primeros humanos los sonidos acompañados de los gestos eran importante, no existían las palabras como tal, no obstante esto no impedía la comunicación. Hoy día el hombre posee infinitas herramientas de comunicación sin embargo no es lo suficiente. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5>Desconectados de Nuestra Esencia…</h5>
Poseemos teléfonos inteligentes, redes sociales, pero nos sentimos más solos que nunca. Las familias se aislaron en un mundo donde no existe barreras comunicacionales, nos hemos conectado a la tecnología, pero nos desconectamos del alma, de la esencia, del amor, nos estamos alejando los unos a los otros, somos desconocidos en una era digital. <br> <br>
<h5>Aplica Los Metapogramas PNL y Descubre Que Te Motiva a…</h5>
La comunicación no verbal no ha recibido la cantidad de estudios necesarios para entenderla, sin embargo personajes como Charles Darwin determinaron la importancia de ésta, concluyendo que en todas partes del mundo existen formas de comunicación similares, como el saludo. Trataremos de enfocar la importancia de este tipo de comunicación, no desde la ciencia sino desde la esencia del alma, de la necesidad del hombre por descubrir algo mas allá de la lógica, de poder acercarnos a ese calor humano que la tecnología está extinguiendo.
<br> <br>
<h5>Diferentes Tipos De Comunicación No Verbal:</h5>
La naturaleza en su infinita sabiduría, ha creado la comunicación, no solo entre los hombres sino entre las especies, incluso las plantas se comunican con nosotros advirtiéndonos los cambios de estaciones, es solo cuestión de abrir los ojos del alma, desde el centro del corazón, y entender qué nos dice y como nos puede ayudar (O cómo podemos nosotros ayudar a la Madre Naturaleza). <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/joEPxK/noverbal2.png" hspace="5" vspace="5" style="float:left" />
</div>
Todos los seres vivos poseen la capacidad de ejercer la comunicación sin barreras. Observemos a las abejas, delfines, las ballenas y el silbido de las aves.
Para muchos estudiosos, el sistema de comunicación de los animales no debería ser llamado como tal, debido a que esto se debe a una conducta instintiva, pero ¿será cierto? ¿Son sólo instintos los que hacen que los animales se comuniquen entre sí, e incluso con nosotros?.
Las mascotas se comunican con sus amos a través de las caricias, de las miradas, de los gestos y sonidos, y crean vínculos entre sí. Precisamente eso es comunicación, la creación de vínculos que nos permiten estar interconectados de una manera tal que no sean necesarias las palabras, y que la conexión sea tan profunda que podamos expresarnos a través de nuestras miradas y los latidos de nuestro corazón. <br> <br>
<h5>Los 7 canales del Lenguaje Corporal:</h5>
Con nuestros gestos corporales podemos decir mucho, ya que podemos comunicar nuestro estado de ánimo, la felicidad y toda una serie de emociones que no sólo pueden describirse con palabras… allí radica la magia de la comunicación. <br> <br>
<b>1.- Expresiones faciales:</b>
La expresión de nuestro rostro es el comunicador más potente que tenemos, es lo primero que el otro observa de nosotros al hablarnos. Nuestro cerebro emocional decide por cuenta propia si alguna cara nos gusta o no, en este proceso no interviene la razón sino las emociones, es nuestro reflejo universal y se maneja por las 7 emociones básicas del hombre, que son: tristeza, alegría, ira, desprecio, sorpresa, miedo y asco.
<div class="row">
<img class=publi3 src="https://image.ibb.co/gMsoPz/noverbal3.png" hspace="5" vspace="5" style="float:left" />
</div>
Cada uno posee su propio código y debemos aprender a distinguirlos, de esta forma podemos saber que piensa la otra persona de su entorno e incluso de nosotros. Como miembros de un todo podemos descubrir emociones que no se expresan comúnmente con palabras, saber de forma asertiva que le sucede al otro. <br>
<b>2.- Gestos:</b>
Estos varían según el contexto y la relación cultural, incluso algunos son de índole genético, es decir, muy particulares; éstos se pueden encontrar en muchas formas, por ejemplo los gestos ilustradores son los que preceden la palabra, los movimientos de las manos y nuestras facciones mientras hablamos, de esta manera le damos más énfasis a nuestro discurso.
Las manifestaciones de sentimientos son los gestos más poderosos que existen, y con ellos podemos demostrar nuestras emociones: la tristeza, la alegría, el enojo, el miedo, etc. Es de suma importancia aprender a manejarlo, ya que con ello no sólo podemos darnos a entender, sino que también podemos entender a quienes nos rodean, saber si las personas que nos importan están pasando por una situación en particular, sobre todo en el caso de nuestros hijos. Conocer si son víctimas de algún abuso, si les va bien en el colegio, etc, y ninguna aplicación tecnológica nos podrá dar esa cercanía emocional con ellos. <br>
<b>3.- Posturas:</b>
La postura demuestra nuestro grado de interés y apertura a otros, o lo que éstos nos comunican en sí. Son parte esencial de la comunicación y delatan el verdadero interés de la persona por lo que decimos, es como si el cuerpo estuviese gritando algo que el habla reprime.
<div class="row">
<img class=publi3 src="https://image.ibb.co/cWvWcK/noverbal4.png" hspace="5" vspace="5" style="float:left" />
</div>
Cuando nuestra postura es expansiva es sinónimo de satisfacción, lo que el otro nos dice está llegando de forma eficiente a nuestros sentidos y lo demostramos con nuestro cuerpo.
Si la postura es de contracción, se vincula a aspectos negativos, no nos sentimos cómodos en ese lugar, con el tema de conversación, quizás es algo mas lo que nos molesta, lo que no permite que podamos disfrutar del momento de la conversación. Con nuestra postura podemos trasmitir confianza y estabilidad sin tan solo decir una palabra. <br>
<i>“Los gestos también nos dan una idea de los modales de una persona”</i> <br>
<b>4.- Apariencia:</b>
Es, lamentablemente, uno de los canales más influyentes de comunicación, pues siempre la primera impresión de alguien es la que determina en qué modo lo tratamos. Por la apariencia podemos determinar su condición social, cultural, edad, sexo, sin embargo no debería ser considerado como un factor determinante.
Debemos aprender a ver más allá de la apariencia, descubrir que una persona no es lo que viste sino lo que es, y eso no lo determina la vestimenta, lo hace su personalidad, su carisma, y la forma en que trata a otros. Por tal razón debemos comenzar a alejarnos de los estereotipos sociales y ver a los otros como un todo en este plano. <br>
<b>5.- Háptica:</b>
El tacto influye en la forma en que nos tratamos, denota intimidad y compromiso, y a través de él podemos revelar información sensible. Es como si con solo tocar podemos establecer un vinculo con la otra persona. En muchos países se usa sólo un apretón de manos, mientras que en otros un cálido abrazo es parte del saludo, incluyendo un suave beso en la mejilla.
<div class="row">
<img class=publi3 src="https://image.ibb.co/fra8Pz/noverbal5.png" hspace="5" vspace="5" style="float:left" />
</div>
No importa el país de donde provengas o hacia dónde te diriges, no importa la cultura, el hombre necesita del contacto físico para poder establecer un contacto emocional con otro. <br>
<b>6.- Proxémica:</b>
Este es uno de los canales más directos de la comunicación no verbal, al momento de mostrarnos distantes o cercanos. Cada persona tiene su espacio personal, ese círculo imaginario donde se siente seguro, algo propio, y este dependerá en gran medida del estado de ánimo, por tal razón es importante prestar atención a las señales de incomodidad que pueda generar nuestra aproximación, ponernos en el lugar del otro y preguntarnos como nos sentimos cuando se nos respete nuestro espacio personal, de esta forma podemos sentir empatía por el otro y entenderlo. <br>
<b> 7.- Paralenguaje:</b>
El indicador emocional más fiable es la voz, su volumen, tono y velocidad revela muchísima información, y más aun cuando tratamos de ocultar nuestras emociones. Veamos por ejemplo, al hablar por teléfono, que con el solo escuchar la voz de otro podemos saber si se encuentra bien o no. Nuestra voz revela mucho más de lo que pensamos, por lo que es importante usarla de forma consciente, y en muchos casos el silencio igualmente comunica más de lo que creemos. <br> <br>
<b>Debemos cuidar lo que decimos, de forma que exprese realmente lo que queremos comunicar… </b> sin embargo, el silencio dice más que mil palabras. <br> <br>
<i> Aprende sobre—> Tus Estados de Animo y Tu Inteligencia Emocional</i>
<b>La comunicación no verbal es un reflejo de tu ser…</b>
El tiempo y la mirada son factores importantes en la comunicación no verbal y se usan en la mayor parte del tiempo. Es posible que nuestras palabras estén desasociadas de nuestra presencia física, o puede que sean palabras vacías que no representen ningún tipo de emoción.
<div class="row">
<img class=publi3 src="https://image.ibb.co/cH7oPz/noverbal6.png" hspace="5" vspace="5" style="float:left" />
</div>
Hablar por hablar no es comunicarse, puede que tengas mucho tiempo tratando de convencer o explicarle a alguien tu punto de vista, pero posiblemente te cueste lograrlo probablemente porque tú no estás del todo convencido de ello, y tu cuerpo te delata, tu mirada, tu voz, tus gestos. <br> <br>
El lenguaje corporal es de suma importancia en la comunicación no verbal, ya que este dice quienes somos, como nos sentimos o que nos gusta; en realidad dice más de nosotros de lo que pensamos, ya que nuestro subconsciente revela mucho de nosotros sin que nos demos cuenta. Sin embargo podemos usar esta valiosa herramienta en pro de nosotros mismos, el dominar nuestro lenguaje corporal nos puede abrir un sinfín de caminos y darnos herramientasque podemos usar para nuestro crecimiento espiritual y personal. <br> <br>
Incluso, conociendo mas sobre este tema, podemos determinar si alguien nos está mintiendo o si nos es sincero, esta es una herramienta poderosa que te ayudará enormemente. <br><br>
<b>Consejos Finales:</b>
Debemos ser cuidadosos de nuestras miradas, tono de voz, gestos corporales, sonrisa, todo influye en la forma en que otros nos ven e incluso como nos vemos nosotros mismos.
Hablar es más que decir palabras, escuchar es mucho más que oír, comunicar es compartir una información emocional con un significado y un valor que va mas allá de lo simple y racional, no podemos decir “Te amo” sin amor, no podemos decir “Lo siento” sin sentirlo, cada palabra debe estar acompañada de sentimiento y emoción, cuidar de ellas es importante sentirlas y vivírlas.
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion03 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion03" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion03" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a href="
http://renaceralavida.com/comunicacion-no-verbal/
">renaceralavida</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Los más leidos</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nwg7jz/programacion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Programación Neurolingüística para tener Éxito </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bGxKxK/darrecibir.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La abundancia de Dar para Recibir</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/m8ov4z/desbloqueo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Desbloqueo de los Patrones Mentales</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9wUxK/miedoalfracaso.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El Miedo Al Fracaso ¡Superando los Temores!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dJVWcK/mujerexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Actitudes para ser una mujer de éxito</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hPvdre/ansiedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Superando la Ansiedad</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>