<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Ejercicios para atraer lo que queramos a nuestra vida</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
Este es un ejercicio es relativamente sencillo a la vez que muy Poderoso para “Atraer” a nuestra vida lo que queremos, lo más importante es ser capaz de Generar las Sensaciones de Magnetización, forma parte de los ejercicios que realizamos en el Taller de Autoestima y Cambio, donde lo enseñamos con más detalle.
<br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/n61qpz/ejercicios1.png" hspace="5" vspace="5" style="float:left" />
</div>
<b>Preparación:</b> <br>
Elige lo que deseas atraer a tu Realidad. Es importante que creas que puedes tenerlo, pienses positivamente en ello y tengas la expectativa de conseguirlo. Sé lo más específico posible acerca de la cualidad superior que te aportará e imagínate esta cualidad mientras magnetizas. Piensa en los dones que conseguiras al obtener tu deseo. Si no conoces su forma, puedes magnetizar un símbolo que lo represente.
Una vez conseguido este estado emocional, utiliza cualquier imagen o pensamiento que te ayude a recrear esta sensación en el futuro. <br> <br>
<i> “Lo importante más importante durante el ejercicio es ser capaz de generar la Sensación de Magnetismo, no hay maneras “correctas” o “incorrectas” de hacerlo. Los mejores resultados se consiguen jugando con las imágenes y las sensaciones, y siendo creativo e intuitivo mientras Magnetizas.”</i> <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>Pasos de Magnetización:</b> <br>
<b>PASO 1.</b> <br>
Encuentra un lugar donde puedas relajarte durante unos minutos, piensa en aquello que has decidido magnetizar. Sé lo más especifico posible acerca de los detalles de tu elección -si los conoces- y todas sus características y funciones -las esencias que deseas. <br> <br>
<b>PASO 2.</b> <br>
Visualiza o siente lo que deseas, haciendo la imagen real en la medida de lo posible. Crea una escena en la que te imaginas recibiéndolo y viviendo los sentimientos positivos que experimentarás cuando lo tengas. Potencia tu imaginación con los 5 sentidos, vista, tacto, oido, gusto olfato…. <br> <br>
<b>PASO 3.</b> <br>
Imagínate que tienes dentro de ti una fuente que genera energía. Visualiza una bobina en forma de espiral que gira y gira(la imagen de una bobina ha demostrado ser muy eficaz a la hora de conseguir la Sensación de Magnetismo). <br> <br>
Esta espiral parte del área de tu plexo solar, en el interior de tu cuerpo, y se extiende hacia fuera y hacia arriba. Puedes imaginarte que tu espiral magnética se proyecta hacia la dirección que más cómodo te hace sentir. <br> <br>
<b>PASO 4.</b> <br>
Pensando en aquello que deseas magnetizar, haz que tu espiral tenga la longitud que te parezca necesaria para atraerlo hacia ti. Haciéndolo, empiezas a generar un campo magnético en torno a tu cuerpo, que magnetiza lo que deseas como un imán atrae al hierro. <br> <br>
<b>PASO 5.</b> <br>
Mientras tu espiral se va expandiendo, imagínate los acontecimientos que han de suceder antes de poder tener la cosa deseada. Para conseguir lo que quieres, hay determinados pasos que has de dar y acontecimientos que deben ocurrir. Existe un ritmo de cambio que es el más apropiado para ti. <br> <br>
<b>PASO 6.</b> <br>
Observa la posición de tu cuerpo y tu respiración; notarás que la sensación de magnetismo se puede potenciar <br> <br>
<b>PASO 7.</b> <br>
Continúa generando tu espiral magnética hasta alcanzar un punto donde sientas la culminación de tu energía. La
percibirías como un “clic” o una parada, o como un gradual descenso energético. Cuando la sientas, interrumpe tu magnetización.
Si se convierte en una lucha o un esfuerzo, si te parece que han aparecido barreras, detente; ya has hecho bastante. Descubre la cantidad de energía adecuada para atraer hacia ti lo que te has propuesto. <br> <br>
<b>PASO 8.</b> <br>
Ahora, adéntrate en ti mismo y pregunta a tu yo superior con qué frecuencia debes magnetizar lo que deseas. <br> <br>
<b>PASO 9.</b> <br>
Sal lentamente de este estado y estira el cuerpo.
Durante los próximos días, observa si tienes alguna intuición referente al objeto deseado y el cómo conseguirlo. <br> <br>
Recuerda pensar positivamente en lo que deseas y mantener cierta actitud de desapego frente a ello. Que no importe si llega de forma distinta a la que te esperabas; acepta que todo lo que viene es lo más apropiado para ti. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero08" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero08" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>psicohipnos.com</a>
<br> <br>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/c5yBBe/malhabito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Hábitos que evitará que te hagas rico</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kyNtPz/amigosricos.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los ricos escogen a sus amigos </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dOntPz/bloqueodinero.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los Bloqueos mentales que impiden atraer dinero</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cGBgBe/exitosagente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Hábitos de la gente exitosa</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jmwL4z/hijosnoexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Actitudes de los padres que hacen que sus hijos no sean exitosos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mX0f4z/submente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Deja que el Subconsciente trabaje ... </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>