<div class="container">
<hr style="background-color:#f3f4f7" />
<div class="row audios">
<span class="audiossubliminales"><b>Subliminal Audios Biokinesis Modificando o corpo</b></span>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XK3ZBRJNQ7K3N" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6254R2PMPXVSQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</a>
</div>
<div class="compartir col-xs-12"><b>Partagé:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosbiokinesis3 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosbiokinesis3" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/audiosbiokinesis3" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<div class="row">
<div style="cursor:pointer" class="articulos1" style="margin: 5px auto 0px auto ">
<a target="_blank" href="https://www.amazon.com/gp/product/2955403369/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=2955403369&linkCode=as2&tag=webpubli-20&linkId=26caf858fae14539375ddf926d8d83f1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=2955403369&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20"></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=2955403369" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important" />
</div>
</div>
<hr style="background-color:#f3f4f7" />
<div class="container">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"><b>
INSTRUCTIONS</b>
</button>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle">IMPORTANT</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row">
<div style="cursor:pointer" class="articulos1" style="margin: 5px auto 0px auto ">
<a target="_blank" href="https://www.amazon.com/gp/product/2955403369/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=2955403369&linkCode=as2&tag=webpubli-20&linkId=26caf858fae14539375ddf926d8d83f1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=2955403369&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20"></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=2955403369" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important" />
</div>
</div>
 <p> Les audios subliminaux suivants sont des outils puissants qui vous aideront à activer la foi nécessaire à l'auto-guérison de votre corps. Un audio subliminal pour améliorer la santé est conçu pour commander à l'esprit subconscient d'avoir de nouvelles croyances de santé vigoureuse et prospère.<br>
 
Ces outils ne remplacent aucun traitement conventionnel fourni par la médecine "moderne". Cet outil est fourni pour l'utilisation de l'expérience de guérison, l'application de la foi consciente, le pouvoir de l'autosuggestion subliminale dans le subconscient et les techniques de biofréquences.
 </p>
 <h6> Instructions: </h6>
 <ul>
<b>1.</b> Entrez un état alpha (de méditation) pendant 5 minutes, faites-le pendant que vous écoutez l’audio subliminal. Comptez et visualisez de 10 à 1 en respirant profondément. <br>
<b>2.</b> Concentrez-vous sur le but d'avoir une santé parfaite et de créer une image dans votre esprit de vous promener et de vous sentir en bonne santé. Ayez cette image comme vous voudriez vous voir dans la meilleure version de vous-même. Ajoutez beaucoup d’émotion positive à cette image, vous vous souvenez de votre état de santé et de votre vigueur. <br>
<b>3. </b>Il réussit à faire cette image + l'émotion pendant quelques minutes, il n'est pas nécessaire de le faire pendant longtemps. <br>
<b>4.</b> Appréciez et associez émotionnellement le son audio avec le sentiment d'être en bonne santé. Instructions 1 à 4 faire les premiers jours, alors il est facultatif de les répéter. Le point 4 consiste à créer une ancre émotionnelle avec l'audio. Donc, votre esprit, lorsque vous écoutez l'audio, le relie automatiquement à la guérison que vous avez eue dans votre esprit. <br>
<b>5. </b>Écoutez l'audio au moins 1 heure par jour et soyez constant pour l'écouter tous les jours. Plus vous écoutez les résultats plus rapidement. Vous pouvez l'écouter pendant que vous dormez ou lorsque vous utilisez l'ordinateur. Mais ne jamais conduire la voiture ou une autre activité qui nécessite de la concentration. <br>
<b>6.</b> Ne pas être obsédé par les changements immédiats, croire et croire au résultat final qui sera ce que vous imaginez dans votre esprit et dans vos émotions positives. <br>
<b>7.</b> Les résultats dépendent de la sensibilité à la suggestion mentale et surtout de la
dédicace que vous donnez à ces instructions. <br>
<b>8.</b> Chaque jour pendant que vous écoutez l'audio, remerciez-vous pour votre guérison et soyez reconnaissant parce que vous pouvez respirer, entendre, voir, sentir, etc. <br>
<b>9.</b>Si vous souhaitez mettre la vidéo en mode répéteur automatique, cliquez avec le bouton droit sur la vidéo et activez lire en boucle:
<img style="width:100%;height:70%" src="https://image.ibb.co/mJwJhU/4francais.png" alt="4francais">
<b>Un gros câlin et des succès. <br>
PleyadesM</b>
 </ul>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<br>
<div class="container">
<div class="card-columns">
<div class="card animated fadeIn fast" (click)="verVideo(video)" *ngFor="let video of videos">
<img class="card-img-top" [src]="video.thumbnails.medium.url" [alt]="video.title">
<div class="card-body">
<h5 class="card-title"><b>{{ video.title }}</b></h5>
</div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" role="document">
<div class="modal-content" *ngIf="videoSel">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">{{ videoSel?.title }}</h5>
</div>
<div class="row">
<div style="cursor:pointer" class="articulos1" style="margin: 5px auto 0px auto ">
<a target="_blank" href="https://www.amazon.com/gp/product/2955403369/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=2955403369&linkCode=as2&tag=webpubli-20&linkId=26caf858fae14539375ddf926d8d83f1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=2955403369&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20"></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=2955403369" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important" />
</div>
</div>
<div class="modal-body precarga">
<iframe width="100%" height="250" [src]=" videoSel.resourceId.videoId | domseguro " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="container">
<div class="compartir"><b>Partagé:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosbiokinesis3 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosbiokinesis3" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosbiokinesis3" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/audiosbiokinesis3" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
</div>
<br>
<div class="modal-footer">
<button (click)="cerraModal()" type="button" class="btn btn-danger">
<b>Close</b>
</button>
</div>
</div>
</div>
</div>
<ul class="nav-item" routerLinkActive="active">
<h6>Des sujets qui pourraient vous intéresser:</h6>
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Les messages subliminaux</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Questions fréquemment posées et réponses</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Catégories audio subliminales</h5></a></li>
</ul>