<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Porque se termina el “amor”</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b><i>Extracto del libro El efecto luna de miel (Ed. Palmyra), del biólogo Bruce Lipton, autor de obras como La biología de la creencia y La biología de la transformación.</i> </b><br> <br>
<img class=publi3 src="https://image.ibb.co/hTXtNK/sinamor.png" hspace="5" vspace="5" style="float:left" />
[…] Todo se viene abajo y te quedas abatido y obsesionado con lo que podría haber sido. Y también desconcertado: <b>¿cómo es posible que algo tan mágico degenere para convertirse en amargas recriminaciones y, si estás casado, en divorcio?</b> <br><br>
Después de todo, tú querías que funcionara. Creías que funcionaría. Quizá La biología de la creencia le sirva a otra gente, estarás pensando, pero no a ti. ¡Pues sí, a ti también! Sin embargo, hay algo que explica por qué el pensamiento positivo y las creencias no funcionan por sí solos. <br><br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
El problema es que cuando estás tan unido a tu pareja durante esos maravillosos primeros días y meses, tu comportamiento y tus acciones están controlados mediante el procesamiento de tu mente consciente. Tu mente consciente es la mente «creativa», la que actúa en beneficio de tus anhelos y deseos. Así pues, cuando las mentes conscientes de dos amantes se entrelazan, juntas crean una armonía mágica. Puesto que las parejas de luna de miel actúan en función de sus más profundos anhelos y deseos, el resultado de su interacción es… voilà, ¡el Paraíso en la Tierra! <br> <br>
Sin embargo, con el tiempo, tu mente consciente se carga de pensamientos propios del ajetreo de la vida diaria: equilibrar tu presupuesto, organizar tus tareas, planear el fin de semana. El procesamiento de la mente consciente pasa de crear las experiencias de la luna de miel a crear la administración y las estrategias precisas para las necesidades que se perciben. <br> <br>
El resultado es que la mente consciente renuncia al control de la conducta y se lo deja a los programas predeterminados almacenados previamente en la mente subconsciente.
En lo que se refiere a las parejas, de repente hay cuatro mentes en lugar de dos. Y esas dos mentes subconscientes «extra» pueden hacer estragos en las relaciones de Felices para Siempre. Cuando nuestras mentes conscientes dejan de prestar atención al momento, perdemos el control sobre nuestra creación de luna de miel, porque, sin saberlo, adoptamos comportamientos preprogramados que adquirimos a lo largo de nuestras experiencias vitales de desarrollo. Para muchas parejas, una vez que la programación subconsciente toma las riendas, el resplandor de la luna de miel se desvanece a toda prisa. <br> <br>
<img class=publi3 src="https://image.ibb.co/dV6L2K/sinamor2.png" hspace="5" vspace="5" style="float:left" />
Y no es de extrañar, ya que los comportamientos programados en la mente subconsciente (muchos de ellos negativos y desautorizantes), derivan en esencia de la observación y son copia del comportamiento de otras personas, sobre todo de los padres, de la familia inmediata, de la comunidad y de la cultura. Empiezas a ver una faceta de tu pareja (y de ti mismo) que jamás había aparecido durante la luna de miel. Cuando la mente consciente deja de prestar atención al momento presente, de manera automática y, lo que es más importante, inconscientemente, empiezas a mostrar comportamientos que has copiado de otros. <br> <br>
He aquí un escenario que es posible que conozcas muy bien. Estás disfrutando del Efecto Luna de Miel, llena de amor por tu comprensiva pareja, que ilumina tu vida. De pronto, un día, le haces una pregunta sencilla y cariñosa. Él no está pensando en lo bien que va vuestra relación. Su mente consciente está ocupada con el arreglo del coche o el pago del alquiler, de modo que responde automática y desagradablemente con un tono que dice: <i> <b>«Déjame en paz».</b></i> Desconcertada, tú respondes: <i><b>«¿Quién eres tú?».</b></i> <br> <br>
Acabas de vivir el momento en el que, por lo general, la luna de miel empieza a desmoronarse. Él te ha respondido de una manera tan inconsciente que ni siquiera se ha dado cuenta de lo desagradable que ha sido. Y, en respuesta a lo que percibe como un <i> «ataque» </i>personal hacia su persona, clava los talones para defenderse hasta la muerte. Él piensa: <i> <b>«Me acusa de no ser yo mismo. Soy el mismo de siempre. No sé de qué habla. ¿Qué problema tiene?».</b></i> <br> <br>
Entretanto, tú piensas: <i> <b> «¿Dónde está el hombre cariñoso con el que me casé?».</b></i> Tu mente consciente se aleja del momento presente para evaluar la desagradable situación en la que te encuentras. Oh, oh… Sin que lo sepas, también recurres de manera inconsciente a los comportamientos subconscientes anteriores que adquiriste de tu familia y tu cultura. Ahora es el turno de tu compañero de sorprenderse al ver que la que una vez fue su amante esposa se convierte en alguien que no para de criticar y culpabilizar, junto con otras conductas que aprendiste de tus padres. <br> <br>
<img class=publi3 src="https://image.ibb.co/nn19we/sinamor3.png" hspace="5" vspace="5" style="float:left" />
A medida que las rutinas de la vida diaria ocupan cada vez más tu mente consciente y la de tu compañero, empiezan a aparecer más patrones de comportamiento inconscientes y nada armoniosos. Pronto, ambos pasáis de apreciar a vuestra pareja a concentraros en sus estallidos desagradables periódicos. Tanto tú como tu pareja os ponéis a la defensiva y empezáis a criticar los defectos del otro: nunca limpia, nunca le pone el tapón a la pasta de dientes, etcétera. Todas las cosas que pasasteis por alto cuando estabais obnubilados por las primeras fases del amor ahora empiezan a molestaros. <br> <br>
Si os conocisteis gracias a algún servicio de citas online, querréis que os devuelvan el dinero. <i><b>«¡No respondió al cuestionario con sinceridad!».</b></i> Pero en realidad, ambos lo rellenasteis de buena fe. Lo rellenasteis de manera consciente… y ese es el problema. Las juiciosas alegaciones de la mente consciente representan en realidad lo que la gente quiere llegar a ser. <br> <br>
Por desgracia, el carácter del <b>«yo» </b>que respondió al cuestionario se expresa por lo general tan solo un 5 por ciento del tiempo total. Lo que las parejas no ponen en el formulario son los programas subconscientes, limitantes y saboteadores, que han adquirido de otros y que todos repetimos sin darnos cuenta el 95 por ciento del tiempo. <br> <br>
Con la aparición de comportamientos indeseados en el 95 por ciento del tiempo, tu pareja y tú habéis abandonado sin duda la luna de miel y estáis de camino hacia una vida convencional. Si alguno de esos comportamientos destructivos o perturbadores que hasta el momento habían permanecido ocultos se hubiera mostrado el primer día de relación, seguramente no habría habido un segundo día. Ahora te preguntarás si deberías reducir tus expectativas y aceptar aquello en lo que se ha convertido tu relación, porque <i><b>«Así es la vida, y debo aceptar lo malo junto con lo bueno».</b></i> ¿O acaso las muchas concesiones que haces para acomodarte a un comportamiento abusivo se convertirán en algo tan intolerable que tu relación, que una vez te pareció inquebrantable, acaba hecha jirones? Al final dices <b>«Al infierno con esto. No puedo seguir». </b>Y entonces sales (de nuevo) e intentas encontrar lo que tuviste una vez. <br> <br>
<img class=publi3 src="https://image.ibb.co/hYEJpz/sinamor4.png" hspace="5" vspace="5" style="float:left" />
El culpable de este ciclo repetitivo es invisible: son los comportamientos programados que existen en la mente subconsciente de tu pareja y en la tuya. Tu mente consciente te propone la aventura de encontrar a una pareja cariñosa, y se regocija cuando encuentras al Elegido; sin embargo, tu mente subconsciente se dedica a destruir lo que has creado. No obstante, una vez que sabes que te enfrentas a una relación con cuatro mentes y que sabes cómo cambiar la programación negativa de las mentes subconscientes, cuentas con las herramientas para volver a crear lo que has perdido. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>Elcorreodelsol</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/fHcchK/parejaideal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Consejos para encontrar La Pareja Ideal</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/c158pz/meditacionamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Atrae tu pareja ideal con la meditación</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gBn4Uz/medianaranja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Exista la pareja perfecta?¿ Tu media naranja? </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cEb3NK/comunicacionpareja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La importancia de la comunicación en la relación de pareja</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/n4BEUz/entendermujer.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Porque es complicado entender a las mujeres?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jOcJNK/reproduccion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La felicidad de la pareja y el ciclo de reproducción</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gz9yNK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La comunicación no verbal - sensorial</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/ewvSGe/atraeramor2.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La ley de la Atracción en el Amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor12())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9kuwe/estresamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Como manejar el Estrés en el amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor13())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWK4we/felices.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Y vivieron felices por siempre</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor14())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eicrbe/parejaperfecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿ Exite la pareja ideal?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor15())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cDt3pz/eslacorrecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Esta con la pareja correcta?</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>