<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>¿Puede la hipnosis resolver sus problemas?</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas06 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<i>El Dr. George Estabrooks, profesor de psicología en la Universidad de Colgate y autor del libro, </i>Self Hypnotism , hizo las siguientes dos afirmaciones en un documento titulado "The Future of Hypnosis", presentado como parte de un programa sobre "The Nature of Hypnosis" en el reunión anual de la Asociación Americana de Psicología: <br> <br>
<img class=publi3 src="https://image.ibb.co/guY9zz/hip1.png" hspace="5" vspace="5" style="float:left" />
<b>"Sobre el tema de la hipnosis y la autohipnosis, sería bueno advertir contra ciertas actitudes que se han vuelto populares y que pueden ser bien ilustradas en el campo de la medicina. En este sentido, la sugerencia directa está bajo la prohibición. Por ejemplo, se enfatiza mucho el dicho "nunca quites el síntoma a menos que se entienda la causa".</b> Su validez es muy cuestionable, ya que gran parte de la práctica médica es la eliminación directa de síntomas, ya que solo un poco de pensamiento lo pone de manifiesto.<br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>"Otra afirmación generalmente seguida (con respecto a la autohipnosis) es que el trasfondo inconsciente de los complejos de síntomas necesariamente debe hacerse consciente para lograr una cura. Una consideración razonable y reflexiva del extenso papel del inconsciente en la vida diaria y el funcionamiento hace que esta afirmación sea mucho menos meritoria ".</b><br> <br>
Me gustaría discutir estas dos afirmaciones con cierto detalle, ya que surgen invariablemente en la mente de la persona que busca ayuda a través de la hipnosis.<br>
El primer pensamiento que me viene a la mente es que todas las curaciones religiosas citadas en la Biblia implican la eliminación directa de los síntomas. Las curas que son efectuadas por los devotos religiosos que viajan a los santuarios sagrados también están en el ámbito de la eliminación directa de los síntomas. Todavía tengo que escuchar una crítica de este tipo de tratamiento dirigido a líderes religiosos o la condena de los santuarios religiosos. Estas curas se aceptan como evidencia del poder de la fe o se atribuyen a lo sobrenatural. En estos casos, nunca se hace nada para que la persona curada comprenda la naturaleza de los mecanismos inconscientes que contribuyeron a su problema.
<br> <br>
La curación religiosa no puede descartarse simplemente diciendo: <b> "No es científico". </b>Una metodología es solo científica cuando funciona. No tiene ningún valor si no ayuda a la persona que busca ayuda. Debemos enfrentar el hecho de que no todas las personas pueden ser ayudadas por el mismo tratamiento psicológico. Podemos ver esto fácilmente en el siguiente ejemplo extremo: un aborigen que padece un problema psicológico ciertamente no sería un candidato para el psicoanálisis tal como lo conocemos. Él podría, sin duda, ser ayudado mucho más fácilmente por un hechicero. También es lógico pensar que el sofisticado occidental no estaría influenciado por los conjuros de un curandero tribal.<br> <br>
<img class=publi3 src="https://image.ibb.co/e239zz/hip2.png" hspace="5" vspace="5" style="float:left" />
Yendo más lejos, encontramos que hay muchas escuelas de psicoterapia y muchos enfoques para resolver los problemas emocionales del hombre. La tasa de curación para todos ellos, sin embargo, es aproximadamente la misma. Creo que debemos aceptar el hecho de que no existe un enfoque sólido, lógico y científico. Creo que siempre que se logre el resultado final, la metodología fue científica para las necesidades de ese individuo. El objetivo de todas las terapias es ayudar al paciente a liberarse de los problemas emocionales que lo aquejan.<br> <br>
Este enfoque, para algunos lectores, puede parecer una simplificación excesiva de un problema muy complejo, pero creo que es hora de que tengamos una fórmula simple, viable y sin jerga técnica. Con demasiada frecuencia, los términos técnicos complejos y las teorías se han utilizado con ligereza para explicar las fallas. Creo que necesitamos más y más énfasis en las medidas para que el paciente se sienta mejor en lugar de pasar la mayor parte del tiempo tratando de descubrir por qué no se siente bien. Esto, por supuesto, es la eliminación de síntomas nuevamente.<br> <br>
Me gustaría señalar un hecho interesante relacionado con los sanadores bíblicos. Mientras la fama del sanador precedió su llegada a cualquier país, pudo sanar a los enfermos. Sin embargo, donde su fama como sanador era desconocida o desacreditada, no encontró fe y, posteriormente, no tuvo cura. <b>La primera referencia a la hipnosis está en la Biblia, Génesis 2, 21. "Y el Señor Dios hizo caer un sueño profundo sobre Adán, y él se durmió ..."</b>
<br> <br>
<img class=publi3 src="https://image.ibb.co/mgp4XK/hip3.png" hspace="5" vspace="5" style="float:left" />
El Dr. William Malamud, 86º presidente de la Asociación Estadounidense de Psiquiatría, en un discurso pronunciado en la reunión anual de 1960, declaró lo siguiente en un documento titulado "Investigación psiquiátrica: ambientación y motivación":<br> <br>
"Durante los últimos años, hemos sido testigos de una tendencia creciente a poner demasiado énfasis en el valor de la metodología 'exacta' y la uniformidad de los estándares. Esta tendencia, que podría caracterizarse como un "culto a la objetividad", ya ha tenido una influencia importante en la investigación psiquiátrica. Es cierto que en su énfasis en el juicio crítico y los criterios válidos, ha ayudado a frenar los vuelos desenfrenados de la imaginación y la metodología descuidada. Pero la sobre glorificación de la objetividad y la insistencia en estándares rígidamente únicos de métodos aceptables han resultado en una concentración en ciertas fases de la ciencia del comportamiento humano a expensas de otras muy importantes ".<br> <br>
Creo que la mayoría de las personas tienen una comprensión bastante buena de cómo llegaron a tener el problema que tienen. Aún no he encontrado a la persona que protesta, no tiene idea de por qué no funciona como le gustaría en un área determinada. Desde un punto de vista práctico, no muchos tienen el tiempo y el dinero necesarios para profundizar en el trasfondo inconsciente del problema. <br> <br> El alto costo del tratamiento es una objeción muy real y no se puede descartar a la ligera. Las personas que sufren problemas emocionales generalmente también sufren reveses financieros. ¿Quién debe ayudar a estas personas? Hay muy pocos lugares en el país donde puedan recibir ayuda psiquiátrica competente a un precio razonable. <b>¿Hay este tipo de ayuda en tu propia comunidad?</b> Solo cuando el individuo es indigente, el estado proporciona toda la ayuda que pueda. Sin embargo, en este punto es una lucha larga y difícil volver a una buena salud emocional.<br> <br>
La Asociación Nacional para la Salud Mental y sus afiliados emiten alrededor de 10 millones de copias de 200 folletos diferentes sobre diversos aspectos de la salud mental. Para evaluar el valor de estos folletos, 47 expertos en higiene mental realizaron una conferencia en la Universidad de Cornell. <br> <br> Se ha publicado un informe sobre esta conferencia excepcional. Se llama "Educación de salud mental: una crítica". Una característica de Ernest Havemann en la edición del 8 de agosto de 1960 de Life contiene un artículo muy valioso sobre esta conferencia titulado "<b>¿Quién es normal? </b>Nadie, pero todos seguimos probando. En desacuerdo con el enfoque de "salud mental", los expertos declinan la búsqueda inútil de un objetivo irreal. "El siguiente párrafo está tomado del artículo de Life ":<br> <br>
<img class=publi3 src="https://image.ibb.co/jHinme/hip4.png" hspace="5" vspace="5" style="float:left" />
¿Qué hay de la psiquiatría y el psicoanálisis? Este es un asunto diferente. Muchas personas infelices y plagadas de problemas, aunque de ninguna manera todos los que lo han probado, se han beneficiado de la psicoterapia. De hecho, todos los panfletos de salud mental, como postdata de los métodos de autoayuda que defienden, terminan aconsejando al lector que busque atención profesional si sus problemas son lo suficientemente graves. Pero los escépticos en Cornell citaron estadísticas que les muestran que el tratamiento psiquiátrico es tan remoto para la persona promedio como un viaje a la luna. Aparte del gasto, que la mayoría de la gente consideraría prohibitiva, simplemente no hay suficientes terapeutas para todos. Estados Unidos tiene alrededor de 11,000 psiquiatras y 10,000 psicólogos clínicos, en total, aproximadamente uno por cada 8,500 ciudadanos. <br> <br>
Si todas las personas con problemas emocionales decidieran ver a un psiquiatra, las líneas en las oficinas de los médicos se extenderían por millas ".
Supongo que la mayoría de los lectores de este libro saben que los hospitales estatales carecen de personal y no pueden brindar la atención adecuada a los enfermos mentales. Mike Gorman, director ejecutivo del Comité Nacional de Salud Mental, ha escrito un informe cruzado sobre este tema llamado Every Other Bed . En este libro, él nos dice que cada cama de hospital en los Estados Unidos está ocupada por un caso mental. La enfermedad mental le cuesta al país dos mil quinientos millones de dólares al año, además del sufrimiento humano más importante que nunca se puede igualar en dólares.<br> <br>
El libro es una historia impactante de cómo hemos dejado que esto suceda; todavía lo dejan pasar; y de cuán poco, en su mayor parte, nosotros, el público en general, así como las profesiones médica y psicológica, estamos haciendo para corregir esta deplorable situación.<br> <br>
Es hora de que reexaminemos los dictámenes que dicen que un síntoma nunca se puede eliminar a menos que se entienda la causa y que el trasfondo inconsciente de los complejos de síntomas se haga consciente y se entienda antes de que se realice una cura.<br> <br>
<img class=publi3 src="https://image.ibb.co/mMwUzz/hip5.png" hspace="5" vspace="5" style="float:left" />
Hay muchos grupos de pensamiento positivo que funcionan en el campo religioso. Muchos de estos grupos religiosos existen principalmente debido a la filosofía dinámica o la psicología que ofrecen para la vida cotidiana. Si unimos esto con una fe fuerte en Dios, tenemos una combinación que se acerca a la infalibilidad. Recientemente hemos tenido una serie de libros más vendidos que exponen este mismo tema.¿Funciona? Por supuesto que sí cuando se usa correctamente.<br> <br>
Puede estar seguro de que ha habido críticas a esta psicología religiosa. La crítica es que las causas básicas del problema nunca se resuelven y el conflicto inconsciente no se resuelve. Es el mismo argumento una y otra vez. ¿Qué hay de las personas ayudadas? Parecen haber logrado grandes avances y llevan una vida tan ajustada como cualquier otra persona. Una vez que está imbuido de este espíritu o sensación de bienestar, impregna cada fase de sus relaciones de una manera constructiva.<br> <br>
La única razón por la que no hay más críticas es que este tipo de psicoterapia se incorpora a los principios religiosos de estos grupos, y criticar la religión de otro hombre hace que toda la filosofía del detractor sea inaceptable. <br> <br> Estoy totalmente a favor de estos grupos porque preferiría tener una religión que siga señalando el lado positivo de la vida y que "la vida puede ser bella" si pone su fe en Dios y practica el pensamiento positivo. Ciertamente es mejor que la filosofía cínica de sus detractores o las religiones sombrías que hacen hincapié en el castigo. Piensa en los sentimientos de culpa involucrados en este último. Nadie puede vivir de acuerdo con un credo tan formidable.<br> <br>
Por supuesto, si sugieres al pensamiento positivo, las personas religiosas que están usando una forma de autohipnosis, negarán y debatirán enfáticamente el problema. Dado que estamos interesados principalmente en la higiene mental y no en ganar un debate, es bueno dejar el asunto tal como está. El punto a tener en cuenta es que mientras una persona sienta que esta metodología es la respuesta a sus necesidades y mientras nadie esté siendo lastimado por su creencia, creo que debe aferrarse a su convicción. No debe permitir que sea destruido por aquellos que piensan en términos semánticos diferentes.<br> <br>
<img class=publi3 src="https://image.ibb.co/cV5dsK/hip6.png" hspace="5" vspace="5" style="float:left" />
Me gustaría mencionar otro ejemplo común relacionado con los dos conceptos básicos que hemos estado discutiendo. <br> <br> Es el ejemplo de las muchas personas que han tomado cursos de oratoria pública para superar el miedo escénico. En la mayoría de los casos, la persona involucrada no ha tenido demasiadas oportunidades para ser un orador público. Debido a esto, de repente siente que no puede decir lo correcto u olvidar lo que quiere decir. Esta ansiedad puede crear la misma situación o bloqueo que él teme. ¿Cuál es la solución? Ciertamente no es el psicoanálisis para descubrir por qué funciona de la manera en que lo hace. Podrías usar este enfoque, pero no creo que sea el más constructivo. Es como preguntar: <b>"¿Qué estoy haciendo que está mal?"</b> En lugar de <b>"¿Qué puedo hacer, correcto?". </b> El enfoque más constructivo es tomar un curso de instrucción para obtener la práctica y la experiencia reales en las técnicas de hablar en público.<br> <br>
Antes de seguir adelante, creo que es necesario señalar que no solo estoy criticando las convicciones de otras personas sinceras y dedicadas que se dedican al campo de la higiene mental. Siempre es bueno reevaluar nuestro pensamiento actual sobre cualquier tema, sin importar cuán sincero o convencido seamos de que lo que estamos haciendo sea correcto. A veces, podemos llegar a estar tan inmersos en nuestras convicciones de que no podemos tomar críticas y responder emocionalmente a ideas o interpretaciones que no coinciden con el pensamiento lógico.<br> <br>
<b>¿Cuál es, entonces, la respuesta a los problemas de salud mental?</b> No hay una única respuesta. Es una situación muy compleja. Existen muchos medicamentos y tratamientos prometedores que, si se desarrollan adecuadamente y se usan ampliamente, podrían hacer mucho para promover una buena salud mental. Fundamentalmente, el problema siempre será tratar de comprender el comportamiento humano y ayudar a los que están en apuros con una fórmula eficaz.<br> <br>
<img class=publi3 src="https://image.ibb.co/jLoysK/hip7.png" hspace="5" vspace="5" style="float:left" />
<b>¿Cuál es esa fórmula? </b>Creo que la hipnosis puede contribuir en parte a la respuesta. Huelga decir que la hipnosis está contraindicada en muchos problemas emocionales debido a la naturaleza misma del problema en sí. Algunas dificultades emocionales primero deben resolverse en un nivel consciente. Después de esto, la hipnosis puede ser instrumental para lograr el objetivo final.<br> <br>
<i>El Dr. Frank S. Caprio, un destacado psiquiatra, en su libro, Helping Yourself with Psychiatry , afirma lo siguiente: "Todo un mundo nuevo de autoconfianza y vida positiva está abierto a todas las personas, jóvenes y mayores, a través de la hipnosis. -hipnosis y autosugestión o autohipnosis ".</i><br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas06 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a href="">selfhypnosisusa.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bHGJsK/hipnosisfunciona.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Cómo funciona la autohipnosis?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/f3Qpzz/acercahipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Lo que debes saber sobre la autohipnosis</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hURtsK/placebo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El efecto placebo Y La mente </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>