<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>La importancia de la comunicación en la relación de pareja</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Hoy en día en las relaciones hombre/mujer existe gran cantidad de conflictos y motivos que impulsan a terminar la relación, sin embargo siempre habrá lugar para buscar nuevas formas de resolver los conflictos, y en esta oportunidad queremos hacer énfasis en lo trascendente de la comunicación efectiva, considerando las sabias interpretaciones encontradas sobre este tema en extractos del libro <i>“Los hombres son de Marte, las mujeres son de Venus”, del Dr. John Gray.</i>
En lugar de culpar a una persona o a un género, debemos enfocarnos en algunas de las diferencias inherentes entre la forma en que los hombres y las mujeres se comunican.
<img class=publi3 src="https://image.ibb.co/e0Ewbe/relacion1.png" hspace="5" vspace="5" style="float:left" />
La Comunicación efectiva como factor primordial en una relación: <br>
La comunicación es uno de los factores más importantes para encontrar el equilibrio adecuado en una relación a largo plazo. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Basado en el concepto de que hombres y mujeres viven en diferentes “planetas”, podemos encontrar ayuda para identificar las diferencias con el género opuesto, así como también encontrar las soluciones sobre cómo hombres y mujeres pueden acoplarse para tener mejores y más productivas estrategias de comunicación. <br> <br>
Estas consideraciones serán de mucha utilidad para cualquier hombre o mujer. Si estás en una relación, has estado en una relación difícil en el pasado, o si quieres estar en una relación exitosa en el futuro, no dejes de tomar en cuenta éstos consejos. <br> <br>
<h5>Hombres y mujeres sienten el amor de manera muy diferente</h5>
El amor en realidad no tiene nada que ver con hablar… se trata de mostrar. Esta es una de las claves más grandes para mantener vivo el amor en las relaciones a largo plazo.
<img class=publi3 src="https://image.ibb.co/idMRbe/relacion2.png" hspace="5" vspace="5" style="float:left" />
Esta es una lección muy importante ya que la comunicación no siempre se trata de hablar o decirle a alguien algo, a menudo se trata de mostrarles o usar la comunicación no verbal con el fin de transmitir su mensaje. <br>
Los hombres darán y darán hasta que estén satisfechos con lo que han hecho. Esto puede ser con emociones, dinero, esfuerzo, trabajo u objetos físicos. Sin embargo, las mujeres suelen dar con la esperanza de que el hombre devuelva el gesto, y aquí es donde puede ocurrir mucha desconexión. <br> <br>
Tanto el hombre como la mujer pueden sentir que están haciendo todo lo que pueden para mostrar su amor y que están dando amor de la manera que quieren recibirlo. Sin embargo, es posible que la parte contraria no lo reconozca y que piense que su pareja no está mostrando amor en absoluto.
Este es un consejo que tanto hombres como mujeres deben mantener presente mientras continúan siguiendo el consejo sobre las relaciones, ya que muchas desconexiones de la comunicación efectiva, en realidad se derivan de este tema tan importante. <br> <br>
Si ambas partes pueden entender que la otra parte simplemente tiene una interpretación diferente de lo que significa mostrar y dar amor, pueden seguir adelante. Encima de todo, cada uno tiene un lenguaje de amor diferente. <br> <br>
<h5>Cuando las mujeres son más directas, la comunicación puede mejorar</h5>
Hay tantas pequeñas cosas que los hombres y las mujeres pueden hacer para mejorar sus líneas de la comunicación efectiva, sin embargo, una de las clásicas desconexiones entre estos dos géneros a menudo se produce cuando las mujeres no son tan directas con los hombres mientras se comunican.
Hay una vieja historia sobre hombres y mujeres comunicándose que describe perfectamente cómo ésta falta de franqueza puede causar malentendidos. <br>
<img class=publi3 src="https://image.ibb.co/mjKq2K/relacion3.png" hspace="5" vspace="5" style="float:left" />
Un hombre y una mujer conducen por la calle. La mujer señala la heladería y dice “¡mira! La heladería está abierta”. El hombre dice “sí, lo está” y sigue conduciendo. Más tarde esa noche, la mujer está molesta y pregunta: “¿Por qué no te detuviste a tomar un helado cuando te lo pedí?” El hombre está confundido y dice: <i>“Nunca te oí pedir un helado”.</i> <br>
Es un ejemplo bastante pequeño, y bastante intrascendente, pero es un ejemplo con el que muchas personas en relaciones hombre/mujer pueden relacionarse.
Ambas partes pensaron que dijeron y escucharon cosas diferentes en la misma conversación. Esta es una de las razones por las que la comunicación efectiva es necesaria ya que hace a las mujeres comunicarse de forma más directas. <br> <br>
<i>El hecho de ser honestos es lo que hace que las relaciones perduren – Lauryn Hill</i> <br> <br>
Si una mujer quiere ir a hacer algo con un hombre, no debería simplemente preguntarle qué quiere él hacer. Ella debería, en cambio, comunicarle lo que desea hacer, y luego pedirle que se una. Además, debe preguntarle si le gustaría ir a hacer lo que ella quiere hacer, con ella. Como una cita. Porque, si ella no especifica esto, el hombre puede fácilmente decir, <i>“no, no tengo ganas de ir a la ópera”.</i> <br>
A continuación un ejemplo de la comunicación efectiva que no corta la fluidez y permite que ambas partes se comuniquen más claramente. <br> <br>
Con este ejemplo, se sugiere el siguiente escenario:
La mujer le da al hombre tres opciones de lo que quiere hacer en una cita, con una semana de anticipación.
<img class=publi3 src="https://image.ibb.co/mWOuUz/relacion4.png" hspace="5" vspace="5" style="float:left" />
El hombre decide, pero no le dice a la mujer hasta que ocurre la cita. Esto permite a la mujer anticiparse a la cita toda la semana, mientras que el hombre se siente como si hubiera tomado una decisión, al mismo tiempo que recibe una comunicación clara sobre los tipos de citas que la mujer quería tener. <br>
Puede parecer mucho trabajo, pero la clave es comenzar con la comunicación directa por parte de la mujer. Puede abrir nuevas puertas a una interacción exitosa que ambas partes nunca pensaron que fuera posible. <br> <br>
<i>El amor no reclama posesiones sino que da libertad – Rabindranath Tagore</i> <br> <br>
<h5>Los hombres y las mujeres tienen diferentes procesos emocionales:</h5>
Las emociones tienen mucho que ver con cómo nos comunicamos. Las emociones pueden inducirnos a decir ciertas cosas, a retener cosas diferentes, o incluso a responder de maneras que nunca hubiéramos pensado que lo haríamos. Las emociones también pueden cambiar nuestro lenguaje corporal y la forma en que emitimos señales unos a otros, incluso cuando no nos damos cuenta de que lo estamos haciendo. <br> <br>
Las emociones de las mujeres suben y bajan y tienen niveles muy altos y muy bajos. En general, las emociones de las mujeres tienden a fluctuar más que las de los hombres. <br>
Los hombres tienden a ser un poco más constantes con sus emociones, que pueden ser tanto positivas como negativas. Si bien es posible que no tengan una inmersión tan profunda en la depresión, también es posible que no experimenten un subidón tan alto cuando son felices. <br>
Una de las muchas áreas en las que este impacto tiene que ver, es con el “tiempo a solas“. Los hombres son mucho más propensos a querer estar solos cuando sienten emociones que los hacen sentir asustados o incómodos. Los hombres necesitan estar solos por un tiempo, donde se sientan seguros, y no debe ser visto como algo negativo por su pareja. <br> <br>
<img class=publi3 src="https://image.ibb.co/bVJ6be/relacion5.png" hspace="5" vspace="5" style="float:left" />
Les ayuda científicamente a construir su testosterona y a pensar con más claridad. Si se le da el tiempo para retirarse a su espacio seguro, un hombre saldrá de este tiempo solo una vez que haya manejado el problema internamente. <br>
Una mujer, por otro lado, puede sentirse mejor hablando y puede no entender por qué su pareja masculina quiere pasar tiempo solo procesando el asunto. <br>
Permitir que las mujeres y los hombres procesen las emociones de una manera cómoda y natural para ellos es un componente esencial para mantener las líneas de la comunicación efectiva libres y abiertas. <br> <br>
<h5>Comprender a tu pareja es una gran manera de mostrar amor</h5>
Los hombres son de Marte, las mujeres son de Venus es un libro que habla acerca de las diferencias entre hombres y mujeres, y que no hay una gran similitud entre ellos. Mostrar comprensión es clave.
Los hombres y las mujeres son diferentes. Son diferentes física, biológica y emocionalmente, casi en todos los sentidos. Sin embargo, la razón por la que muchas de estas relaciones pueden funcionar al final es porque estas diferencias proporcionan un equilibrio. Sólo necesitas encontrar ese equilibrio en la comunicación efectiva. <br> <br>
Si te tomas el tiempo para realmente llegar a entender a tu pareja, puedes ayudarla a sentirse amada, valorada y apreciada. Los hombres y las mujeres son diferentes, y es importante aceptarlo y entenderlo. Tú puedes estar hablando un idioma diferente, pero si te tomas el tiempo para realmente hablar con tu pareja y tratar de entender el lugar de donde viene, eso puede decir mucho. <br> <br>
Tómate el tiempo para hacer preguntas, ponerte en el lugar de la otra persona, o incluso leer libros de consejos sobre relaciones, para mostrarle a la otra persona que quieres entenderla mejor porque aprecias quién es y quieres comunicarte más claramente. <b>La comunicación efectiva puede ayudar a restaurar la energía en tu relación romántica para que tú y tu pareja puedan continuar manteniendo su relación lo más saludable posible.</b>
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/amor07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/n4BEUz/entendermujer.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Porque es complicado entender a las mujeres?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jOcJNK/reproduccion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La felicidad de la pareja y el ciclo de reproducción</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gz9yNK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La comunicación no verbal - sensorial</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/ewvSGe/atraeramor2.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La ley de la Atracción en el Amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor12())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9kuwe/estresamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Como manejar el Estrés en el amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor13())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWK4we/felices.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Y vivieron felices por siempre</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor14())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eicrbe/parejaperfecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿ Exite la pareja ideal?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor15())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cDt3pz/eslacorrecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Esta con la pareja correcta?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/h604zz/meditacionamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Atrae tu pareja ideal con la meditación</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gBn4Uz/medianaranja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Exista la pareja perfecta?¿ Tu media naranja? </b>
</p>
</div>
</div>
</div>
</div>
</div>