<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<br>
<div class="row">
<div class="mensaje col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h2>Preguntas y Respuestas Frecuentes </h2>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/preguntas " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/preguntas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/preguntas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XK3ZBRJNQ7K3N" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6254R2PMPXVSQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</a>
</div>
<br>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><h6><p>
¿Qué son los audios subliminales? </p></h6>
</button>
<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<div class="card-body">
<h6>Respuesta</h6>
<p>Un audio subliminal es aquel audio que contiene por lo general música relajante y que incluye mensajes ocultos en alta frecuencia y tiene como propósito primero pasar por debajo de los límites normales de percepción consciente y luego influenciar en el subconsciente, es decir enviar mensajes a tu mente subconsciente sin que te des cuenta de los mensajes subliminales</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <h6><p> ¿La música es el subliminal?</p></h6>
</button>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="card-body">
<h6>Respuesta</h6><p>No, la música como puede ser el sonido de naturaleza es solamente para distraer a la mente consciente para que no interfiera en el “análisis” del mensaje que va recibiendo el subconsciente. La música en los audios subliminales contienen tono binaural e isócronos (en algunos casos) esto permite sincronizar las ondas cerebrales y poner la mente en estado de relajación que es ideal para ser sugestión.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><h6><p> ¿Cómo funciona los audios subliminales?</p></h6>
</button>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
<div class="card-body">
<h6>Respuesta</h6>
<p> El proceso es el siguiente: Los mensajes subliminales contienen frases que son afirmaciones en positivo para que tu mente subconsciente adopte un tipo de creencia que va de acuerdo al objetivo que se desea alcanzar. Estos mensajes serán las nuevas creencias en tu mente subconsciente. De esta manera, tu mente subconsciente hará el trabajo según la nueva creencia. Para el proceso subliminal se complete en forma óptima, la mente consciente NO debe interferir o sabotear las nuevas creencias que se está sembrando en la mente subconsciente. Una de las formas de sabotear el proceso, es pensar y sentir constantemente de manera negativa o contrario al objetivo deseado. Lo ideal sería que mientras escuchas el audio subliminal, debes pensar y sentir (crear sensaciones en forma positiva) que ya vives con el objetivo deseado. De esta forma, la mente va creyendo y creando tu nueva realidad. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> <h6><p>¿Me da miedo, es peligroso los audios subliminales? </p></h6>
</button>
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p>No deberías tener miedo, ni tampoco son peligrosos los audios subliminales en PleyadesM, puedes comprobarlo en mi canal de YouTube los cientos de testimonios de gratitud. Mis audios subliminales contienen música de relajación como puede ser de agua, lluvia, pájaros, música clásica, etc., diferentes frecuencias Hz y mensajes subliminales en afirmaciones positivas que son estudiados en áreas de las leyes mentales, espirituales, programación neurolingüística y por temática.
Mis audios subliminales contienen mensajes que son elaborados con frases estudiadas en distintos campos científicos y son mensajes para hacer el bien y NO para hacer el mal. La única precaución que debes tener cuando escuches, es NO realizar actividades que requieran de tu atención y pueden ser peligroso en un descuido, como puede ser un trabajo de carpintería, manejar un auto. Porque las frecuencias que contienen inducen al sueño. Además, no sufrir de epilepsia o problemas del corazón (esto es para los audios que contienen ondas alfas binaurales e isocronicas). Mientras para los audios silenciosos se puede escuchar en cualquier momento sin riesgo. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco"> <h6><p> ¿Desde de qué edad se deben escuchar los audios subliminales?
</p></h6>
</button>
<div id="collapseCinco" class="collapse" aria-labelledby="headingCinco" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> No existe un rango de edad para escuchar mis audios subliminales. Pero es preferible si es menor de edad el oyente sea supervisado por un adulto y que el menor sea consciente de que está haciendo porque a nadie le gustaría que manipulen su mente sin su consentimiento. Los mensajes subliminales que diseño contienen sugestiones positivas, algunas ondas binaurales e isocrònicas que son útiles para una mejor sugestión mental.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis"> <h6><p> ¿Por qué los audios subliminales del canal de YouTube es gratis?
</p></h6>
</button>
<div id="collapseSeis" class="collapse" aria-labelledby="headingSeis" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Es de libre acceso porque es para la demostración al público en general. De esta manera, pueden probar los audios subliminales. Además, este conocimiento del poder del subconsciente es nuevo para la gran mayoría y nada mejor que puedan ganar confianza con el poder de su mente con probar los audios subliminales y as experimentar resultados.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseSiete" aria-expanded="false" aria-controls="collapseSiete"> <h6><p> ¿Cuánto tiempo por día debo escuchar los audios subliminales?
</p></h6>
</button>
<div id="collapseSiete" class="collapse" aria-labelledby="headingSiete" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p>No hay un tiempo definido pero lo habitual y recomendado es escucharlo en promedio 1 hora como mínimo. Esto incluye escucharlo por partes pero 1 hora mínimo por día. Se debe escuchar todos los días sin saltarse uno y si puedes escuchar más tiempo sería mucho mejor porque a mayor cantidad de tiempo de sugestión al subconsciente , tendrá mejor adaptación a las nuevas creencias que se está implantando y por ende mejores resultados. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseOcho" aria-expanded="false" aria-controls="collapseOcho"> <h6><p> ¿Cuántos audios subliminales distintos puedo escuchar en un mismo día?
</p></h6>
</button>
<div id="collapseOcho" class="collapse" aria-labelledby="headingOcho" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p>No hay una cantidad limite porque cada persona tiene una vida distinta. Puedes escuchar varios pero recuerda que cada persona es diferente y puede tener distintos niveles de sugestión mental, por eso no hay límites cuantos audios puedes escuchar. Algunos al escuchar un par de audios subliminales todos los días pueden ver resultados, otros con más de un par de audios subliminales. Lo importante es no sentirse cansado al escuchar muchos audios subliminales, vive tu vida. Mi consejo es seleccionar primero los audios subliminales con el objetivo que deseas con mucha pasión hacerlo realidad. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseNueve" aria-expanded="false" aria-controls="collapseNueve"> <h6><p> ¿Es obligatorio escuchar los audios subliminales con audífonos?
</p></h6>
</button>
<div id="collapseNueve" class="collapse" aria-labelledby="headingNueve" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Es preferible usar audífonos pero si tienes un oído muy desarrollado como son los niños puedes dejar de prescindir de ellos. Algo importante que debes tener en cuenta que mis audios subliminales contienen frecuencias que sincronizan los hemisferios del cerebro para que sea sensible a la sugestión y por ello es recomendable usar audífonos.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDiez" aria-expanded="false" aria-controls="collapseDiez"> <h6><p> ¿Puedo escuchar los audios subliminales mientras estoy durmiendo?
</p></h6>
</button>
<div id="collapseDiez" class="collapse" aria-labelledby="headingDiez" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Si, puedes escucharlo e incluso justo antes de dormir y quedarte dormido con el audio subliminal “soñando que vives con el deseo cumplido “, esto es visualizando de manera emotiva el objetivo deseado como si estuvieras viviéndolo en el presente. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseOnce" aria-expanded="false" aria-controls="collapseOnce"> <h6><p> ¿Cuánto tiempo debo esperar para ver resultados con los audios subliminales?
</p></h6>
</button>
<div id="collapseOnce" class="collapse" aria-labelledby="headingOnce" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> El tiempo es distinto en cada persona. La mente de cada persona reacciona de diferente manera a las sugestiones subliminales. Hay casos que desde el primer día ya muchas personas notan cambios. En los cambios internos desde la primera semana ya notaras cambios. En promedio general en un par de meses ya deberías notar cambios muy visibles para cambios físicos y agrego que los cambios serán permanentes si es que no cambias de creencias contrarias al audio subliminal. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDoce" aria-expanded="false" aria-controls="collapseDoce"> <h6><p> ¿Puedo descargar el video que es audio subliminal del canal de YouTube? ¿Se pierde el subliminal si lo convierto a MP3 u otro formato?
</p></h6>
</button>
<div id="collapseDoce" class="collapse" aria-labelledby="headingDoce" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Al estar los audios subliminales en YouTube y de acceso gratis no da sobre entendido que es para descargarlo. Particularmente no doy permiso, ni me hago responsable del contenido, ni de los resultados fuera de los sitios oficiales de PleyadesM. Descargas, conversiones y distribución de mis audios subliminales es bajo la responsabilidad del quien hace y con ello los resultados.
Mi propósito de poner audios subliminales de acceso libre en YouTube es para que las personas valoren mi trabajo, comprueben y disfruten de la experiencia de activar los poderes mentales con mis audios subliminales desde el canal PleyadesM en YouTube, que están en los idiomas español PleyadesM Subliminal, inglés PleyadesM English, portugués PleyadesM Portugues y francés PleyadesM Francais. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseTrece" aria-expanded="false" aria-controls="collapseTrece"> <h6><p> ¿Los cambios son permanentes? ¿Cuándo logro mi objetivo debo seguir escuchando el audio subliminal?
</p></h6>
</button>
<div id="collapseTrece" class="collapse" aria-labelledby="headingTrece" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Si son permanentes, una vez que tu subconsciente obtiene la nueva programación, tu mente creerá que la nueva creencia es la realidad y seguirá con ese molde que fue programado. Pero puede haber casos que si buscas cambiar o crear hábitos contrarios a las nuevas creencias de los audios subliminales puede haber un reverso de los cambios. Por eso es importante buscar llenar tu mente de información positiva y de fe.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseCatorce" aria-expanded="false" aria-controls="collapseCatorce"> <h6><p> ¿Puedo escuchar otra música mientras escucho el audio subliminal?
</p></h6>
</button>
<div id="collapseCatorce" class="collapse" aria-labelledby="headingCatorce" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> No, si vas a escuchar otra música no debes escuchar el audio subliminal sobre todo música que contengan letras. De igual forma, si vas a escuchar el audio subliminal no debes escuchar otra música. Cuando termines de escuchar el audio subliminal recién puedes escuchar otro tipo de música de preferencia con mensajes positivos para tu vida. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseQuince" aria-expanded="false" aria-controls="collapseQuince"> <h6><p> ¿Tengo que ver el video del audio subliminal que está en Youtube, todo el tiempo que estoy escuchándolo?
</p></h6>
</button>
<div id="collapseQuince" class="collapse" aria-labelledby="headingQuince" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> No necesariamente, eso es opcional. Si deseas ver la imagen, recomiendo que te inspires con la imagen de sentir que tu deseo se hace realidad en el presente y si solo escuchar busca tener los sentimientos de tener ese deseo cumplido. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDieciseis" aria-expanded="false" aria-controls="collapseDieciseis"> <h6><p> Siento dolor de cabeza o mareos, cuando estoy escuchando el audio subliminal. ¿A qué se debe?
</p></h6>
</button>
<div id="collapseDieciseis" class="collapse" aria-labelledby="headingDieciseis" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Por lo general dolor de cabeza o mareos puede suceder en los primeros días, el motivo es que algunos de mis audios subliminales contienen tonos isocronicos o binaurales que ayudan a relajar al cerebro para estar en un mejor estado para la sugestión subliminal y mucha gente no está acostumbrada a este tipo de ondas. Pero no te preocupes, si este es tu caso puedes comenzar con escuchar a bajo volumen hasta que tu cerebro se acostumbre. En algunas casos para el cambio de color de ojos los primeros días se tiene ardor en los ojos, ese síntoma también pasara en el transcurso de los días.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDiesisiete" aria-expanded="false" aria-controls="collapseDiesisiete"> <h6><p> ¿A qué volumen debo escuchar tus audios subliminales?
</p></h6>
</button>
<div id="collapseDiesisiete" class="collapse" aria-labelledby="headingDiesisiete" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Tú decides que nivel de volumen debes escuchar pero te recomiendo a volumen medio, ni alto ni bajo. Podría ser a nivel de volumen entre 30% -40% aproximadamente. Lo importante es cuidar tu oído y no gastarlos escuchando con altos niveles de volumen en cualquier sonido.</p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDiesiocho" aria-expanded="false" aria-controls="collapseDiesiocho"> <h6><p> ¿Qué me garantiza que los mensajes subliminales no contienen mensajes dañinos?
</p></h6>
</button>
<div id="collapseDiesiocho" class="collapse" aria-labelledby="headingDiesiocho" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> La garantía que puede haber es tu voto de confianza que depositas en mí y eso lo aprecio. Además, puedes leer buenos testimonios de gratitud de mis seguidores en el canal de YouTube que son testimonios de los resultados por experimentar mis audios subliminales. Mi intención de crear audios subliminales desde el canal de YouTube se basa en los principios del mentalismo y las leyes universales. Un principio importante que practico es hacer el bien al prójimo porque lo que uno siembra se cosecha y no hagas a otros lo que no te gustaría que te hicieran. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseDiesinueve" aria-expanded="false" aria-controls="collapseDiesinueve"> <h6><p> ¿Los mensajes de tus audios subliminales tienen contra indicaciones, o están prohibidas para algunas personas?
</p></h6>
</button>
<div id="collapseDiesinueve" class="collapse" aria-labelledby="headingDiesinueve" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Solo para las personas que sufren de epilepsia o ataques cardiacos NO deben escuchar los audios subliminales que contienen tonos binaurales e isocrònicos, que son en su mayoría. A acepciones de los audios subliminales silenciosos </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseVeinte" aria-expanded="false" aria-controls="collapseVeinte"> <h6><p> ¿Cómo puedo reconocer un audio subliminal con tonos binaurales e isocrònicos?
</p></h6>
</button>
<div id="collapseVeinte" class="collapse" aria-labelledby="headingVeinte" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Se puede reconocerlos porque contienen un tono similar a un zumbido constante.
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseVeintiuno" aria-expanded="false" aria-controls="collapseVeintiuno"> <h6><p> ¿Cómo puedo tener resultados más rápidos con los audios subliminales?
</p></h6>
</button>
<div id="collapseVeintiuno" class="collapse" aria-labelledby="headingVeintiuno" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p>La manera de obtener un cambio más rápido es elevar el nivel de la consciencia, para comenzar este proceso se debe primero adquirir mayor conocimiento del poder de la mente, así al mismo tiempo alimentar tu fe. Un ejercicio importante es la visualización emotiva, es decir hacer una imagen en tu mente viviendo y disfrutando emocionalmente tu objetivo en el presente. Cuanto más tiempo haces este ejercicio en compañía con los audios subliminales veras resultados más rápidos. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseVeintidos" aria-expanded="false" aria-controls="collapseVeintidos"> <h6><p> ¿Es necesario meditar o poner la mente en blanco al escuchar el audio subliminal?
</p></h6>
</button>
<div id="collapseVeintidos" class="collapse" aria-labelledby="headingVeintidos" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> No necesariamente, porque con enfocarte en el objetivo de manera positiva es suficiente para comenzar a ver resultados. Las meditaciones ayudan mucho a entrenar la mente pero para los audios subliminales no es requisito de ello. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseVeintetres" aria-expanded="false" aria-controls="collapseVeintetres"> <h6><p> ¿Por qué no pones las frases o las afirmaciones que contienen los mensajes subliminales?
</p></h6>
</button>
<div id="collapseVeintetres" class="collapse" aria-labelledby="headingVeintetres" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> Al principio publicaba las afirmaciones pero luego de leer comentarios y discusiones que ocasionaba al conocer los mensajes y esto hacia que ocasione conflictos entre las personas ocasionando debates sobre que o no debe haber en las frases las frases. Un ejemplo de conflicto puede ser cuando se incluye una frase como: “el dinero viene a mi vida fácil y rápidamente” el oyente como tiene una creencia particular acerca del dinero piensa que el dinero se debe hacer con trabajo duro, y cree fielmente como que al que madruga Dios le ayuda. Tienen un conflicto consciente al escuchar el audio subliminal saboteándolo. Las frases contenidas solo son de manera positivas, no incluye palabras del problema a resolver, ni palabras en negación, ni todo lo que le mente se puede imaginar para sabotear el objetivo. </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
<div class="card">
<button class="btn-info collapsed" data-toggle="collapse" data-target="#collapseVeinticuatro" aria-expanded="false" aria-controls="collapseVeinticuatro"> <h6><p> ¿Creo que algunos audios subliminales tienen objetivos muy fantasioso para hacerlo realidad, ¿porque los publicas?
</p></h6>
</button>
<div id="collapseVeinticuatro" class="collapse" aria-labelledby="headingVeinticuatro" data-parent="#accordion">
<div class="card-body">
<h6> Respuesta </h6>
<p> En cada persona está el decir que puede ser fantasioso porque si para uno que no cree es imposible, así lo será. En cambio, para otra persona que si cree que será posible y entocnes hará realidad lo imposible con el poder de la fe. El poder de la fé que hace milagros se desprende desde el subconsciente. Los milagros de fe fue registrado en centenares de libros, religiones y testimonios en todo el mundo. “Porque al que cree TODO le es posible”,… Jesucristo. La mente lo es todo. Lo que pienses constantemente, en eso te conviertes.…. Buda , Somos lo que pensamos, todo lo que somos se levanta con nuestros pensamientos. Con ellos, creamos el mundo.… Buda . </p>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"> Los mensajes subliminales</a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"> Categorias de audios subliminales</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Articulos que le pueden interesar:</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/ez6Zwe/atraerelamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Actitudes para atraer el amor </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b680NK/adn.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu ADN es controlado por tus pensamientos </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mX0f4z/submente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Deja que el Subconsciente trabaje ... </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/huEFme/mente001.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Cuidado con el sabotaje del subconsciente</b>
</p>
</div>
</div>
</div>
</div>
</div>
<br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/preguntas " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/preguntas" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/preguntas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/preguntas" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>