<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1> La Transmutación De La Energía en las Palabras</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<b>¿Cuál es el poder de la palabra?</b>Nuestra vida toma acción y reacción dependiendo de las palabras que pronunciamos o decretamos, de allí radica que debamos pensar lo que decimos, ya que de esa forma nos evitamos muchas situaciones desagradables. Aunque muchos no lo crean las palabras tienen el poder de destruir o construir vidas, cuando decimos algo fuera de lugar es posible que podamos incluso destruir el autoestima de alguien. <br> <br>
<img class=publi3 src="https://image.ibb.co/g1zwSK/palabra1.png" hspace="5" vspace="5" style="float:left" />
Lo ideal es que podamos reeducar, alimentar y restaurar nuestro vocabulario, ya que a medida que vamos creciendo o madurando vamos perdiendo poco a poco nuestra inocencia. Esto contribuye a que nuestra capacidad de crecer disminuya, lo que nos lleva a dudar de nosotros mismos, a pensar sólo en lo negativo y feo, en vez de enfocarnos en lo mejor y lo positivo de la vida.
<br> <br>
<h5>El Poder De La Palabra: Como Transformarlo En Energía Positiva Para La Vida…</h5>
Quizás cuando hablamos no prestamos mucha atención a lo que decimos. Creemos que las palabras carecen de importancia alguna en nuestra vida, pero no es así, por el contrario, todo absolutamente todo lo que decimos es lo que decretamos en nuestro día a día. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Por ejemplo, cuántos de nosotros, al preguntarnos alguien por nuestro estado financiero, decimos una palabra que encierra una gran carga energética, “mal”. Esto es más que describir como estamos financieramente, es una carencia de espiritualidad y agradecimiento a la vida, la pobreza más allá de lo que nuestros ojos ven. Ser pobre no es el hecho de no tener dinero, ser pobre es sentirse pobre de espíritu. <br> <br>
<img class=publi3 src="https://image.ibb.co/j7wMuz/palabra2.png" hspace="5" vspace="5" style="float:left" />
Nuestras palabras diarias solo deben ser de agradecimiento a Dios, al universo, por cada una de las cosas que tenemos.
Si nuestras palabras estén cargadas de honestidad y mucha esperanza, su poder en nuestra vida se fortalecerá y veremos resultados positivos convertidos en bendiciones. Si digo que no puedo hacer algo, es cierto, no podré hacerlo porque ya lo decreté, del mismo modo, si digo que si puedo, si podré hacerlo por el mismo motivo… si, el de decretar las cosas a través de mis palabras. <br> <br>
<b>Observemos a las personas con un vocabulario pesimista… </b>jamás logran nada, porque así lo decretan, sin embargo las personas exitosas, siempre mantienen un vocablo optimista, debemos saber que el optimismo bajo ninguna circunstancia es igual a la fantasía, una cosa es ser optimista y otra muy distinta es creer en pajaritos preñados, así que no confundamos las situaciones. <br>
Las palabras, junto con la onda vibratoria que se emite, tienen el poder de crear, sanar e incluso destruir. <br> <br>
Ésta teoría indica que cuando focalizamos nuestra mente en algo, y a esto le sumamos el sentimiento y la emoción para finalmente expresarlo, estamos exteriorizando y materializando un poder que estará afectando los reinados de la materia. <br> <br>
<h5>Lo que le dices a otros, te los dices a ti: La ley del espejo…</h5> <br>
Si cada uno de nosotros estuviésemos conscientes de que la energía liberada en cada una de nuestras palabras y de cómo afecta no sólo a quien se la dirigimos sino también a nosotros mismos y al mundo que nos rodea, comenzaremos a cuidar más lo que decimos. <br> <br> Para los antiguos Esenios, sabían de la existencia de un enorme poder contenido en la oración, el verbo y la palabra. Los antiguos alfabetos, como el sánscrito, el arameo y el lenguaje hebreo son fuentes de poder en sí mismos. Los esenios utilizaron la energía que canaliza el lenguaje, la cual era la manifestación final del pensamiento, la emoción y el sentimiento, para manifestar en la realidad la calidad de vida que deseaban experimentar en este mundo. <br> <br>
<img class=publi3 src="https://image.ibb.co/coukMe/palabra3.png" hspace="5" vspace="5" style="float:left" />
En las culturas del antiguo Oriente eran utilizados los mantras, los rezos, los cánticos y las plegarias con una intención predeterminada, se usaban como técnicas para materializar estados internos y programar, de una forma ignorada por nosotros en la actualidad, realidades pensadas, deseadas y afirmadas previamente. Los estudios realizados por físicos cuánticos comienzan a redescubrir y validar el enorme conocimiento olvidado de antiguas culturas ancestrales. Un conocimiento que se encuentra aún escondido y olvidado y que nos aportaría el poder de cambiar nuestro mundo y lo que nos rodea de una forma inimaginable. <br> <br>
<h5>El poder de la palabra y su capacidad para programar nuestro ADN…</h5>
Una reciente investigación científica rusa apunta a que el ADN puede ser influido y reprogramado por palabras y sus frecuencias, sin seccionar ni reemplazar genes individuales. rb <br> <b> Solo el 10% de nuestro ADN se utiliza para construir proteínas, y este pequeño porcentaje del total que compone el este, es el que estudian los investigadores occidentales. El otro 90% es considerado “ADN chatarra”.</b> Sin embargo los investigadores rusos, convencidos de que la naturaleza no es tonta, reunieron a lingüistas y genetistas, en un estudio sin precedentes para explorar ese 90% de ADN chatarra. Los maestros espirituales y religiosos de la antigüedad han sabido, desde hace miles de años, que nuestro cuerpo se puede programar por medio del lenguaje, las palabras y el pensamiento. Ahora eso se ha probado y explicado científicamente. <br> <br>
<i>
<img class=publi3 src="https://image.ibb.co/fXRzge/palabra4.png" hspace="5" vspace="5" style="float:left" />
“Imaginemos una biblioteca que en lugar de archivar miles de libros sólo guarda el alfabeto común a todos los libros, entonces, cuando uno solicita la información de un determinado libro, el alfabeto reúne todo lo contenido en sus páginas y nos lo pone a nuestra disposición”.- Garjajev.</i> <br> <br>
Esto nos abre las puertas a un misterio aún mayor: que la verdadera biblioteca de nuestro sistema, estaría fuera de nuestros cuerpos en algún lugar desconocido del cosmos y que el ADN estaría en comunicación permanente con este reservorio universal de conocimiento, con esa fuerza que día a día nos alimenta el espíritu. <br> <br>
<h5>El poder curativo de las palabras…</h5>
Existe una capacidad demostrada en la que la palabra puede afectar la programación del ADN. La salud podría conservarse indefinidamente si nos orientamos en pensamientos, sentimientos, emociones y palabras creativas y, por sobre todo, bien intencionadas. Algunos estudios han demostrado que existe algo llamado híper comunicación, que es como una especie de red de internet natural, en donde todos los seres vivos estamos conectados por lo algo conocido como conciencia colectiva. <br> <br>
<img class=publi3 src="https://image.ibb.co/ecTqnK/palabra5.png" hspace="5" vspace="5" style="float:left" />
Si todos los seres humanos estuviéramos conscientes de la existencia de esta matriz de comunicación entre los seres vivos, y trabajáríamos en la unificación de pensamientos con objetivos mancomunados, y seríamos capaces de logros impensados, como la reversión repentina de procesos climáticos adversos. <br> <br>
<b>El poder de los rezos, oraciones y peticiones, tal como nos lo han legado los antiguos Esenios, potenciado por millares de personas, nos otorgaría un poder que superaría al de cualquier potencia militar que quisiera imponernos su voluntad por la fuerza.</b> <br> Este poder ha sido demostrado en especies animales como los delfines, que trabajan unificados en objetivos comunes. Los delfines utilizan patrones geométricos de híper-comunicación, ultrasonido y resonancias que les sirven para interactuar con las grillas energéticas del planeta. Estos animales poseen la capacidad de producir estructuras sónicas geométricas y armónicas bajo el agua. <br> <br>
Podríamos afirmar que los delfines ayudan más a mantener el equilibrio planetario de lo que lo hacen los humanos, que lamentablemente desconocemos nuestro poder, regalado por el universo. Creo que es momento de comenzar a usar el poder de la palabra por un bien en común, la paz y armonía de la vida en nuestro mundo. Y ésto solo se puede activar bajo el amor y la paz, <b>recuerda que eres lo que dices tú, así que trabaja en ello… </b><br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Los más leidos</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hPvdre/ansiedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Superando la Ansiedad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dJVWcK/mujerexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Actitudes para ser una mujer de éxito</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bLgMcK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La comunicacion sin hablar</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nwg7jz/programacion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Programación Neurolingüística para tener Éxito </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bGxKxK/darrecibir.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La abundancia de Dar para Recibir</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/m8ov4z/desbloqueo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Desbloqueo de los Patrones Mentales</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9wUxK/miedoalfracaso.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El Miedo Al Fracaso ¡Superando los Temores!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jYNKxK/personasexitosas.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Hábitos De Alto Rendimiento ¡Éxito Seguro!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/c4XmcK/comunicacionefectiva.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Habilidades de comunicación efectiva</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>