<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Y vivieron felices por siempre</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor13 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="whatsapp://send?text=www.pleyadesm.com/%23/amor13" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor13" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Los cuentos de hadas nos regalan una idea muy romántica del amor, pero lo curioso de esto es que siempre terminan en el momento en que se casan y ya, pues es allí donde comienza realmente la historia, en ocasiones el vivieron felices, se convierte en un vivieron infelices por siempre, la guerra de caracteres y de modos de vivir y ver el mundo entran en conflicto una vez que el idilio del enamoramiento se termina. <br> <br>
<img class=publi3 src="https://image.ibb.co/jz6UxK/feliz1.png" hspace="5" vspace="5" style="float:left" />
Debemos saber que no todo lo que brilla es oro, y que la convivencia con otra persona no es perfecta, pero podemos hacerla manejable en muchos sentidos. Lo importante a tener en cuenta para que una relación funcione es el respeto, la comunicación, la tolerancia y. por supuesto, sacarnos ese chip de que la otra persona es la razón de nuestra felicidad. Si quieres estar en paz ¡quítate esa idea de la cabeza!. <br> <br>
<b>Infelices Por Siempre… El Verdadero Secreto De La Relación De Pareja:</b>
Cuando escuchamos las quejas de la gran mayoría de las parejas, nos encontramos con frases como las siguientes: <i>“no me entiende”, “el/ello no me hace feliz”, “no es lo que esperaba”, “no puedo ni hablar con él/ella”</i> y así podemos pasar todo un día escuchando las mismas quejas. <br> <br>
Si le preguntamos a una abuelita, nos dirá que el secreto radica en no molestarse por pequeñeces y que nunca se acuesten molestos. Algo, que a mi parecer es muy lógico, sin embargo, hay una frase que me ha llamado la atención por algún tiempo y es la siguiente:
<i>“Si estas enamorado no te cases”
Padre Alberto Linero</i> <br> <br>
Una frase simple pero cargada de mucha verdad, ya que el enamoramiento es hermoso, pero es una etapa muy visceral, emotiva, la cual nos puede hacer cometer algunos errores, pues no pensamos las cosas con el detenimiento debido. El matrimonio no es como nos los venden en las novelas o películas románticas, el matrimonio es un enlace que debe ser fortalecido día tras día, con respeto, compañerismo, amor y mucha tolerancia. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>Los pilares de una relación:</b>
Estos pilares no solo se deben llevar de forma positiva en una relación sentimental o de pareja, sino también en la amistad, compañerismo, entre los padres y los hijos, en fin, en muchas otras relaciones en las cuales convivimos a diario. <br> <br>
<b>1| Respeto:</b>
Para mi es fundamental el respeto. Comencemos por algo que es una verdad absoluta aquí y en China, y es que para respetar debemos respetarnos, y para respetarnos debemos respetar a los demás, es simple y sencillo, pero complicado y algo difícil a la vez.
<img class=publi3 src="https://image.ibb.co/bHv04z/feliz2.png" hspace="5" vspace="5" style="float:left" />
Empecemos por definir la palabra “respeto”, y esta no es otra cosa que el reconocimiento del derecho ajeno, consideración y atención o diferencia que se debe a la otra persona. Esta es una condición que nos funciona bastante bien para alcanzar la paz y la tranquilidad. El respeto es un valor basado en la ética y en la moral. <br>
Cuando una persona es respetuosa, acepta la manera de pensar y actuar distinta a la de ella, por lo que trata con sumo cuidado a todos aquellos que le rodean. <br> <br>
Hermoso ¿cierto?, pero ¿podemos decir que somos respetuosos con otros, o incluso con nosotros mismos?. Quizás pensemos que si, pero si nos enfocamos en nuestra relación con nosotros u otros, es posible que la verdad sea muy distinta. <br>
El respeto debe comenzar por nosotros mismos, respetar nuestro espacio, tiempo y ser, como esencia única con el universo, como ser de luz debo respetarme a mí misma/mismo, ya que de esta forma aprenderé a respetar a los otros y al universo que me rodea. La única forma para poder entender a la persona que tengo a mi lado, respetando su integridad como ser pensante, y como ser de luz. <br><br>
<b>2| Compañerismo:</b>
Cuando decidimos vivir con alguien, no podemos hacerlo en base al deseo carnal o al simple hecho de no estar solos. El compañerismo es mucho más que eso, es la idea de poder compartir con otra persona nuestros logros alcanzados, esa felicidad que ya tenemos y que únicamente deseamos compartir con alguien, además el compañerismo es una camaradería en donde ambas partes funcionan en armonía por un bien en común. <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/darwcK/feliz3.png" hspace="5" vspace="5" style="float:left" />
</div>
El compañerismo es un vínculo que existe entre personas, que se acompañan por el cumplimiento de un fin en común, formando algún tipo de comunidad, cuerpo o equipo. Muchas veces cuando tenemos una relación de pareja nos olvidamos de este concepto básico, y nos sumergimos en pelees constante de quien puede más, cual es el mejor de los dos, y así se nos va la vida volviéndonos infelices por siempre. <br>
Yo soy de las que piensa que de este mundo nada nos llevamos, ni siquiera los títulos universitarios, ni las riquezas amasadas, creo que por el contrario, dejamos a nuestros hijos que son parte de nuestro legado, dejamos el amor que dimos a otros, pero nos enfocamos más en ver qué podemos hacer en beneficio propio sin importar lo que podamos hacer por otros, y esa es la carrera de vivir infelices por siempre. <br> <br>
<b>3| Tolerancia:</b>
La tolerancia es un valor moral, el cual implica respeto integro hacia el otro, hacia sus ideas y pensamientos independientemente de que choque con las nuestras. Algo que es un tanto difícil de ejercer fuera del hogar, y mucho más dentro del mismo. Pensemos que al momento de contraer el compromiso de vivir con alguien lo hacemos bajo nuestra total certeza de que estamos conviviendo o conviviremos con otra persona, con ideas diferentes a las nuestras, con una cultura o modo de ver la vida distinto, y viceversa, por lo que la adaptación y el respeto son de vital importancia para una convivencia sana y armónica. <br>
<img class=publi3 src="https://image.ibb.co/ePehHK/feliz4.png" hspace="5" vspace="5" style="float:left" />
Nadie es perfecto, pero algo que es cierto es que todos aprendemos de los demás, sin importar las circunstancias que se nos presenten. <br>
Mira los lugares naturales más impresionantes del mundo, fueron formados a través de un trabajo constante, que en muchos caso fue radical, pues así mismo es la vida una lucha constante de cosas maravillosas que podemos aprender y enriquecernos de otros. <br> <br>
<b>4| Amor:</b>
El amor, una frase que puede guardar muchos significados y de la cual no existe un concepto que la defina por completo, lo que si sabemos y no podemos dudarlo, es que el amor no tiene nada que ver con las mariposas del estómago, el amor va más allá de ese simple hecho. <br>
Algo que debemos saber es que para amar a alguien debemos amarnos a nosotros mismos, y eso no significa que seamos egoístas o rayar en lo narcisistas, sino por el contrario, es poder sentir por nosotros, en primer lugar, los pilares que nombramos anteriormente, respetarnos, tolerarnos y ser nuestro mejor compañero. De esa manera podemos atraer esos sentimientos en otros. <br>
En muchos casos vivimos infelices por siempre con nosotros mismos… es una triste realidad que se puede modificar… ¡Solo hay que hacerlo! <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/amor13 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/amor13" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="whatsapp://send?text=www.pleyadesm.com/%23/amor13" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/amor13" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor14())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eicrbe/parejaperfecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿ Exite la pareja ideal?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gz9yNK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La comunicación no verbal - sensorial</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/ewvSGe/atraeramor2.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La ley de la Atracción en el Amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor12())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9kuwe/estresamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Como manejar el Estrés en el amor</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor15())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cDt3pz/eslacorrecta.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Esta con la pareja correcta?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/h604zz/meditacionamor.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Atrae tu pareja ideal con la meditación</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gBn4Uz/medianaranja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Exista la pareja perfecta?¿ Tu media naranja? </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verAmor07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cEb3NK/comunicacionpareja.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La importancia de la comunicación en la relación de pareja</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>