<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Los mensajes subliminales trabajando</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis02 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
La gente sí puede percibir los mensajes subliminales, particularmente cuando éstos son negativos, afirma una investigación llevada a cabo en el Reino Unido. <br>
<b>Los mensajes subliminales tienen más impacto cuando tienen un valor negativo. </b><br> <br>
<img class=publi3 src="https://image.ibb.co/gwryRe/subli1.png" hspace="5" vspace="5" style="float:left" />
Las imágenes subliminales -aquéllas que se muestran de forma tan breve que el espectador no logra registrarlas de forma consciente- han estado rodeadas siempre de controversia, particularmente en el campo de la publicidad. <br> <br>
Y como en muchos países se prohíbe su uso en televisión, ha sido muy difícil comprobar que funcionan.
Ahora, en tres experimentos llevados a cabo en la Universidad de Londres, los investigadores descubrieron que la gente sí es capaz de procesar la información emocional derivada de imágenes subliminales.
Y tal como señala el estudio publicado en Emotion (la revista de la Asociación Estadounidense de Psicología) en esas condiciones la información que tiene valor negativo puede detectarse de mejor forma que la de valor positivo. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
"Ha habido mucha especulación sobre si la gente puede procesar inconscientemente la información emocional, por ejemplo de fotografías, rostros y palabras" afirma la profesora Nilli Lavie, quien dirigió la investigación. <br> <br>
"En nuestro estudio demostramos que la gente sí puede percibir el valor emocional de los mensajes subliminales y que la gente están mucho más compenetrada con las palabras negativas", expresa.<br> <br>
<h5>Emocional</h5>
En el estudio se mostró brevemente a 50 participantes una serie de palabras ocultas en una computadora.
"Mate la velocidad" podría ser más efectivo que "disminuya la velocidad". Y de forma más controvertida, poner de manifiesto las cualidades negativas de un rival podría ser, a nivel subliminal, mucho más efectivo que proclamar nuestros propias virtudesProf. Nilli Lavie <br> <br>
Cada palabra aparecía en la pantalla por sólo una fracción de segundo, lo cual era demasiado rápido para que los participantes pudieran leerla de forma consciente.
<img class=publi3 src="https://image.ibb.co/nOCisK/subli2.png" hspace="5" vspace="5" style="float:left" />
Y las palabras tenían un significado positivo (feliz, flor, paz, etc.), negativo (agonía, desesperación, asesinato, etc.), o neutral (caja, oreja, tetera).<br> <br>
Los científicos pidieron a los participantes que después de ver cada palabra la clasificaran como neutral o emocional -ya fuera positiva o negativa) y también debían decir qué tan seguros estaban de su decisión.
Los investigadores descubrieron que los participantes respondían con más precisión cuando se trataba de palabras negativas, incluso cuando pensaban que solamente estaban adivinando la respuesta.
"Es claro que existen ventajas evolutivas que nos hacen responder rápidamente a la información emocional" afirma la profesora Lavie.<br> <br>
"No podemos esperar a que nuestra conciencia reaccione cuando vemos a alguien corriendo hacia nosotros con un cuchillo o si estamos manejando en condiciones de lluvia o neblina y vemos una señala que dice "peligro".<br> <br>
Pero la investigadora cree que -aunque las imágenes subliminales están prohibidas en muchos países- éstas podrían tener implicaciones para transmitir mensajes tanto en publicidad como en anuncios de servicio público, como en campañas de seguridad.<br> <br>
"Las palabras negativas podrían tener un impacto mucho más rápido" explica la investigadora.
""Mate la velocidad" podría ser más efectivo que "disminuya la velocidad", agrega.
"Y de forma más controvertida, poner de manifiesto las cualidades negativas de un rival podría ser, a nivel subliminal, mucho más efectivo que proclamar nuestros propias virtudes".<br> <br>
<h5>Controversia</h5>
Image captionNo se ha logrado demostrar si los mensajes subliminales funcionan en el mundo real.
Otros expertos, sin embargo, señalan que hasta ahora no hay evidencia de que los mensajes subliminales funcionen en el mundo real.<br> <br>
"Ciertamente muchos países alrededor del mundo tienen leyes que prohíben el uso de mensajes subliminales en televisión" dice el psicólogo Paul Buckley, experto en mercadotecnia de la Escuela de Administración de Cardiff.<br> <br>
"Y nadie hasta ahora ha sido capaz de mostrar algún ejemplo en el que un mensaje subliminal haya funcionado. Así que desde un punto de vista práctico, esto probablemente no refleja lo que podría ocurrir en la vida real".<br> <br>
<img class=publi3 src="https://image.ibb.co/f3bXme/subli3.png" hspace="5" vspace="5" style="float:left" />
El campo de los anuncios e imágenes subliminales ha estado siempre rodeado de controversia.
El término "anuncio subliminal" fue descrito por primera vez en 1957 por James Vicary, un investigador de mercados, que expresó que mensajes cortos e intermitentes en una pantalla de cine en Nueva Jersey habían provocado que la gente comprara más alimentos y bebidas.<br> <br>
En 1958 esta práctica fue prohibida en el Reino Unido, Estados Unidos y Australia. Pero en 1962 James Vicary admitió que había falsificado los resultados de su "estudio".<br> <br>
Diez años después, sin embargo, y a pesar de que no se había logrado demostrar evidencia de que realmente funcionaran, la ONU declaró que los mensajes subliminales eran una gran amenaza a los derechos humanos.
Al respecto, Ofcom, la oficina reguladora independiente de las industrias de comunicación en el Reino Unido, declara que "las estaciones de telecomunicaciones no deben utilizar técnicas que exploten la posibilidad de transmitir un mensaje a los espectadores y oyentes, o de tratar de influir en su mente, sin que éstos estén conscientes o totalmente conscientes de lo que está ocurriendo". <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/biokinesis02 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/biokinesis02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/biokinesis02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/biokinesis02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br> <br>
<b>Fuente: </b>
<a>bbc.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b680NK/adn.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu ADN es controlado por tus pensamientos </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verBiokinesis01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nu2Ybe/moleculas.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian las moleculas en tus genes</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>