<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1><b>Los pensamientos cambian el ADN</b></h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud02 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<div class="parrafo">
<b>Bruce Lipton, doctor en Medicina, investigador en biología celular: </b><br>
<p>Tengo 67 años. Nací y vivo en Nueva Zelanda. Estoy casado, tengo dos hijas y tres nietos. Creo que la evolución de la civilización está ocurriendo ahora. Un cuerpo humano está hecho de 50 trillones de células, el ser es una comunidad. Pasé de científico agnóstico a místico. <br> <br>
<b>Podemos cambiar</b>
<p class="titu">No se trata de un gurú de las pseudociencias, Lipton impartió clases de Biología Celular en la facultad de Medicina de la Universidad de Wisconsin y más tarde llevó a cabo estudios pioneros de epigenética en la facultad de Medicina de la Universidad de Stanford que lo llevaron al convencimiento de que nuestro cuerpo puede cambiar si reeducamos nuestras creencias y percepciones limitadoras. El problema siempre es el cómo: cómo cambiar la información del subconsciente. <b>En su libro La biología de la creencia (Palmyra) recomienda métodos como el PSYCH-K.</b> Y en La biología de la transformación (La esfera de los libros) explica la posibilidad de una evolución espontánea de nuestra especie. </p>
<img class=publi3 src="https://image.ibb.co/durECK/adn.png" hspace="5" vspace="5" style="float:left" />
Me enseñaron que los genes controlan la vida, que en ellos se inscriben todas nuestras capacidades y características, pero es falso. <br> <br>
<b>¿Del todo?</b>
No somos víctimas de nuestra genética, en realidad es el ADN el que está controlado por el medio externo celular. <br> <br>
<b>¿Qué significa eso?</b> <br>
La célula es la vida. Hablar de una célula es como hablar de una persona. Nosotros recibimos la información a través de los cinco sentidos y las células reciben las señales del entorno a través de los receptores que captan la información. El ADN es controlado por señales que vienen desde fuera de la célula, incluyendo mensajes energéticos de nuestros propios pensamientos, tanto los positivos como los negativos. <br> <br>
<b>¿Somos lo que vivimos y pensamos?</b> <br>
Sí, y cambiar nuestra manera de vivir y de percibir el mundo es cambiar nuestra biología. Los estudios que empecé hace cuarenta años demuestran que las células cambian en función del entorno, es lo que llamamos epigenética. Epi significa por encima de la genética, más allá de ella. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>¿Y?</b> <br>
Según el entorno y como tú respondes al mundo, un gen puede crear 30.000 diferentes variaciones. Menos del 10% del cáncer es heredado, es el estilo de vida lo que determina la genética. <br> <br>
<b>¿Es el entorno el que nos define?</b> <br>
Aprendemos a vernos como nos ven, a valorarnos como nos valoran. Lo que escuchamos y vivimos nos forma. No vemos el mundo como es, vemos el mundo como somos. Somos víctimas de nuestras creencias, pero podemos cambiarlas. <br>
<img class=publi3 src="https://image.ibb.co/nxggsK/entorno.png" hspace="5" vspace="5" style="float:left" />
Pero las creencias están inscritas en lo más profundo de nuestro subconsciente. <br>
Cierto. El subconsciente es un procesador de información un millón de veces más rápido que la mente consciente y utiliza entre el 95% y el 99% del tiempo la información ya almacenada desde nuestra niñez como un referente. Por eso cuando decidimos algo conscientemente como, por ejemplo, ganar más dinero, si nuestro subconsciente contiene información de que es muy difícil ganarse la vida, no lo conseguiremos. <br> <br>
<b>¿Entonces?</b> <br>
Si cambiamos las percepciones que tenemos en el subconsciente, cambiará nuestra realidad, y lo he comprobado a través de numerosos experimentos. Al reprogramar las creencias y percepciones que tenemos de cómo es la felicidad, la paz, la abundancia, podemos conquistarlas. <br> <br>
<b>Me suena a fórmula feliz...</b> <br>
Así es como funciona el efecto placebo. Si pienso que una pastilla me puede sanar, me la tomo y me encuentro mejor. <b> <br> <br>
¿Qué me ha sanado?...</b> <b>¿La creencia?</b> <br>
Eso parece. Al igual que los pensamientos positivos y el efecto placebo afectan a nuestra biología, existe el efecto nocebo: si crees que algo te hará daño, acabará por hacerte daño. Henry Ford decía que tanto si crees que puedes como si crees que no puedes, tienen razón. Si eliges vivir un mundo lleno de amor, tu salud mejorará. <br>
<b>¿Y eso por qué?</b> <br>
La química que provoca la alegría y el amor hace que nuestras células crezcan, y la química que provoca el miedo hace que las células mueran. Los pensamientos positivos son un imperativo biológico para una vida feliz y saludable. Existen dos mecanismos de supervivencia: el crecimiento y la protección, y ambos no pueden operar al mismo tiempo. <br> <br>
<b>O creces o te proteges.</b> <br>
Los procesos de crecimiento requieren un intercambio libre de información con el medio, la protección requiere el cierre completo del sistema. Una respuesta de protección mantenida inhibe la producción de energía necesaria para la vida. <br> <br>
<img class=publi3 src="https://image.ibb.co/g0frsK/sanidad.png" hspace="5" vspace="5" style="float:left" />
<b>¿Qué significa prosperar?</b> <br>
Para prosperar necesitamos buscar de forma activa la alegría y el amor, y llenar nuestra vida de estímulos que desencadenen procesos de crecimiento. Las hormonas del estrés coordinan la función de los órganos corporales e inhiben los procesos de crecimiento, suprimen por completo la actuación del sistema inmunológico. <br> <br>
<b>¿La culpa de todo la tienen los padres?</b> <br>
Las percepciones que formamos durante los primeros seis años, cuando el cerebro recibe la máxima información en un mínimo tiempo para entender el entorno, nos afectan el resto de la vida. Y las creencias inconscientes pasan de padres a hijos. Así es, los comportamientos, creencias y actitudes que observamos en nuestros padres se graban en nuestro cerebro y controlan nuestra biología el resto de la vida, a menos que aprendamos a volver a programarla.<br><br>
<b>¿Cómo detectar creencias negativas?</b> <br>
La vida es un reflejo de la mente subconsciente, lo que nos funciona bien en la vida son esas cosas que el subconsciente te permite que funcionen, lo que requiere mucho esfuerzo son esas cosas que tu subconsciente no apoya. <br> <br>
<b>¿Debo doblegar a mi subconsciente?</b> <br>
Es una batalla perdida, pero nada se soluciona hasta que uno no se esfuerza por cambiar. Deshágase de los miedos infundados y procure no inculcar creencias limitadoras en el subconsciente de sus hijos. <br>
<br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud02 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud02" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud02" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<b>Fuente: </b>
<a>Lavanguardia</a>
<br> <br>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cHD2XK/cerebrohip.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Los efectos de la hipnosis en el cerebro</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/neeCzz/psiquicamente.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La relajación psíquica y la salud </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gVst6e/seguntuedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Dormir estas horas segun tu edad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>