<h1>POLÍTICA DE COOKIES</h1>
Una cookie es un fichero que se descarga en el ordenador/smartphone/tablet del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo. <br>
Para conocer más información sobre las cookies, puedes acceder enlace: http://www.iabspain.net/privacidadeninternet/usuario. <br> <br> 
PleyadesM.com utiliza en este sitio web la siguiente tipología de cookies: <br> 

	Estrictamente necesarias para la prestación de determinados servicios solicitados expresamente por el usuario: si se desactivan estas cookies, no podrá recibir correctamente nuestros contenidos y servicios; <br> 
	Analíticas (para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios), <br> 
	Publicitarias y comportamentales (para la gestión de los espacios publicitarios y el contenido del sitio web según el perfil específico del usuario). <br> <br> 
<h4>Cookies propias del sitio</h4>
	Son estrictamente necesarias, sirven para controlar tu sesión de usuario, preferencias y demás detalles del funcionamiento de la web. El sitio web no funcionará correctamente o no tendrás acceso al mismo si no permites al menos estas cookies. <br> 
<h4>Cookies analíticas</h4>
	Utilizamos Google Analytics para conocer ciertos aspectos relacionados con las visitas a nuestra web, como origen, búsquedas, tiempo que permanecen en el sitio, páginas más visitadas, etc. No se incluye información personal, simplemente datos estadísticos de uso del sitio que nos permiten mejorarlo. <br> <br> 
<h4>Cookies de publicidad</h4>
	Utilizamos varias cookies para gestionar nuestra publicidad, esto nos ayuda a captar nuevos clientes, seguir creciendo y ofrecer un servicio de calidad y una cuenta gratuita. Las cookies que utilizamos son: <br> 
	Doubleclick (Google, Inc.). Que nos ofrece información sobre los anuncios que han sido mostrados a un usuario, cuáles han sido más efectivos y si ha llegado a nuestra web a través de ellos. <br> 
	TradeTracker. Similar a la anterior, pero de la empresa TradeTracker. <br> 
	Unbounce. Nos ofrece información sobre que páginas tienen más éxito a la hora de conseguir nuevos clientes, de forma que podamos emplear dicha página con más frecuencia. <br> 
	De todas formas, en todo momento podrás desactivar o rechazar estas cookies a través de tu navegador, te indicamos algunos enlaces donde se indica como hacerlo: <br> 
	Chrome, desde http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647 <br> 
	Explorer, desde http://windows.microsoft.com/es-es/windows7/ <br> how-to-manage-cookies-in-internet-explorer-9 <br>
	Firefox, desde http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we <br> 
	Safari, desde http://support.apple.com/kb/ph5042 <br> <br> <br> 
