
<div class="container " >
<!-- SECCION 2 -->


<hr style="background-color:  #f3f4f7;" />
<div class="row audios">

  <span class="audiossubliminales"><b>Subliminal Audios Money and Finance</b></span>
   
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XK3ZBRJNQ7K3N" target="_blank">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="6254R2PMPXVSQ">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
    </a>
</div>
            
  <div class="compartir col-xs-12" ><b>Shared:</b> 
              <a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosdinero1"  target="_blank" >
               <img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>  

                <a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosdinero1 " target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>   

                <a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosdinero1" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a> 

                 <a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosdinero1" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>

               <a class="redessociales whatweb"  href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosdinero1" data-action="share/whatsapp/share" target="_blank">
              <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
                 
                <a class="redessociales whatcel"  href="whatsapp://send?text=www.pleyadesm.com/%23/audiosdinero1" data-action="share/whatsapp/share" target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a> 



          </div>
          <br>
<div class="row">

          <div style="cursor:pointer" class="articulos1 col-lg-6 col-md-6 ">

        <a href="http://c28baot-ricexy3s8gelkcnc-s.hop.clickbank.net/" target="_blank" ><img style="width:100%; height:80px;" src="https://maxcdn.15minutemanifestation.com/affiliates/images/468x90.jpg" border="0" target="blank"/></a> 

        </div>

         <div style="cursor:pointer" class="articulos1 col-lg-6 col-md-6 ">

        <a href="http://cf773og91tqansekpapgoo8z04.hop.clickbank.net/?tid=MIRACLE" target="_blank" ><img style="width:100%; height:80px;" src="https://image.ibb.co/bskSMe/728.jpg" alt="728" alt="miracle manifest" target="_blank" alt=""   /></a> 
        
        </div>


</div>

<hr style="background-color:  #f3f4f7;" />

<div class="container">
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong"><b>
  INSTRUCTIONS</b>
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLongTitle">IMPORTANT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  
        <div style="cursor:pointer" class="articulos1">
         <a href="http://0e6f0tm0-pdkur07laxat95xfo.hop.clickbank.net/?tid=MONEY" target="_blank" ><img style="width:100%; height:70px;" src="http://five-minute-profit-sites.net/fmps/img/affiliate/banners/728x90-static2.png" target="_blank" alt=""   /></a> 
         </div>
         
           <hr style="background-color:  #f3f4f7;" />

    <p> The following subliminal audios are powerful tools that will help you eliminate beliefs, bad habits and circumstances that prevent money from flowing in your life constantly.
      
    </p>
    <h6> Instructions: </h6>
    <ul>
<b>1.</b> Enter an alpha state (of meditation) for 5 minutes, do this while you are listening to the subliminal audio. Count and visualize from 10 to 1 with deep breaths. <br> 
<b>2.</b> Concentrate on the desired goal that is to have a lot of money, have a mental image enjoying having money, play with scenes do not skimp on enjoying money, looking to create sensations as if you currently have a lot of money. Add a lot of positive emotion to that image. <br>
<b>3.</b> It manages to make that image + the emotion for a couple of minutes, it is not necessary to do it for a long time. <br> 
<b>4.</b> Enjoy and emotionally relate the audio sound with feeling happy to have and enjoy the money. Instructions 1 to 4 do the first days, then it is optional to repeat them. Point 4 is to create an emotional anchor with the audio. So your mind, when you listen to the audio automatically relates it to the desired objective. <br> 
<b>5. </b>Listen to the audio at least 1 hour per day and be constant to listen to it every day. The longer you listen to the results faster. You can listen to it while you sleep or when you use the computer. But never driving the car or another activity that requires concentration. <br> 
<b>6.</b> Do not obsess about seeing immediate changes, believe and trust the final result that will be what you imagine in your mind and in your positive emotions. <br> 
<b>7. </b>The results depend on the sensitivity to mental suggestion and especially on the
dedication you give to these instructions. <br> 
<b>8.</b> Every day while you listen to the audio, give thanks for your healing and be grateful because you can breathe, hear, see, smell, etc. <br> 
<b>9.</b>If you want to put the video in automatic repeater mode, right click on the video and activate loop: <br>

 <img style="width:100%; height:70%;"  src="https://image.ibb.co/gZzFU9/4ingles.png" alt="4ingles">

<b>A big hug and successes. <br> 
PleyadesM </b>


    </ul>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
         </div>
    </div>
  </div>
</div>


<!-- -->

<br> 
<!--VIDEOS SUBLIMINALES DESDE YOUTUBE CHANNEL -->
<!-- YOUTUBE API -->
<div class="container">
<div class="card-columns" >
  <div class="card animated fadeIn fast" (click) ="verVideo(video)" 
  *ngFor="let video of videos">
    <img class="card-img-top" [src]="video.thumbnails.medium.url" 
    [alt]="video.title">
    <div class="card-body">
      <h5 class="card-title"><b>{{ video.title }}</b></h5>
     </div>

   
  </div>
 </div>

<!-- Modal -->


<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">


    <div class="modal-content " *ngIf="videoSel">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">{{ videoSel?.title }}</h5>     
      </div>

          <div style="cursor:pointer" class="articulos1">
         <a href="http://0e6f0tm0-pdkur07laxat95xfo.hop.clickbank.net/?tid=MONEY" target="_blank" ><img style="width:100%; height:70px;" src="http://five-minute-profit-sites.net/fmps/img/affiliate/banners/728x90-static2.png" target="_blank" alt=""   /></a> 
         </div>


      <div class="modal-body precarga">
         <iframe width="100%" height="250"  
         [src]=" videoSel.resourceId.videoId | domseguro " 
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
<div class="container">
 <div class="compartir" ><b>Shared:</b> 
              
                  <a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosdinero1"  target="_blank" >
               <img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>  

                <a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosdinero1 " target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>   

                <a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosdinero1" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a> 

                 <a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosdinero1" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>

               <a class="redessociales whatweb"  href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosdinero1" data-action="share/whatsapp/share" target="_blank">
              <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
                 
                <a class="redessociales whatcel"  href="whatsapp://send?text=www.pleyadesm.com/%23/audiosdinero1" data-action="share/whatsapp/share" target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a> 





          </div>
</div>
<br> 
      <div class="modal-footer">

        <button (click)="cerraModal()"
        type="button" class="btn btn-danger" >
        <b>Cerrar</b>
        </button>

      </div>
    </div>
  </div>
</div>







   <ul class="nav-item"   routerLinkActive="active" >

	<h6>Topics that may interest you::</h6>
     <li>   <a class="nav-link" (click)="(verSubliminales())" [routerLink] = "['/subliminal']"><h5>The subliminal messages</h5></a></li>
      <!--  <a class="nav-link" [routerLink] = "['/frecuencias']">Porque las Frecuencias Hz nos afectan</a> -->
    <li>   <a class="nav-link" (click)="(verPreguntas())" [routerLink] = "['/preguntas']"><h5>Frequently asked questions and answers</h5></a></li>
      
      <li>   <a class="nav-link" (click)="(verHeroes())" [routerLink] = "['/categorias']"><h5>Subliminal audio categories</h5></a></li>   

    </ul>