<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>¿Cómo funciona la autohipnosis?</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
Hay un viejo proverbio chino que dice: "Una imagen vale más que mil palabras". Al transmitir sugerencias al subconsciente, hemos descubierto que las imágenes son más efectivas que las palabras que se implantan. Por ejemplo, no es suficiente decir: <b>"Tendré confianza".</b> Las palabras deben ser aumentadas por una imagen de ti mismo como la persona segura de ti mismo que quieres ser. Si dices: <b>"No puedo visualizarme como una persona segura porque nunca he sido así",</b> puedes <b>"tomar prestados" </b>esos rasgos de personalidad que deseas para ti. <br><br>
<img class=publi3 src="https://image.ibb.co/f5XTbe/fun1.png" hspace="5" vspace="5" style="float:left" />
Imagínese dotado de las características de una persona segura de sí misma que conoce. Las cualidades que buscas pueden incluso tomarse prestadas de una persona famosa. Si esto no es posible, forme una personalidad que sea un compuesto de todas las cosas que quiere ser. Vea a sí mismo caminando, hablando y llevando a cabo actividades.Siga fortificando esta imagen con las sugerencias mentales que se necesitan. No pasará mucho tiempo antes de que estas impresiones mentales generen los sentimientos de confianza que buscas. A medida que sigas implantando estas imágenes, se convertirán en una parte natural de tu personalidad consciente.<br><br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
El Dr. SJ Van Pelt, presidente de la Sociedad Británica de Hipnotizadores Médicos y editor del British Journal of Medical Hypnotism , escribe sobre esta técnica en su libro Secrets of Hypnotism . Él lo llama "Técnica 3-D" en hipnoterapia médica. "Al leer el siguiente párrafo, sería bueno recordar que contiene la esencia de hacer que la técnica de autohipnosis funcione una vez que haya alcanzado el estado hipnótico, por se.Incidentalmente, el mismo procedimiento se puede usar para alcanzar el estado hipnótico en sí mismo. Te ves entrando en el estado de hipnosis en tus intentos iniciales. Esto, a su vez, establece una respuesta condicionada y una reacción emocional favorable que es necesaria.<br><br>
<img class=publi3 src="https://image.ibb.co/fzSBwe/fun2.png" hspace="5" vspace="5" style="float:left" />
<b>"El escritor ha encontrado (visualización) el mayor valor en la reeducación del paciente, que es una parte esencial de la hipnoterapia".</b> En este método, una vez que se ha descubierto la causa del problema y como parte de su reeducación, se le instruye al paciente bajo hipnosis ligera para que <b>"forme una imagen" </b>en su mente. Se le pide que imagine una pantalla de cine y que se vea a sí mismo "como un actor" en esta pantalla interpretando un papel. Le dicen que la imagen parece <b>"muy real", "3-D" </b>de hecho, y que puede verse a sí mismo actuando y luciendo como realmente quiere verse y actuar. <br><br>
Se sugieren varias escenas, como ... el paciente tendrá que enfrentar en la vida real. En cada uno, se le instruye a verse a sí mismo, <b>"como en la vida real",</b> siempre teniendo éxito. Por ejemplo, al tartamudo se le puede pedir que se imagine a sí mismo hablando con facilidad a las personas y sintiéndose perfectamente a gusto. También se le indica al paciente cómo formar estas <b>"imágenes de éxito",</b> y se le hace hincapié en que solo podrá verse a sí mismo tal como quiere: tener éxito. Dado que las imágenes dan lugar a los sentimientos apropiados, no pasa mucho tiempo antes de que el paciente comience a mostrar el beneficio de sus películas privadas '3-D'. <br><br>
Después de explicar esta técnica a los estudiantes, muchos han preguntado: "¿Eso es todo lo que hay que hacer? Parece tan simple. <b>"Por supuesto, hay más en eso en que el individuo debe seguir con la instrucción".</b> Este es uno de los aspectos difíciles de este tipo de programa.Permítanme enumerar algunos de los problemas que he encontrado al enseñar la autohipnosis.<br><br>
<img class=publi3 src="https://image.ibb.co/mvAmUz/fun3.png" hspace="5" vspace="5" style="float:left" />
Como se mencionó, una de las dificultades es que la técnica parece demasiado simple. Los estudiantes se vuelven escépticos. Sienten que debería ser más complicado e involucrado para obtener resultados. Supongo que las personas aprecian mejor algo que surge solo después de una dura lucha. Este procedimiento está desprovisto de esto. Por supuesto, no estoy diciendo que una vez que una persona comienza a usar esta técnica, sus problemas desaparecerán automáticamente y su vida será alegre para siempre.<br><br>
Hemos sido condicionados a pensar que el éxito en algo solo puede venir después de una lucha larga y dura. Este es el tema básico de la forma de vida estadounidense. Hemos estado acostumbrados a creer que el conflicto y la lucha son parte de la vida y que se necesitan grandes dosis antes de alcanzar el éxito en cualquier campo. Solo puedo reiterar que la información contenida en este libro es todo lo que necesita para obtener resultados. Es necesario que cumpla y no se dé por vencido después de haber probado el programa por un tiempo breve y no haya obtenido resultados apreciables. Esto nos lleva a otro punto.
<br><br>
Muchas personas esperan resultados inmediatos cuando comienzan a usar la autohipnosis. Si no obtienen los resultados que esperaban de inmediato, querrían saber <b> "¿qué ocurre?"</b> Mi respuesta suele ser que <b>"no pasa nada"</b> y que solo deben seguir aplicando las instrucciones de manera constante. Ciertamente, uno no se convierte en un hábil mecanógrafo, músico, actor o deportista porque ha dominado las técnicas básicas. Se necesita tiempo para adquirir competencia.<br><br>
Permítame asegurarle que cualquiera que use y aplique esta técnica puede beneficiarse de ella. Uno de los problemas para enfrentar cualquier problema es derrotar el derrotismo y la desesperanza. Puede incorporar medidas correctivas posthipnóticas en las sugerencias que se da a sí mismo. Sin embargo, creo que deben tratarse a nivel consciente también. <br><br>
Debes creer que puedes conquistar tus dificultades sin importar cuánto tiempo las hayas tenido. Si está preparado para trabajar con la autohipnosis de manera ininterrumpida, obtendrá la autoayuda que busca. De vez en cuando, puede anticipar un retroceso en su progreso, pero esto no debe desanimarlo de su tarea general. Recuenta el progreso ya hecho. Si tiene una <b>"decepción" </b> porque esperaba resultados más rápidos y dramáticos, recuerde que este es un sentimiento común compartido por muchos con problemas emocionales. Recuerde, también, cuánto tiempo ha tenido el problema.<br><br>
<img class=publi3 src="https://image.ibb.co/gZNdbe/fun4.png" hspace="5" vspace="5" style="float:left" />
Sin duda, probó con otros métodos y se desanimó porque no estaba logrando el progreso que había previsto. Tu dejaste caer la idea y aterrizaste donde comenzaste. Decídase, conscientemente, que trabajará con incansable sinceridad y una perseverancia que no va a fallar porque su objetivo elegido no se logra de inmediato. No conozco ninguna terapia que conduzca directamente a resultados positivos sin obstáculos y fallas intermitentes. El éxito llega a pesar de los fracasos intermedios porque la dirección final ha sido claramente pensada y trazada. <br><br>
La autohipnosis finalmente funcionará porque estás constantemente acondicionando tu subconsciente para reaccionar de una manera positiva y constructiva. El programa debe, necesariamente, ser automático en naturaleza. Cuando lo haga, de repente te encontrarás sintiendo de la manera que quisieras y haciendo las cosas que te pones a hacer con la ayuda de la autohipnosis. Realmente cultivas esos sentimientos que deseas.<br><br>
La hipnosis no funcionará con los escépticos. De vez en cuando, esa persona viene a mi oficina en busca de ayuda. Él me dice que su médico de familia o su cónyuge siente que debería tomar mi curso de autohipnosis. Le pregunto si siente que podría beneficiarse del curso. <br><br>
Si su respuesta no es positiva, y si después de hablar extensamente con él sobre los beneficios de la hipnosis, todavía siento que no está listo para el curso, sugiero otro modo de tratamiento para él. La razón de esto es que, a menos que la persona sea optimista y entusiasta con la autohipnosis, simplemente no funcionará tan eficazmente como lo haría de otra manera. La naturaleza misma de una actitud escéptica limita las fuerzas constructivas que deseamos aprovechar.<br><br>
Ocasionalmente, las personas quieren pruebas irrefutables de que la hipnosis les ayudará. Es imposible darles la prueba y la tranquilidad sin reservas que buscan. Sin embargo, estas mismas personas no requieren pruebas de sus médicos. Nadie puede garantizar el éxito. Sin embargo, sí señalo que el uso continuo e inteligente de la autohipnosis puede ser instrumental para dirigir las fuerzas curativas, curativas y constructivas de la naturaleza.<br><br>
<img class=publi3 src="https://image.ibb.co/ii20pz/fun5.png" hspace="5" vspace="5" style="float:left" />
Muchas veces, se requiere un enfoque metafísico en lugar de científico. Se trata de tratar de satisfacer las necesidades del paciente. A veces, es útil permitir que el paciente asista a una clase de autohipnosis. Ser capaz de comunicarse e identificarse con otras personas que buscan la autohipnosis a menudo es suficiente para cambiar su actitud. Esto es especialmente cierto cuando uno o más de los estudiantes relatan cambios dramáticos. <br><br>
La autohipnosis funciona porque somos capaces de condicionarnos a varios estímulos. Nos condicionamos consciente e inconscientemente a muchas actividades. Cuando experimentamos ansiedad, proviene de un proceso de acondicionamiento que podría haber sido consciente o inconsciente. En la autohipnosis, el individuo trabaja conscientemente para implementar y fortalecer su propia fuerza y recursos inherentes.Estos objetivos, cuando se alcanzan, resultan en sentimientos de confianza, relajación, autodominio y bienestar. <br><br>
Además, la hipnosis utiliza un proceso mental natural. Todos sabemos que los placebos funcionan admirablemente en numerosos casos. El diccionario define la palabra placebo como "una sustancia o preparación inactiva, administrada para complacer o gratificar a un paciente, también utilizada en estudios controlados para determinar la eficacia de las sustancias medicinales". Muchos experimentos controlados han demostrado que las personas logran resultados similares si toman un placebo (que creen que es el medicamento real) o un medicamento real que se recetó. Hace varios años, muchas de esas pruebas se llevaron a cabo con antihistamínicos para prevenir los resfriados. Los resultados fueron siempre los mismos. <br><br>
Estamos interesados en qué hace que el placebo actúe con la misma eficacia que la medicación verdadera. Es lógico pensar que se establece una reacción en cadena, que en realidad causa un resultado fisiológico de una reacción psicológica. El paciente desprevenido declara: <b>"Nunca me he sentido tan bien en mi vida". </b> Sin embargo, esto nunca hubiera sucedido si no hubiera pensado que estaba tomando la maravillosa medicina nueva. Un estudio científico reciente de una de las principales compañías farmacéuticas concluyó que un tercio de la efectividad de cualquier medicamento depende de la fe y la confianza que el paciente tenga en el médico que prescribe. <br><br>
Estoy seguro de que los resultados del placebo y la fe del paciente en el médico como factores que contribuyen a la eficacia de los medicamentos no son una revelación. Todos conocemos esa información. Nuestro problema es cómo aprovechar este proceso inconsciente para objetivos constructivos. La respuesta es a través de la autohipnosis. <br><br>
<img class=publi3 src="https://image.ibb.co/dbw4Ge/fun6.png" hspace="5" vspace="5" style="float:left" />
La autohipnosis, como ya lo hemos explicado, usa una técnica llamada imágenes visuales. Esto se conoce con muchos nombres diferentes, pero para nuestros propósitos lo llamaremos imágenes visuales. Dentro de esta técnica se encuentra una de las claves para lograr los objetivos que desea. Se han escrito muchos libros famosos que incorporan esta técnica como base para el logro. Quizás el más famoso de todos se llama, piensa y hazte rico de Napoleón Hill. <br><br>
En los últimos años, The Magic of Believing de Claude M. Bristol y The Power of Positive Thinking , ya mencionados, se han hecho muy conocidos. El libro que da la dirección a la mayoría de los libros en este campo se llama, autodominio a través de la autogestión consciente, por el Dr. Emile Coué. Estoy seguro de que los lectores mayores de este libro han oído hablar de su famoso dicho, que repetiré aquí para enfatizarlo. <b>"Día tras día, en todos los sentidos, me estoy volviendo cada vez mejor". Invariablemente, en todos estos libros, se hace referencia a la cita bíblica: "Como un hombre piensa en su corazón, así es él". </b> <br><br>
Como el lector puede deducir, no estamos teorizando acerca de un nuevo descubrimiento sorprendente. La técnica es tan antigua como el hombre mismo y su sueño de un mañana mejor. Todos los libros que usan la técnica de imágenes visuales te dicen que pintes una imagen vívida y mental de las cosas materiales que deseas adquirir, si es un caso de riqueza material. Para la mejora personal, te dicen que pintes una imagen vívida de la persona que quieres ser. En la mayoría de los casos, se le indica que haga esto en un estado relajado o meditativo con la menor cantidad de distracciones posible. Los siguientes dos requisitos son la repetición constante (acondicionamiento) y un "deseo ardiente" (motivación) para lograr lo que se propone hacer.<br><br>
<b>¿No son estos libros realmente hablando de autohipnosis? ¿No están describiendo precisamente las técnicas de la autohipnosis? </b>La terminología es diferente, pero el enfoque es el mismo. Con estas técnicas, existe el objetivo de dirigir el pensamiento, la imaginación mental, el pensamiento positivo, las sugerencias y los pensamientos o imágenes constructivas hacia el <b>"yo interior" o el "yo real". ¿No están nuevamente hablando realmente de la mente subconsciente? </b>No tengo ningún argumento con un enfoque viable para la madurez emocional, pero en muchos casos nos estamos involucrando con el significado de las palabras (semántica). La forma más rápida de llegar al subconsciente es a través de la autohipnosis. En este estado autohipnótico, puedes dirigir sugerencias de forma consciente a tu mente subconsciente. <br><br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>selfhypnosisusa.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/f3Qpzz/acercahipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Lo que debes saber sobre la autohipnosis</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hURtsK/placebo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El efecto placebo Y La mente </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>