<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Hábitos que evitará que te hagas rico</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero09 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<i>El autor Tom Corley pasó cinco años estudiando los hábitos de los ricos, que hizo una crónica en sus libros más vendidos.</i> <br> <br>
Encontró muchos hábitos comunes entre las personas ricas, incluida la lectura, el énfasis en construir relaciones, establecer objetivos y tomar riesgos calculados. <br> <br>
Muchas personas que nunca se hacen ricos a menudo tienen algo que él llama "hábitos de no hacer nada", como no leer a diario, no establecer contactos con personas exitosas y no invertir dinero prudentemente.
No es solo lo que haces, sino lo que eliges no hacer, lo que determina tu éxito. <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/itxYbe/mal2.png" hspace="5" vspace="5" style="float:left" />
</div>
Pasé cinco años estudiando los hábitos diarios de cientos de personas ricas. En mis libros más vendidos, " Hábitos enriquecidos " y " Cambie sus hábitos, cambie su vida ", compartí algunos de los hallazgos importantes de ese estudio. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>Durante mi investigación, aprendí que los ricos hechos a sí mismos adoptaron hábitos específicos que les permitieron alcanzar sus sueños y sus metas. Esto incluye cosas tales como:</b> <br> <br>
<b>• Experimentación:</b> probar cosas nuevas para descubrir un talento o pasión innata.<br>
<b>• Lectura:</b> 30 minutos o más todos los días para la autoeducación.<br>
<b>• Construyendo relaciones ricas:</b> formando conexiones con las personas correctas, otros futuros millonarios.<br>
<b>• Fijación de metas:</b> persiguiendo metas que son escalones hacia sus sueños.<br>
<b>• Tomar riesgos calculados:</b> no tener miedo a tomar el tipo de riesgo que requiere que haga su tarea antes de invertir su dinero. <br> <br>
Hay muchos otros (¡más de 300!) Pero creo que entiendes la idea: los ricos son impulsados por los hábitos.
Mi investigación también condujo a otro descubrimiento de propiedad exclusiva. Los que no eran ricos también tenían hábitos. Sin embargo, muchos de esos hábitos eran "hábitos de no hacer nada": <br> <br>
<b>• </b>No leer para aprender es un hábito.<br>
<b>•</b> No hacer ejercicio todos los días es un hábito.<br>
<b>• </b>No comer saludablemente es un hábito.<br>
<b>•</b> No perseguir tus sueños es un hábito.<br>
<b>• </b>No crear y perseguir metas es un hábito.<br>
<b>•</b> No devolver las llamadas telefónicas inmediatamente es un hábito.<br>
<b>•</b> No despertar temprano para buscar la auto-mejora es un hábito.<br>
<b>• </b>No ahorrar dinero es un hábito.<br>
<b>• </b>No invertir con prudencia tus ahorros es un hábito.<br>
<b>• </b>No ser frugal es un hábito.<br>
<b>• </b>No hacer más de lo que le pagan es un hábito.<br>
<b>• </b>No evitar el desperdicio de tiempo es un hábito.<br>
<b>•</b> No hacer lo que se debe hacer (postergar) es un hábito.<br>
<b>• </b>No establecer redes con otras personas con mentalidad de éxito es un hábito.<br>
<b>• </b>No hacer llamadas de cumpleaños feliz es un hábito.<br>
<b>• </b>No hacer llamadas de eventos de la vida es un hábito.<br>
<b>• </b>No tomar responsabilidad personal por su vida es un hábito.<br>
<b>• </b>No ser voluntario para una caridad que vale la pena es un hábito.<br>
<b>• </b>No ser caritativo con tu dinero es un hábito.<br> <br>
Muchas personas tienen hábitos de no hacer nada. Como resultado, muchas personas luchan en la vida. Algunos luchan financieramente, otros luchan contra la mala salud y otros luchan con sus relaciones.
<br>
Los hábitos de "no hacer nada" son como un espejo: reflejan la vida que has elegido por ti mismo mediante la inacción.A menudo, no es lo que haces lo que determina las circunstancias de tu vida: es lo que eliges no hacer. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero09 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>businessinsider.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kyNtPz/amigosricos.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los ricos escogen a sus amigos </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero11())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dOntPz/bloqueodinero.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los Bloqueos mentales que impiden atraer dinero</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cGBgBe/exitosagente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Hábitos de la gente exitosa</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jmwL4z/hijosnoexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Actitudes de los padres que hacen que sus hijos no sean exitosos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mX0f4z/submente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Deja que el Subconsciente trabaje ... </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>