<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1> Desbloqueo de los Patrones Mentales</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion06 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
La Desprogramación Neurolingüística forma parte esencial de la tecnología PNL y nos permite desbloquear los patrones mentales que nos impiden alcanzar los objetivos deseados en cualquier circunstancia que se nos presenta en la vida. <br> <br>
<img class=publi3 src="https://image.ibb.co/gNbPge/des1.png" hspace="5" vspace="5" style="float:left" />
Es por ello que ante una situación donde requerimos sentirnos fuertes y poderosos, podemos tener a nuestro alcance técnicas y herramientas que nos permitan lograrlo, tomando en cuenta las Modalidades PNL Básicas que son la Visual, Auditiva y Cinestésica, y sus Sub-modalidades PNL, con lo cual logramos desbloquear patrones mentales negativos que nos limitan en nuestro actuar. <br> <br> <br>
<h5>La Desprogramación Neurolingüística y Sub-modalidades PNL</h5>
A diferencia de las Modalidades PNL Visual, Auditiva y Cinestésica, encargadas de modificar el contenido de la imagen que nos conecta a una memoria o recuerdo, por medio de la alteración de las características negativas que nos ha dejado algún trauma, hacia unas muchísimo más amables que no nos afecten, las Sub-modalidades PNL son técnicas que nos permitirán cambiar la estructura de una memoria o recuerdo. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Una forma sencilla de entender la diferencia entre modificar el contenido y alterar la estructura del mismo, sería imaginar que tenemos el control del televisor en la mano, con el cual logramos modificar no la imagen en sí, sino sus características como el brillo, la intensidad de los colores, el contraste o la velocidad de la imagen.
A través del uso de las Modalidades PNL logramos cambiar el contenido de una imagen especifica. Con el uso de las Sub-modalidades PNL logramos cambiar la estructura de una imagen especifica sin alterar su contenido. <br> <br>
Al utilizar esta técnica, la imagen o recuerdo será el mismo, sin embargo sus características principales serán cambiadas con el objetivo principal de disminuir su impacto en nuestra experiencia, o por el contrario, aumentar el impacto de la misma para afianzar y reforzar una memoria o recuerdo que nos permita crecer con la experiencia y aprovechar todas las oportunidades que la misma nos ofrece. <br> <br>
<img class=publi3 src="https://image.ibb.co/cMsx1e/des2.png" hspace="5" vspace="5" style="float:left" />
Recordemos que las modalidades PNL básicas son la Visual, Auditiva y Cinestésica, las cuales a su vez poseen una sería de Sub-modalidades PNL que son utilizadas para lograr los cambios en la estructura de las imágenes relacionadas con una memoria o recuerdo que nos limita y que requiere ser desbloqueado. <br>
<h5>Cada una de las Modalidades PNL tiene sus propias Sub-modalidades PNL. </h5>
<b>•</b> La Modalidad visual tiene las Sub-modalidades de brillo, color, velocidad, etc. <br>
<b>• </b>La Modalidad Auditiva tiene las Sub-modalidades relacionadas con el volumen bajo o alto, tonos de voz, fuerza de los sonidos, etc. <br>
<b>• </b>La Modalidad Cinestésica tiene como Sub-modalidades la intensidad de las sensaciones del los sentidos del tacto, olfato y gusto, así como intensidad de las emociones que dichas sensaciones despiertan. <br> <br>
<h5>Aplique Las Sub-Modalidades PNL y Cambie Su Realidad</h5>
Para utilizar las Sub-Modalidades PNL de forma correcta, es necesario que determinemos que Modalidad PNL nos identifica más, (Visual, Auditiva, Cinestésica), ya que a pesar que contamos con todas las modalidades en nuestro haber, siempre una será más dominante y por ende será en la que debemos profundizar. <br> <br>
<h5>Prueba Visual</h5>
Visualiza la imagen de cualquier recuerdo que te haga sentir feliz, y usando la lista de Sub-modalidades Visuales que se encuentra abajo, cambia la imagen en ambas formas.
Para la primera sub-modalidad de brillo, visualiza la imagen más oscura y luego más clara. Antes de continuar con la siguiente sub-modalidad, recuerda por un momento la imagen en su forma original. <br> <br>
<h5>Lista de Submodalidades Visuales</h5>
<b>• </b>Brillo: Imagen oscura / clara <br>
<b>• </b>Distancia: Imagen lejos / cerca <br>
<b>•</b> Color: Imagen blanco y negro / colorida <br>
<b>• </b>Enfoque: Imagen borrosa / nítida <br>
<b>• </b>Tamaño: Imagen pequeña / grande <br>
<b>•</b> Posición: Imagen desde arriba, abajo, izquierda o derecha <br>
<b>• </b>Movimiento: Imagen estática / Hay movimiento en la imagen <br>
<b>•</b> Marco: Imagen está enfocada en una sola área / Imagen es panorámica (se observa todo de una vez) <br>
<b>• </b>Asociación: Imagen “a través de sus ojos” / Imagen “afuera de su cuerpo” <br> <br>
Al realizar esta práctica notaremos en cada paso, cómo ese cambio especifico en la estructura de la imagen inicial, genera cambios inmediatos en la intensidad en nuestros sentimientos y emociones relacionados con dicho recuerdo. Por supuesto nuestro objetivo principal es lograr cambios que mejoren nuestra percepción de la realidad y nuestra autoestima, creando mayor confianza y felicidad. <br> <br>
<img class=publi3 src="https://image.ibb.co/htEXZz/des3.png" hspace="5" vspace="5" style="float:left" />
Ahora tenemos conciencia de los cambios que podemos realizar en la modalidad visual y cómo estos afectan nuestros sentimientos. <br>
Es posible que alguno de estos cambios tengan poco o ningún efecto, otros pueden tener algún efecto, y algunos pueden tener un efecto muy dramático. <br> <br>
<h5>Prueba Auditiva</h5>
Seguramente en nuestro pasado tendremos recuerdos de algunas experiencias que nos han dejado una sensación positiva muy fuerte y que en alguna de ellas podamos evocar un elemento auditivo fuerte, así como la voz de una persona amada, olas que rompen en la playa, o alguna canción que evoque recuerdos bonitos. <br> <br>
El recuerdo debe tener un elemento auditivo que evoque una fuerte respuesta emocional positiva.
Como en la Prueba Visual, vamos a utilizar la lista de Sub-modalidades auditivas disponible más abajo, y realizar los cambios por cada una de ellas, con especial atención en los sentimientos que provoca cada cambio, y asegurándonos de volver al recuerdo original, antes de hacer cada cambio de sub-modalidad. <br> <br>
<img class=publi3 src="https://image.ibb.co/dJysZz/des4.png" hspace="5" vspace="5" style="float:left" />
<b>Lista de Sub-modalidades Auditivas</b>
<b>•</b> Volumen: Volumen de los sonidos alto / bajo <br>
<b>•</b> Ritmo: Ritmo de los sonidos bajo (como una persona hablando en cámara lenta) / ( acelerado (como una persona hablando 10 veces mas rápido de lo normal) <br>
<b>•</b> Dirección: ¿De que posición en el espacio vienen los sonidos? Se puede escuchar adelante, atrás, izquierda, derecha, etc. <br> <br>
Tomemos nota de los cambios que se generan en nuestros sentimientos y emociones ante la aplicación de cada sub-modalidad PNL. <br> <br>
<i>Verifiquemos cuales influyen más y cuales provocan reacciones exageradas.</i> <br> <br>
<b>¿Como influyen en nuestros patrones mentales las Modalidades y Sub-modalidades PNL?</b> <br> <br>
Nuestros patrones mentales están condicionados por la forma en que respondemos emocionalmente a las experiencias. Una experiencia negativa nos genera sentimientos y emociones negativas que quedan impresas en nuestra memoria o recuerdo, y se activan de forma automática al experimentar situaciones similares. <br> <br>
<img class=publi3 src="https://image.ibb.co/j6287K/des5.png" hspace="5" vspace="5" style="float:left" />
<i>Ante una experiencia negativa previa, tendremos respuestas automáticas en nuestras experiencias similares futuras.</i> <br> <br>
Es allí precisamente donde la práctica de la Desprogramación Neurolingüística y el uso de las diferentes técnicas y ejercicios influyen de forma tal, que la memoria o recuerdo de nuestra reacción, sentimiento o emoción generados por la experiencia inicial, se modifica haciendo que nuestra respuesta sea diferente ante una nueva experiencia similar, modificando nuestros patrones mentales. <br> <br>
Es posible que al subir el brillo de una imagen tus sentimientos y emociones se intensifiquen, por lo que al vernos ante una situación incomoda será necesario realizar el ejercicio y bajar el brillo de la imagen, equilibrando así la intensidad de nuestros sentimientos.
Nuestra respuesta será más objetiva, más ajustada a la realidad actual y por ende provocando sentimientos y emociones completamente diferentes que nos permitan aprovechar en positivo las enseñanzas y oportunidades inmersas en ella. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion06 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion06" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion06" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Los más leidos</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/b9wUxK/miedoalfracaso.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El Miedo Al Fracaso ¡Superando los Temores!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jYNKxK/personasexitosas.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Hábitos De Alto Rendimiento ¡Éxito Seguro!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/c4XmcK/comunicacionefectiva.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Habilidades de comunicación efectiva</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jmEcjz/trasmutacionenergia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La Transmutación De La Energía en las Palabras</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dJVWcK/mujerexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Actitudes para ser una mujer de éxito</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bLgMcK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La comunicacion sin hablar</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bGxKxK/darrecibir.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La abundancia de Dar para Recibir</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>