<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>El Miedo Al Fracaso ¡Superando los Temores!</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
Todos queremos en algún sentido alcanzar el éxito, sin tener que fracasar. El hecho de equivocarnos nos atemoriza y muchas veces preferimos simplemente no intentarlo. El miedo al fracaso nos atrapa y nos frena a emprender nuestras metas. Se tiende a magnificar las fallas que se han cometido hasta tal punto que resulta casi imposible liberarse de ellas. <br> <br>
<img class=publi3 src="https://image.ibb.co/f5pzEz/frac1.png" hspace="5" vspace="5" style="float:left" />
Las personas que logran el éxito son aquellas que confrontan este tipo de temores. Son capaces de superarse a sí mismos y obtener lo que se propongan. Sin embargo, las personas exitosas también han sentido miedo y temores ante diferentes situaciones de la vida, pero los enfrentan y se arriesgan. <br> <br>
El factor más destructivo del miedo al fracaso es la falta de habilidad para aceptar las críticas.Nos asusta lo que piensen los demás, sentimos temor a la imagen que tenemos en la sociedad. Muchas veces dejamos de hacer lo que queremos hacer por estas razones, por lo cual estamos frenando todo nuestro potencial de realización en la vida. <br> <br>
<br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5>Miedo Al Fracaso… ¿ Por qué nos controla?</h5>
Vivimos dentro de una estructura social que nos enseña desde muy pequeños a que “hay que triunfar en la vida” porque de otro modo seremos unos inútiles fracasados. Desde niños aprendemos a luchar por ser mejor que nuestros compañeros, a sacar mejores notas, y a destacarnos en la mayoría de las facetas de nuestra corta vida. <br> <br>
Entonces crecemos con la idea de que hay una sola manera de alcanzar el éxito y si ésta no funciona, pues ya no hay salida, ¡ya somos unos fracasados!. Sin embargo, llega un momento en que debemos interiorizarnos y analizar <b>¿qué es para mí el éxito? ¡que situación hará que YO me sienta exitoso, feliz y pleno?</b> <br> <br>
Debemos definir cuál será nuestra meta (que no debe ser el cumplir con las expectativas de nadie más que de tí mismo) y estar conscientes de que hay muchas formas de llegar a la meta, muchos caminos que se pueden recorrer. La meta es ser felices con lo que hacemos, sentirnos plenos y realizados mientras llegamos a ella. <br> <br>
<b>“El éxito es ir de fracaso en fracaso sin desmoralizarse”. –Winston Churchill</b> <br> <br>
El miedo a fracasar nos convierte en discapacitados emocionalmente, y múltiples barreras nos cercan y limitan a seguir siendo personas mediocres e incompetentes, incapaces de lograr nuestros sueños. Vemos el fracaso como el resultado de nuestro esfuerzo. Hacemos suposiciones, nos adelantamos a los hechos y nos detenemos ante el miedo a equivocarnos.
<img class=publi3 src="https://image.ibb.co/jABCZz/frac2.png" hspace="5" vspace="5" style="float:left" />
El fracaso es simplemente el camino equivocado hacia la meta. La solución es buscar otra opción. El fracasar no es el problema, fracasar es la lección que debíamos aprender para intentarlo de nuevo. <br> <br>
<h5>Factores que determinan tu miedo:</h5>
Generalmente el miedo nos domina, o nosotros lo permitimos, por lo tanto es pertinente sacudirnos la parálisis mental y analizar punto a punto cómo controlarlo y aprender a manejar nuestras emociones. <br> <br>
Para ello tomemos en cuenta los siguientes puntos:
<b>1.- Sentir la derrota:</b>
Nos asusta más el hecho de sufrir ante nuestra derrota que el no haber logrado una meta. Le tememos al sentimiento de perder y por eso resulta más fácil no intentarlo. <br>
<b>2.- La crítica nos señala:</b>
Nuestros pensamientos negativos juegan un papel determinante en nuestro miedo al fracaso. Sentimos que la sociedad nos va a etiquetar si nos equivocamos y tenemos miedo a que nuestra autoestima se debilite ante un fracaso y eso trae pensamientos como <i>“no sirvo”, “no soy capaz”, “no puedo”.</i> <br> <br>
<i>“Nuestra vida es obra de nuestros pensamientos: Si tenemos pensamientos felices, seremos felices, si tenemos pensamientos desdichados, seremos desdichados, si tenemos pensamientos temerosos, tendremos miedo, si tenemos pensamientos enfermizos, caeremos enfermos, si pensamos en el fracaso, seguramente fracasaremos, y si nos dedicamos a compadecernos, todo el mundo huirá de nosotros”. –Marco Aurelio-</i> <br> <br>
<b>3.- El rechazo nos aterra:</b>
Algunas personas sienten miedo a trabajar, a relacionarse con los demás en el ámbito laboral, ya que quedan al descubierto las habilidades y destrezas que tenemos. Nos aterra ser el centro de la burla y el rechazo, de no ser capaces de hacer nuestro trabajo bien.
<img class=publi3 src="https://image.ibb.co/hmuo7K/frac3.png" hspace="5" vspace="5" style="float:left" />
Hacemos suposiciones negativas con respecto a nuestras habilidades y no tomamos en cuenta que el valor de una persona no se basa en las derrotas sino en los valores morales y éticos que posee. Todos somos valiosos, todos tenemos debilidades y fortalezas, eso nos hace ser especiales. El éxito es ser felices. <br> <br>
<b>Toma el control de tus temores:</b>
El miedo a “fracasar” produce pensamientos y sentimientos negativos que reducen todo tu potencial. Te invaden pensamientos de que no eres capaz de lograr algo, cuando realmente si tienes la habilidad para hacerlo. Este temor te inmoviliza, te encierra en un mundo en el que ni siquiera lo intentas para no “perder”. <br> <br>
Si ni siquiera lo intentas, no fracasas… pero tampoco vas a lograr el éxito. Debes tomar la decisión de lograr tus sueños controlando e ignorando tus miedos. Si fracasas, tendrás el conocimiento para mejorar. Si triunfas, tus temores se aplacarán un poco y los habrás superado.
Cuando tengas el ímpetu para emprender una meta y enfrentar tus inseguridades, te sentirás con la capacidad de hacer aquello que necesitas para lograr el éxito. <br> <br>
Toma en consideración algunas maneras de cómo podemos superar nuestro miedo al fracaso. <br>
<b>1.- Siempre hay opciones:</b>
Hay muchos factores que determinan el éxito y el fracaso, y éstas en muchos casos no dependen totalmente de nosotros. Los obstáculos que encontremos en el camino, son las pruebas que debemos pasar para lograr el objetivo planteado. <br>Si al encontrar la primera barrera, nos frenamos por temor a fallar, estamos negando las oportunidades que la vida nos ofrece.
<img class=publi3 src="https://image.ibb.co/kzZAMe/frac4.png" hspace="5" vspace="5" style="float:left" />
Debemos tomar la determinación de tomar riesgos y atrevernos a avanzar. Quizás la manera en la que estamos haciendo las cosas, es la causante de nuestro fracaso. Por lo cual debemos buscar otras alternativas, hacer las cosas de otro modo. Esto tiene que ver también en la manera cómo nos organizamos. Es aconsejable tomar notas y planificarnos para alcanzar las metas. <br> <br>
<b>2.- El fracaso nos da lecciones:</b>
El fracaso nos lleva a la reflexión. En conexión con nuestro corazón, se pueden tomar las experiencias como aprendizaje y evitar errar de nuevo. No debes poner toda la carga en ti, echarte la culpa y victimizarte, ya que esa no es la solución. Tómalo como un aprendizaje de vida. Considera reflexionar en torno a preguntas que te darán respuesta en tu necesidad de superar el miedo al fracaso: <br>
<b>• ¿Cuál fue el error cometido?
• ¿Cómo puedes evitar a cometerlos de nuevo?
• ¿En qué aspectos de mi vida puedo mejorar?
• ¿Qué factores me impiden avanzar?</b> <br>
Las respuestas van a depender de tu voluntad al querer contestarlas. Si no experimentas el fracaso, entonces no tendrías nada para mejorar y cambiar. Para superar el temor, es necesario que aprendas a enfrentarlo y superarlo. Para evitar cometer la misma falla una y otra vez, o te frenen a realizar tus sueños. <br>
<b>3.- Valora a quienes te valoran:</b>
El miedo al fracaso te aleja de tus seres queridos, te encierra en un mundo en el que te embarga la desilusión, baja autoestima y desesperanza. Debes acercarte a las personas que verdaderamente te aprecian y valoran tus esfuerzos. Busca ayuda de alguien cercano a ti para que te respalde emocionalmente, ya que a veces la soledad no es buena compañía y menos cuando nos sentimos fracasados. <br>
<b>4.- Recuerda: Nadie es perfecto:</b>
Ciertamente nadie es perfecto, nadie tiene una fórmula mágica para ser exitoso y hacer siempre las cosas de manera correcta. Se trata de tener la voluntad para hacerlo, asumir riesgos y saber que podemos cometer errores pero también podemos aprender de nuestra experiencia y avanzar. <br> <br>
Finalmente, no debemos vivir constantemente poniendo excusas para no lograr metas en la vida. Tenemos que asumir las consecuencias y fortalecernos cada día. Se trata de evitar errores, pero si suceden, no deben frenarnos y alejarnos del éxito, de ser felices con aquello que queremos hacer. <br> <br>
<i>“Nuestra mayor gloria no se basa en no haber fracasado nunca, sino en habernos levantado cada vez que caímos”. –Confucio-</i>
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/superacion07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/superacion07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/superacion07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/superacion07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>renaceralavida.com</a>
<br> <br>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jYNKxK/personasexitosas.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Hábitos De Alto Rendimiento ¡Éxito Seguro!</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/c4XmcK/comunicacionefectiva.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Habilidades de comunicación efectiva</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jmEcjz/trasmutacionenergia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La Transmutación De La Energía en las Palabras</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dJVWcK/mujerexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Actitudes para ser una mujer de éxito</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bLgMcK/noverbal.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La comunicacion sin hablar</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nwg7jz/programacion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Programación Neurolingüística para tener Éxito </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSuperacion05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bGxKxK/darrecibir.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La abundancia de Dar para Recibir</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>