<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Lo que debes saber sobre la autohipnosis</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas04 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas04" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas04" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
La hipnosis es un estado de mayor concentración y sugestibilidad. Las ideas para mejorarse a sí mismo (sugestión) se pueden presentar bajo hipnosis sobre las que se puede actuar. Un hipnotizador puede realizar hipnosis o un individuo puede crear el propio estado (autohipnosis). <br> <br>
<img class=publi3 src="https://image.ibb.co/jwWXme/auto1.png" hspace="5" vspace="5" style="float:left" />
En ambos casos, es el individuo que está hipnotizado el que decide si se actúa o no según alguna sugerencia.Entonces, toda la hipnosis es realmente autohipnosis. Puede entrar en el estado hipnótico solo cuando esté completamente listo para hacerlo. Puede requerir uno o varios intentos para lograrlo. Algunas personas expresan externamente el deseo de ser hipnotizadas, pero resisten la hipnosis inconscientemente.
Puede encontrar que, aunque está ansioso por lograr la autohipnosis, de alguna manera el estado se le escapa. ¿Por qué sería eso? Más comúnmente, algunas personas logran el estado hipnótico sin darse cuenta de que lo han hecho. Eso puede ser sorprendente, pero lo discutiremos en detalle un poco más adelante.<br> <br>
Es raro encontrar a alguien que no pueda ser hipnotizado. Solo alrededor de un porcentaje de la población caerá en esa categoría. <b> ¿Quién de nosotros no está influenciado por la sugestión? ¿No estamos todos, como hemos visto, influenciados por las sugerencias de la publicidad y la cultura popular? ¿No todos tenemos una tendencia a creer lo que escuchamos en la radio o vemos en televisión o internet? ¿No estamos todos convencidos de que un producto de marca suele ser mejor que la versión genérica? </b><br> <br>
La sugerencia juega un papel tremendamente importante en nuestra vida cotidiana. Comienza nombrando al bebé con un nombre apropiado para asegurar un lugar adecuado para ser enterrado. Me gustaría llamar su atención sobre un libro fascinante sobre las razones inconscientes por las que hacemos muchas de las cosas que hacemos. Estará intrigado con cada página de este libro clásico. Se llama The Hidden Persuaders por Vance Packard. <br><br>
Todos somos sugestionables y, por lo tanto, estar hipnotizados o hipnotizados es solo cuestión de aumentar la sugestionabilidad que ya poseemos. <b>¿El hipnotizador no comienza sugiriendo relajación? ¿No suele comenzar pidiendo al sujeto que fije su atención en un objeto en particular? </b>Luego, sugiere al sujeto que sus ojos se están volviendo pesados y cansados. Tan pronto como el sujeto cierre sus ojos, sugiere que estará en un estado hipnótico profundo. Estoy seguro de que está familiarizado con este procedimiento. Con cada paso, el hipnotizador guía al sujeto a lo largo de las líneas dirigidas para lograr que acepte sugerencias adicionales sin duda o duda. Cuando el sujeto logra el estado final en este procedimiento, ha sido hipnotizado. Luego acepta sugerencias sin equívoco.<br><br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Continuemos con este mismo pensamiento. Supongamos que te digo: "Te voy a pegar con este alfiler". No va a doler. "¿Me dejarías pegarte con el alfiler? Obviamente no. Supongamos que ha sido hipnotizado y repito la misma sugerencia. <b> ¿Qué pasa entonces? </b>Usted acepta fácilmente la sugerencia como objetiva. Si procedo a pegarte con el alfiler, ni siquiera te estremeces. De hecho, ni siquiera sientes el dolor. <b>¿Esto suena increíble? ¿No es exactamente el mismo procedimiento que el dentista usa con su paciente cuando lo ha hipnotizado con el propósito de una odontología indolora? </b><br><br>
Lograr la hipnosis, por lo tanto, es una cuestión de dirigir esta sugestibilidad que todos poseemos en los canales que finalmente producirán el estado hipnótico. En muchos casos, puede ser mucho más complicado que esta explicación, pero usemos esto como premisa funcional.<br><br>
<img class=publi3 src="https://image.ibb.co/fF97Kz/auto2.png" hspace="5" vspace="5" style="float:left" />
Todos pueden ser hipnotizados. El tiempo requerido para lograr la hipnosis variará de un sujeto a otro. Discutiremos algunas de las razones para esto en un capítulo posterior, pero para nuestra discusión en este momento necesitamos entender este punto. <br>Me he encontrado con numerosas personas que estaban extremadamente decepcionadas porque no respondieron a la hipnosis inmediatamente o después de varios intentos.Querían saber "qué estaba mal". Una explicación de que no había nada malo de alguna manera no satisfizo a estas personas. <b>"Después de todo", argumentaron, "¿no fui a un hipnotizador, especialmente para ser hipnotizado?" </b>Algunos insinuaron que tal vez el hipnotizador no era demasiado bueno.<br><br>
Permítanme explicar que la mayoría de los sujetos necesitan estar condicionados para la hipnosis, y este condicionamiento se ayuda cuando el sujeto practica ciertos ejercicios de acondicionamiento que discutiré en detalle en el capítulo seis, titulado "Cómo lograr la autohipnosis". En mi enseñanza, yo han encontrado que aproximadamente uno de cada diez sujetos responde al primer intento de hipnosis. No se puede hacer una declaración definitiva sobre el tiempo necesario para aprender la autohipnosis, pero según mi experiencia, esto generalmente lleva alrededor de un mes. He tenido sujetos que aprenden autohipnosis en aproximadamente 30 minutos, pero también debo relatar que he trabajado con sujetos durante un año antes de lograrlo.<br><br>
En su mayor parte, las leyes del aprendizaje se aplican a la autohipnosis como a cualquier otra cosa que uno quiera aprender. Puede ser un procedimiento relativamente simple, o puede ser muy desconcertante. La respuesta no radica tanto en el hipnotizador como en el tema.<br><br>
Una pregunta que surge es: <b> "Si estoy bajo hipnosis, ¿cómo puedo darme sugerencias?"</b> Durante el estado hipnótico, debe recordarse, el sujeto siempre está al tanto de lo que está sucediendo. Él escucha lo que se dice, sigue instrucciones y termina el estado cuando se le indica que lo haga. En el estado autohipnótico, el sujeto tiene el control total. Por lo tanto, puede pensar, razonar, actuar, criticar, sugerir o hacer lo que desee.Puede hacerse sugerencias de manera audible, o mentalmente puede darse sugerencias. En cualquier caso, no se levanta del estado hipnótico hasta que se da a sí mismo sugerencias específicas para hacerlo. Muchos sienten si audiblemente se dan sugerencias, "despertarán". <br><br>
<img class=publi3 src="https://image.ibb.co/dx256e/auto3.png" hspace="5" vspace="5" style="float:left" />
En el hipnoanálisis, el sujeto responde preguntas durante el estado hipnótico. Tener el tema hablado no termina el estado. Puedes mantener al sujeto locuaz bajo hipnosis todo el tiempo que quieras. Además, el sujeto puede estar sentado con los ojos abiertos y aún bajo hipnosis. Llevando esto más allá, el sujeto puede ni siquiera darse cuenta de que está bajo hipnosis. Se le puede dar una señal para que no recuerde cuando el terapeuta hace un cierto movimiento o dice una cierta palabra que volverá al estado hipnótico, pero que aún mantiene los ojos abiertos. Solo un hipnotista experimentado podría detectar el cambio.<br><br>
Otra pregunta frecuente es: <b>"¿Cómo puedo despertarme del estado autohipnótico?"</b> Simplemente te dices a ti mismo que al contar hasta cinco, abrirás los ojos y te levantarás sintiéndote bien. Muchas veces el sujeto se duerme mientras se da sugerencias post-hipnóticas. Esto no es indeseable ya que las sugerencias se extenderán a la mente subconsciente a medida que pasa de la conciencia a la inconsciencia.
Una opinión popular sobre la hipnosis es que el sujeto rinde su voluntad al hipnotizador en el proceso de ser hipnotizado. Además, muchos creen que una vez que el sujeto está hipnotizado, el hipnotizador tiene el control completo del sujeto y el sujeto es incapaz de resistir la sugerencia.Ambas creencias son erróneas. Creo que el primer error viene de ver técnicas en las que el hipnotizador le pide al sujeto que lo mire a los ojos.<br><br>
El hipnotizador le sugiere al sujeto que a medida que continúa mirándolo a los ojos caerá en un profundo estado hipnótico. Esto, entonces, se convierte en una cuestión de quién puede sobresalir a quién. El sujeto generalmente comienza a parpadear y el hipnotista lo sigue con sugerencias rápidas de que los ojos del sujeto se vuelven acuosos y pesados y que el sujeto caerá en un profundo sueño hipnótico tan pronto como él (el sujeto) cierre los ojos. <br><br>
Este procedimiento da la impresión al observador de que el sujeto tiene "voluntad" de someterse a la hipnosis.Parece que una vez que el hipnotizador se concentra o quiere lo suficiente, el sujeto sucumbe. En realidad, el hipnotizador en esta técnica no está mirando a los ojos del sujeto. Él fija su atención en el puente de la nariz del sujeto. <br><br>
El concepto de que el sujeto es un autómata indefenso se deriva de las películas extrañas donde el "científico loco" ha hipnotizado a los sujetos para que se comporten como zombis. Naturalmente, generalmente hay una chica hermosa en la película y ella también ha sido hipnotizada.Aunque el público es lo suficientemente sofisticado como para darse cuenta de que este drama de ciencia ficción es puramente entretenimiento, el tema se repite lo suficiente en novelas, cómics y televisión para dejar una impresión indeleble en la mente subconsciente. Es la técnica de contar la "gran mentira" tantas veces que se vuelve creíble. Todos estamos influenciados por este procedimiento. Hay un excelente libro que explica esta premisa. Se llama Battle For The Mind por William Sargent. <br><br>
<img class=publi3 src="https://image.ibb.co/emek6e/auto4.png" hspace="5" vspace="5" style="float:left" />
Describe en detalle la técnica mediante la cual los evangelistas, psiquiatras, políticos y publicistas pueden cambiar sus creencias y comportamiento.
Siguiendo el razonamiento de que la mente subconsciente puede verse afectada, puede ver que un problema podría presentarse a pesar de que el sujeto conscientemente desea ser hipnotizado. Inconscientemente, puede haber una mala interrelación con el hipnotizador que puede crear un clima desfavorable para la hipnosis.<br><br>
Cuando este es el caso, el sujeto no responde hasta el momento en que se relacione bien con el hipnotizador. Incluso los procedimientos más calculados fallarán hasta que se establezca una relación de transferencia positiva. Estoy seguro de que a veces has dicho: "Por alguna razón, no me gusta esa persona". <br><br>
Si te presionan por una respuesta, por lo general responderás: "No puedo explicarlo, pero solo tengo un sentimiento sobre él. "En realidad, tus reacciones subconscientes están influenciando tu pensamiento y tú" sientes "de cierta manera. Lo mismo ocurre en las transacciones comerciales. A usted le gusta o no le gusta la proposición presentada a usted.Usted puede decir: "Tengo un cierto sentimiento acerca de este trato". Puede que no sea consciente de las razones, pero su subconsciente ha reaccionado automáticamente debido a la experiencia previa en líneas similares. <br><br>
Al darle una idea del procedimiento hipnótico, estoy tratando de señalar ciertos problemas con respecto a la adquisición de la autohipnosis. En su mayor parte, no es un procedimiento simple que se realiza de inmediato. No puedes simplemente hacerlo. Requiere trabajar hacia un objetivo específico y seguir procedimientos definidos que finalmente conducen al éxito. <br><br>
<img class=publi3 src="https://image.ibb.co/jZQgez/auto5.png" hspace="5" vspace="5" style="float:left" />
El hipnotista generalmente es dotado por el sujeto con una omnisciencia e infalibilidad que lógicamente no está justificada. El sujeto está naturalmente extremadamente decepcionado si no responde de inmediato. Si pierde la confianza en el hipnotizador, nunca podrá lograr la hipnosis con este hipnotizador en particular. He hipnotizado a sujetos que han estado en varios otros hipnotizadores sin éxito, y he tenido algunos de mis sujetos sin éxito hipnotizados por otros hipnotizadores. <b>¿Cómo y por qué sucede? </b>Creo que algunas de las razones son tan intangibles que sería imposible explicarlas a todas con algún grado de exactitud. <br><br>
Una vez vi a un individuo unas 12 veces que quería aprender la autohipnosis y no había tenido éxito en todos los enfoques. Le pregunté si sería voluntario como asignatura para una clase de técnicas de hipnosis que estaba enseñando para enfermeras. Se presentó como voluntario y se presentó a la hora designada. Para mi asombro y el suyo, respondió en un tiempo relativamente corto cuando una de las enfermeras lo hipnotizó ante el grupo.<br><br>
Ella había usado una técnica estándar de cierre de ojos, pidiéndole que mirara un hipnodisco que siempre había usado con él cada vez que estaba en la oficina. Su actitud era extremadamente afable, había usado la misma técnica que yo había usado sin éxito, y el sujeto respondió de manera excelente para cerrar el clímax. Era el primer tema que la enfermera había hipnotizado, ya que esta era solo su tercera lección. <br><br>
<b>¿Cómo lo explicarías?</b> Aquí estaba uno de mis alumnos con dos semanas de experiencia hipnotizando un tema en el que había fallado al usar cada procedimiento que creía que funcionaría. <b>¿Era porque ella era una mejor hipnotista? ¡Quizás!</b> Sin embargo, me gustaría recordar en este momento nuestra discusión sobre las respuestas subconscientes. <br><br>
Me inclino a sentir que ser hipnotizado por una enfermera de mediana edad creó ciertas respuestas inconscientes favorables que explicaron su hipnosis en ese momento. Creó el avance inicial que se necesitaba. Pude hipnotizarlo fácilmente en su próxima cita, y adquirió la autohipnosis fácilmente desde ese momento.<br><br>
<img class=publi3 src="https://image.ibb.co/duxuzz/auto6.png" hspace="5" vspace="5" style="float:left" />
He intentado el mismo enfoque con otros sujetos que no respondieron favorablemente y no han logrado el éxito que obtuve en el caso anterior. <b>¿Por qué el callejón sin salida? </b>Es una de las dificultades que encontramos en la hipnosis, y aún no se ha resuelto. <br><br>
Sabemos que la forma más fácil de lograr la autohipnosis es ser hipnotizado y recibir una sugerencia posthipnótica de que responderá a la hipnosis mediante una palabra, frase o gesto clave. He tratado de señalar algunos problemas que pueden surgir. Huelga decir que estos problemas no siempre surgen, y el logro de la autohipnosis puede ser un procedimiento relativamente simple. Por lo general, hay alguna forma de llegar a un sujeto que no responde en un período de tiempo razonable. <br><br>
Ahora llegamos al punto en que el sujeto desea hipnotizarse a sí mismo. <b>¿Qué sucede en esta situación?</b> Parece que el sujeto estaría bajo hipnosis inmediatamente. Después de todo, ¿no está controlando la sesión hipnótica? Por supuesto, esto sucede una y otra vez, y los resultados parecen milagrosos.
<br><br>
Recibo correos constantemente de lectores de muchos de mis otros libros sobre hipnosis que me dicen cómo pudieron lograr ciertos objetivos que nunca habían soñado. Escriben que han logrado la confianza en sí mismos y el autodominio completo y han podido superar los problemas que los han plagado durante muchos años. <br><br>
<img class=publi3 src="https://image.ibb.co/n2YZzz/auto7.png" hspace="5" vspace="5" style="float:left" />
Estos problemas no solo incluyen problemas estrictamente psicológicos sino también muchos síntomas psicosomáticos. Muchos han comentado la facilidad con que pudieron lograr la autohipnosis y los resultados que querían. Para ellos fue tan simple como seguir un libro de bricolaje. <br><br>
Otros escriben sobre la dificultad que encuentran y preguntan qué hacer al respecto. Espero que este libro arroje algo de luz para aquellos que han tenido dificultades para aprender la autohipnosis. Discutiremos muchas fases de la hipnosis con énfasis en la autohipnosis. Discutiremos sus muchas ramificaciones y trataremos de no omitir nada útil en nuestra discusión. <br><br>
Si sigue las instrucciones y los ejercicios que se analizan aquí persistentemente, debe poder alcanzar una profundidad de autohipnosis adecuada para resolver muchos de sus problemas personales. <br><br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas04 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas04" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas04" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas04" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>selfhypnosisusa.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cdF6ez/hipnosissolucion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Puede la hipnosis resolver sus problemas?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bHGJsK/hipnosisfunciona.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Cómo funciona la autohipnosis?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>