<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>El efecto placebo Y La mente</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Las pastillas placebo no contienen ningún medicamento y sin embargo producen efectos. La teoría de los médicos ortodoxos era que se trataba de sensaciones subjetivas. <br> <br>
Cuando un paciente esperaba sentirse mejor después de tomar una medicación, a menudo era así, aunque tomara una píldora de azúcar, decían. En cambio, la medicina natural ve en el efecto placebo una prueba de la capacidad de autocuración y de la influencia de la mente sobre el cuerpo. La ciencia de vanguardia está confirmando este punto de vista. <br> <br>
<img class=publi3 src="https://image.ibb.co/eWH2Kz/place1.png" hspace="5" vspace="5" style="float:left" />
Estudios recientes prueban que los efectos del placebo pueden ir más allá de la autosugestión. Paul Pattison sufre la enfermedad de Parkinson, un trastorno neurológico mayor que le impide, por ejemplo, ir en bicicleta, una de sus aficiones favoritas. Pero puede hacerlo si toma una medicación que estimula la producción del neurotransmisor dopamina. De hecho, sin esta medicina prácticamente no puede caminar. O eso creían los médicos hasta que el profesor Jon Stoessl, de la Universidad de la Columbia Británica (Canadá), sometió a Pattison a un experimento. Le pidió que dejara la medicación. Al poco tiempo Pattison volvió a mostrar toda la intensidad de los síntomas del Parkinson. Entonces Stoessl le dijo que le volvía a dar su pastilla. A la media hora volvía a sentirse tan bien como antes de dejar la medicación… pero en realidad no había tomado su pastilla, sino otra sin sustancia activa alguna. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Pattison fue solo uno más de las docenas de pacientes a los que el doctor Stoessl dio placebo con éxito terapéutico. Y Stoessl ha demostrado que la mejoría no se debe a sensaciones subjetivas. “Un placebo puede aumentar la producción de dopamina en un enfermo de Parkinson tanto como una anfetamina en una persona sana; esto es un efecto impresionante “, afirma el doctor. Es decir, se produce un cambio real en la química del cerebro. <br> <br>
En el caso del Parkinson, la diferencia con el medicamento es que el efecto placebo tiene menor duración. Sin embargo, en otras indicaciones puede ser muy prolongado. Los estudios muestran que un tratamiento placebo puede evitar los ataques de pánico durante ocho meses, los dolores de la angina de pecho durante seis y las molestias de la artritis durante dos años y medio. <br> <br>
<img class=publi3 src="https://image.ibb.co/dFuhKz/place2.png" hspace="5" vspace="5" style="float:left" />
El profesor Tor Wager, de la Universidad de Colorado (Estados Unidos), asegura que el cerebro puede ordenar la producción de las sustancias químicas que necesitamos, como endorfinas capaces de eliminar el dolor. Si a un paciente con quemaduras graves se le administra una inyección inocua de suero, diciéndole que se trata de un anestésico potente, se puede conseguir un efecto equivalente a unos 5-8 mg de morfina.
Wager sostiene que el cerebro, estimulado con placebo, puede dirigir órdenes al metabolismo y al sistema inmunitario y producir todo tipo de cambios bioquímicos. De esta manera puede controlar desde la cantidad de células inmunitarias a los niveles de glucosa, entre otras variables fisiológicas. <br> <br>
Ahora el objetivo de las investigaciones es comprender todavía mejor el efecto placebo para poder utilizarlo terapéuticamente. Según el doctor Gustavo Pacheco López, del Instituto de Ciencias del Comportamiento del Instituto Federal Suizo de Tecnología, de Zurich (Suiza), si se potencia el efecto placebo se puede reducir las dosis de analgésicos hasta un 30%. <br> <br>
Por otra parte, un estudio publicado en la revista Psychosomatic Medicine demostró que combinar una crema con cortisona y un producto placebo en el tratamiento de la psoriasis reduce cuatro veces la dosis necesaria para un tratamiento eficaz. <br> <br>
Entre las enfermedades que más podrían beneficiarse de los mecanismos de auto curación se encuentran la depresión, el pánico, los trastornos de la conducta infantil (como la hiperactividad), la úlcera gastrodúodenal, el síndrome de colon irritable, el asma, la diabetes, las dermatitis, las infecciones de las vías respiratorias superiores, el síndrome de fatiga crónica, la hipertrofia benigna de próstata, las artritis, las alergias y otros procesos inflamatorios. <br> <br>
<img class=publi3 src="https://image.ibb.co/jJKGez/place3.png" hspace="5" vspace="5" style="float:left" />
<b>¿Cómo se puede utilizar el efecto placebo para curarse?</b> <br>
<b>• </b>La empatía entre médico y paciente estimula la respuesta placebo o de auto curación. Hay que huir de las consultas de cinco minutos. El médico debe hacer una entrevista profunda, averiguar todos los factores que pueden estar influyendo sobre el paciente y suscitar su confianza en el tratamiento. <br>
<b>• </b>La consulta médica debiera plantearse como un ritual de curación. Como en todo ritual, es importante la atmósfera del despacho, los colores o los símbolos. La bata blanca y el fonendoscopio funcionan como tales, pero este aspecto simbólico puede potenciarse mucho más. Por ejemplo, se puede recurrir a imágenes u objetos religiosos o artísticos o que tienen un intenso significado personal. <br>
<b>• </b>El efecto de un tratamiento se puede reproducir mediante un estímulo asociado. Esto significa, por ejemplo, que si las primeras veces que una persona asmática recurre a un spray broncodilatador siente un fuerte olor a vainilla, en ocasiones sucesivas el olor se bastará para generar el efecto del medicamento, sin el medicamento. Otra manera de aprovechar este fenómeno es alternar el uso del medicamento y el placebo, por ejemplo, una crema con cortisona y otra inocua. <br>
<b>• </b>Las visualizaciones son un medio de comunicación entre niveles profundos de la mente y el cuerpo. La psicóloga Jeanne Archterberg propone la visualización en estado de relajación profunda (cuando predominan las ondas eléctricas cerebrales de tipo theta). <br>
<b>• </b>La combinación de visualización y biofeedback (técnica de control de variables fisiológicas mediante monitorización) se utiliza en el tratamiento de adicciones, estrés postraumático, trastornos de personalidad múltiple, depresión, fatiga crónica o bulimia. <br>
<br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>elmundoalinstante.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/f3Qpzz/acercahipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Lo que debes saber sobre la autohipnosis</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cdF6ez/hipnosissolucion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Puede la hipnosis resolver sus problemas?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bHGJsK/hipnosisfunciona.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>¿Cómo funciona la autohipnosis?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mcTOsK/ondasbinaurales.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ONDAS BINAURALES</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>