<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Guardar secretos puede ser perjudicial</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Últimamente, los neurocientíficos han advertido a la gente de los riesgos biológicos de mantener un secreto. Si bien puede parecer inocente e inofensivo, guardar secretos de los demás, especialmente de tus seres queridos cercanos, tiene el poder de comprometer tu bienestar mental, físico, emocional y espiritual. <br> <br>
<img class=publi3 src="https://image.ibb.co/eVVKez/secretos1.png" hspace="5" vspace="5" style="float:left" />
Por supuesto, los secretos a un grado menor son normales, e incluso naturales. Sin embargo, cuando los secretos se convierten en un obstáculo para tu vida cotidiana y relaciones, es de suma importancia que te enfrentes a la causa emocional raíz de este factor de estrés.
Porqué guardar secretos comprometen la salud
Según el psiquiatra y autor de la <b>“Anatomía de una vida secreta”, </b>guardar secretos o vivir una vida secreta, fomenta profundamente problemáticos diálogos y conflictos internos.
Peligrosamente, cuando se deja profesionalmente sin diagnosticar o desatender, los secretos pueden provocar ansiedad y preocupación crónica. <br> <br>
<b>¿La razón?</b> La corteza cingulada, esencial para nuestras respuestas emocionales, está profundamente arraigada y conectada para decir la verdad. Conocido como el <b>“lóbulo lógico”,</b> cuando traicionamos nuestros instintos naturales de ser transparentes y veraces, otras regiones del cerebro no pueden transmitir adecuadamente información y datos de importancia.
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h6>Entre más grande el secreto más ansiedad</h6>
Evidentemente, guardar secretos ponen tensión neurológica en el cerebro para realizar sus tareas biológicas y instintivas, haciendo hincapié en la corteza. “La corteza prefrontal está involucrada en la toma de decisiones, pensamiento complejo y engaño”, dice el neurocirujano Gopal Chopra, y por lo tanto, cuando estas dos regiones no pueden operar sin restricciones, el resultado final son cargas emocionales peligrosas. <br> <br>
<img class=publi3 src="https://image.ibb.co/ejgypz/topsecret.png" hspace="5" vspace="5" style="float:left" />
Comúnmente conocida como respuesta de “lucha o huida”, cuando tu corteza prefrontal gana la batalla dentro de tu cerebro para mantener continuamente un secreto, la presión hace que tu córtex cingulado acelere la producción de tu cuerpo de hormonas de estrés. Cuanto mayor sea el secreto, o cuanto más alto consideres el riesgo de que el secreto se escape, mayor será la ansiedad y los síntomas negativos.
Evidentemente, si los secretos persisten durante largos períodos de tiempo, esto puede llevar a un estrés mental sostenido, con el poder de manifestarse y resurgir a través de problemas digestivos, presión arterial alta, insomnio, dolor de espalda, problemas tiroideos y un sistema inmunológico debilitado. <br> <br>
<h6>Qué hacer y qué no hacer con los secretos</h6>
A pesar del peligro de retenerlos, los secretos son una faceta natural de la naturaleza humana. Para empezar, muchos secretos por su propia naturaleza reducirán el estrés o la contienda innecesaria, como no decirle a tu hijo acerca de su regalo de cumpleaños sorpresa o una sorpresa de vacaciones que has planeado para tu pareja.
El punto de rendimientos decrecientes, para los secretos, es cuando mantener el secreto o las emociones estresantes que acompañan el pensamiento de que no se filtre, impactan tu diálogo emocional interior.
Cuando la percepción de que un secreto es tan costoso para tu vida cotidiana, que el pensamiento de que se vaya a saber resulta en enfermedad física o dolencias, es imprescindible que busques atención profesional o por lo menos, confiar en alguien cercano y digno de confianza.
<img class=publi3 src="https://image.ibb.co/iqpUwe/confiesa.png" hspace="5" vspace="5" style="float:left" />
Por último, es importante recordar que a menudo exageramos la importancia que le estamos dando a un secreto a tal grado que nos hacemos más daño por la dinámica social de esta percepción que del contenido real del secreto.
Si bien puede parecer trivial u obvio, el simple acto de escribir una lista de pros y contras puede ser instrumental para disminuir los factores de estrés innecesarios. Esta sencilla tarea ha sido probada científicamente que reduce drásticamente las hormonas del estrés, baja la presión arterial y alivia brotes de enfermedades mentales. <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>lavidalucida</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dCGjez/pensamiento_ADN.jpg" alt="pensamiento_ADN" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian el ADN </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWw6sK/salud033.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La mente cura el cuerpo </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/j5D86e/medica.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Pensamientos y emociones vs medicamentos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/huEFme/mente001.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Cuidado con el saboteaje del subconsciente</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>