

<div class="container " >
<!-- SECCION 2 -->


<hr style="background-color:  #f3f4f7;" />
<div class="row audios">

  <span class="audiossubliminales"><b>Subliminal Audios Dinheiro e Finanças</b></span>
   
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XK3ZBRJNQ7K3N" target="_blank">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="6254R2PMPXVSQ">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
    </a>
</div>
            
  <div class="compartir col-xs-12" ><b>Compartilhar:</b> 
                
                <a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosdinero2"  target="_blank" >
               <img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>  

                <a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosdinero2 " target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>   

                <a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosdinero2" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a> 

                 <a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosdinero2" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>

               <a class="redessociales whatweb"  href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosdinero2" data-action="share/whatsapp/share" target="_blank">
              <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
                 
                <a class="redessociales whatcel"  href="whatsapp://send?text=www.pleyadesm.com/%23/audiosdinero2" data-action="share/whatsapp/share" target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a> 
          </div>

  <div class="row">
       <div style="cursor:pointer" class="articulos1" style="margin: auto auto auto auto ">
<a target="_blank"  href="https://www.amazon.com/gp/product/8520919863/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8520919863&linkCode=as2&tag=webpubli-20&linkId=f9baf23fd3e09e0da3a1f46bff58350e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=8520919863&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=8520919863" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
</div>
<hr style="background-color:  #f3f4f7;" />

<div class="container">
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong"><b>
  INSTRUÇÕES</b>
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLongTitle">IMPORTANTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
  <div class="row">
       <div style="cursor:pointer" class="articulos1" style="margin: auto auto auto auto ">
<a target="_blank"  href="https://www.amazon.com/gp/product/8520919863/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8520919863&linkCode=as2&tag=webpubli-20&linkId=f9baf23fd3e09e0da3a1f46bff58350e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=8520919863&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=8520919863" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
</div> 

 <p> Os seguintes áudios subliminares são ferramentas poderosas que o ajudarão a eliminar crenças, maus hábitos e circunstâncias que impedem que o dinheiro flua constantemente em sua vida.
<br> 
      
    </p>
    <h6> Instruções: </h6>
    <ul>
<b>1.</b> Digite um estado alfa (de meditação) por 5 minutos, faça isso enquanto ouve o áudio subliminar. Conte e visualize de 10 a 1 com respirações profundas. <br> 
<b>2.</b> Concentre-se no objetivo desejado, que é ter muito dinheiro, ter uma imagem mental de ter dinheiro, brincar com cenas, não poupar dinheiro, procurando criar sensações como se você atualmente tivesse muito dinheiro. Adicione muita emoção positiva a essa imagem. 
<b>3.</b> Consegue fazer essa imagem + a emoção por alguns minutos, não é necessário fazê-lo por muito tempo. <br> 
<b>4.</b> Aprecie e relacione emocionalmente o som do áudio com a sensação de prazer e aproveite o dinheiro. As instruções 1 a 4 fazem os primeiros dias, então é opcional repeti-las. O ponto 4 é criar uma âncora emocional com o áudio. Então, sua mente, quando você ouve o áudio, relaciona-o automaticamente ao objetivo desejado. <br> 
<b>5.</b> Ouça o áudio pelo menos 1 hora por dia e seja constante para ouvi-lo todos os dias. Quanto mais tempo você ouvir os resultados mais rapidamente. Você pode ouvi-lo enquanto dorme ou quando usa o computador. Mas nunca dirigindo o carro ou outra atividade que requer concentração. <br> 
<b>6.</b> Não fique obcecado em ver mudanças imediatas, acredite e confie no resultado final que será o que você imagina em sua mente e em suas emoções positivas. <br> 
<b>7.</b> Os resultados dependem da sensibilidade à sugestão mental e, especialmente, da
dedicação que você dá a estas instruções. <br> 
<b>8. </b>Todos os dias, enquanto ouve o áudio, agradeça pela sua cura e seja grato porque pode respirar, ouvir, ver, cheirar, etc. <br> 

<b>9. </b>Se você quiser colocar o vídeo no modo repetidor automático, clique com o botão direito do mouse no vídeo e ative o loop:
<img style="width:100%; height:70%;"  src="https://image.ibb.co/cpGvU9/4portugues.png" alt="4portugues">
<b>
Um grande abraço e sucessos. <br>
PleyadesM</b>

    </ul>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
         </div>
    </div>
  </div>
</div>


<!-- -->

<br> 
<!--VIDEOS SUBLIMINALES DESDE YOUTUBE CHANNEL -->
<!-- YOUTUBE API -->
<div class="container">
<div class="card-columns" >
  <div class="card animated fadeIn fast" (click) ="verVideo(video)" 
  *ngFor="let video of videos">
    <img class="card-img-top" [src]="video.thumbnails.medium.url" 
    [alt]="video.title">
    <div class="card-body">
      <h5 class="card-title"><b>{{ video.title }}</b></h5>
     </div>

   
  </div>
 </div>

<!-- Modal -->


<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">


    <div class="modal-content " *ngIf="videoSel">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">{{ videoSel?.title }}</h5>     
      </div>

  <div class="row">
       <div style="cursor:pointer" class="articulos1" style="margin: auto auto auto auto ">
<a target="_blank"  href="https://www.amazon.com/gp/product/8520919863/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8520919863&linkCode=as2&tag=webpubli-20&linkId=f9baf23fd3e09e0da3a1f46bff58350e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=8520919863&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=webpubli-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webpubli-20&l=am2&o=1&a=8520919863" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
</div>      
      <div class="modal-body precarga">
         <iframe width="100%" height="250"  
         [src]=" videoSel.resourceId.videoId | domseguro " 
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
<div class="container">
 <div class="compartir" ><b>Compartilhar:</b> 
               <a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiosdinero2"  target="_blank" >
               <img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>  

                <a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiosdinero2 " target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>   

                <a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiosdinero2" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a> 

                 <a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiosdinero2" target="_blank">
                 <img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>

               <a class="redessociales whatweb"  href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiosdinero2" data-action="share/whatsapp/share" target="_blank">
              <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
                 
                <a class="redessociales whatcel"  href="whatsapp://send?text=www.pleyadesm.com/%23/audiosdinero2" data-action="share/whatsapp/share" target="_blank">
               <img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a> 

          </div>
</div>
<br> 
      <div class="modal-footer">

        <button (click)="cerraModal()"
        type="button" class="btn btn-danger" >
        <b>Close</b>
        </button>

      </div>
    </div>
  </div>
</div>





     <ul class="nav-item"   routerLinkActive="active" >

   <h6>Tópicos que podem lhe interessar:</h6>
     <li>   <a class="nav-link" (click)="(verSubliminales())" [routerLink] = "['/subliminal']"><h5>As mensagens subliminares</h5></a></li>
      <!--  <a class="nav-link" [routerLink] = "['/frecuencias']">Porque las Frecuencias Hz nos afectan</a> -->
    <li>   <a class="nav-link" (click)="(verPreguntas())" [routerLink] = "['/preguntas']"><h5>Perguntas e respostas frequentes</h5></a></li>
      
      <li>   <a class="nav-link" (click)="(verHeroes())" [routerLink] = "['/categorias']"><h5>Categorias de áudio subliminares</h5></a></li>   

    </ul>
