<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Dormir estas horas según tu edad</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud09 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
Dormir es esencial para nuestra salud, pero la realidad es que pocas veces podemos descansar la cantidad de horas que necesitamos. Esto tal vez se deba al consumo de bebidas estimulantes como el café o las bebidas energéticas.
La fundación Nacional del sueño se reunió para analizar este dilema, y descubrir así cuantas horas realmente uno necesita descansar. Aunque no siempre las investigaciones sean exactas, a continuación veremos la carta que cuenta con rangos máximos de franjas horarias para la salud. <br> <br>
<b>De 0 a 3 meses</b>
A esta edad se recomienda que los bebés duerman entre 14 y 17 horas. El rango de horas menos apropiado es de 11 a 13 horas, y el no recomendado de 18 a 19 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/bRkzUz/bebe.png" hspace="10" vspace="10" style="float:left" />
</div> <br>
<b>De 4 a 11 meses</b>
Tienen que dormir entre 12 y 15 horas, es muy importante que respeten esto ya que los pequeños son muy susceptibles en esta edad y deben cumplir con sus horas de sueño, el rango menos apropiado es de 10 a 11 horas y el que no es recomendado es de 16 a 18 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/et2UUz/2.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>De 1 a 2 años</b>
Lo ideal es que los pequeños duerman entre 11 y 14 horas, el rango de horas que tal vez sea apropiado es de 9 a 10 horas y lo que no se debe hacer es permitir que duerman entre 15 y 16 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/cy4Mbe/010.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>De 3 a 5 años</b>
Se deben dormir entre 10 y 13 horas, lo que tal vez sea apropiado es de 8 a 9 horas y lo que no debe hacerse es permitir que se duerman 14 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/jP4b9z/5.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>De 6 a 13 años</b>
En esta edad los niños deberán dormir entre 9 y 11 horas. Lo tal vez recomendado son 7 y 8 horas, lo que no se recomienda son 12 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/mrF52K/10.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>De 14 a 17 años</b>
Debes dormir entre 8 y 10 horas. Si no cumples con este requisito horario puedes intentar dormir 7 horas. No debes dormir 11 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/gzpnGe/16.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>De 18 a 25 años</b>
En esta etapa los jóvenes deben dormir entre 7 y 9 horas. Lo tal vez recomendado como una segunda opción si no puedes cumplir con el horario principal de horas que debes dormir, son 6 horas. Y lo que no debes hacer es dormir de 10 a 11 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/kVQ52K/20.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>De 26 a 64 años</b>
Los adultos deben dormir entre 7 y 9 horas. Como segunda opción pueden dormir 6 horas. NO deben dormir 10 horas.
<div class="row">
<img class=publi3 src="https://image.ibb.co/dw2eUz/40.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
<b>65 años en adelante</b> <br>
Durante esta etapa, las personas mayores deben dormir 7 a 8 horas. No deben dormir 9 horas, pero tal vez pueden dormir 5 o 6 horas, como otra opción si no pueden cumplir con las horas recomendadas para su edad. <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/dD0Bbe/abuelos.png" hspace="5" vspace="5" style="float:left" />
</div> <br> <br>
Ahora sabes cuántas horas deberías dormir según tu edad. Para mantener un estilo de vida saludable, es muy importante que cumplas estos horarios, de esta manera te sentirás y verás mejor. Si se te hace imposible de cumplir con esto, asegúrate de establecerte algunas pautas, como por ejemplo, practicar una rutina al momento de dormir que sea relajante, dormir en una cama que te resulte cómoda, y lo más importante, apagar los aparatos electrónicos al momento de conciliar el sueño. ¡Tú puedes hacerlo! Pon en práctica esto y comienza a dormir las horas que tu cuerpo necesita.
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud09 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud09" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud09" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>iMujer</a>
 
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dCGjez/pensamiento_ADN.jpg" alt="pensamiento_ADN" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian el ADN </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWw6sK/salud033.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La mente cura el cuerpo </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/j5D86e/medica.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Pensamientos y emociones vs medicamentos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/huEFme/mente001.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Cuidado con el saboteaje del subconsciente</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>