
<h2> Salud Perfecta</h2>
<div class="container">

<div class="row">

	<div class="publicidad col-lg-12  col-md-12  col-sm-12  col-xs-12">
		<img src="../../../../assets/img/poder.jpg" alt="">

	</div>
	
</div>
	
<div class="row">


	<div class="publi col-lg-2  col-md-2 ">
		
	</div>
	<div class="salud col-lg-8  col-md-8  col-sm-12  col-xs-12" >
		<p>
			Cada pensamiento, cada sentimiento, cada emoción que tenemos vibran a una determinada frecuencia que podemos comparar con una emisora. Podemos comparar nuestro cerebro con un instrumento de retransmisión, como una radio que capta lo que difunde la emisora que sintonizamos al elegir la frecuencia.

			Supongamos que una de tus vecinas va a tu casa y te dice: “tienes suerte, cada vez que vengo oigo melodías agradables en tu radio. En mi casa no escucho mas que malas noticias que me preocupan y una música que me vuelve loca”. ¿Le responderías que tiene razón, que tienes suerte y ella no? Por supuesto que no, porque sabes muy bien que la suerte no tiene nada que ver con esto. Más bien le dirías: “No tienes mas que cambiar de emisora o de frecuencia.


			ENFERMAR, SENTIRSE DESGRACIADO O ENCONTRARSE EN UNA SITUACIÓN DESAGRADABLE NO ES CUESTIÓN DE MALA SUERTE NI UNA CASUALIDAD O UN CASTIGO DIVINO. NO ES MAS QUE SINTONIZARSE CON DETERMINADA FRECUENCIA.



			Solo hay que cambiar de una frecuencia negativa a otra positiva para que el malestar, el dolor o la enfermedad desaparezca, para transformar una situación difícil o para mejorar nuestra relación con los demás.
			SEGÚN LAS FRECUENCIAS VIBRATORIAS ENGENDRADAS POR NUESTROS PENSAMIENTOS, CREENCIAS, SENTIMIENTOS, EMOCIONES ASÍ COMO LAS PALABRAS QUE PRONUNCIAMOS Y LAS LECCIONES QUE TENEMOS QUE INTEGRAR, ENCONTRAREMOS EN EL MUNDO LOS ACONTECIMIENTOS O LAS CIRCUNSTANCIAS QUE LE CORRESPONDEN.
			Con la ley de la responsabilidad, ya no hay víctimas ni verdugos. Por consiguiente no puedes acusar a los demás de lo que vives porque ineludiblemente hay algo en ti que te hace reaccionar de esa manera o lleva al otro a tratarte así. El otro no es más que un espejo en el que nos miramos. Uno puede rechazar su furia y otro expresarla con violencia pero ambos están presos en ella
			Una historia cuenta que un día el cerebro, el pulmón y el corazón discutían para saber cual de ellos era más importante. El cerebro decía: “soy yo porque doy las órdenes”. Los pulmones replicaron: “Sin aire no puedes funcionar, por tanto, yo soy más importante. El corazón dijo: “Sin mi, tu aire no circularía y ambos os asfixiaríais”. El ano al oírles discutir se cerró y les dijo: “Cuando os hayáis puesto de acuerdo, me abriré.”

			Si reconocemos que hemos creado tal o cual situación o hemos atraído determinado acontecimiento a nuestra vida y pensamos que este acontecimiento no “es correcto” o que es malo, esto no puede más que llevarnos a adoptar una actitud reprobatoria o un sentimiento de culpabilidad. Sin embargo si comprendemos que son nuestras actitudes las que han dado lugar a esos acontecimientos, podremos aceptar éstos sin culpabilizarnos, porque esos acontecimientos están relacionados directamente con las lecciones que debemos integrar en nuestra evolución.




		</p>
	</div>

		<div class="salud col-lg-2  col-md-2 col-sm-0  col-xs-0" >
			<img src="../../../../assets/img/health1.png" alt="">
		</div>

</div>



</div>