<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Tu mente puede curarte</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud05 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
La mente puede ayudar a curar, pero necesitamos conocer las herramientas para que sea eficaz.
<b>Meditar, visualizar,</b> tener en cuenta los colores y el entorno son algunos de los recursos a nuestro alcance
Lo que sentimos, pensamos o creemos tiene una influencia directa sobre la química corporal. Por tanto, las posibilidades de tratamiento van mucho más allá de las pastillas. Cada persona goza de multitud de recursos para curarse por sí misma. Hemos llegado a convencernos de que sin médicos ni medicinas no es posible la curación, sin embargo una herida se cierra sin ayuda de ningún agente exterior y el sistema inmunitario elimina igualmente virus y bacterias. <br> <br>
<img class=publi3 src="https://image.ibb.co/eJHeCK/meditando.png" hspace="5" vspace="5" style="float:left" />
La mente puede utilizarse de muchas maneras para favorecer la curación. Los ejercicios de visualización son capaces de influir sobre el sistema inmunitario, pero su eficacia parece depender de cuánto se haya trabajado la comunicación entre mente y cuerpo (en realidad, dos aspectos del organismo que no tiene departamentos aislados). <br> <br>
Lo que sentimos, pensamos o creemos tiene una influencia directa sobre la química corporal. Por tanto, las posibilidades de tratamiento van mucho más allá de las pastillas. Cada persona goza de multitud de recursos para curarse por sí misma. Hemos llegado a convencernos de que sin médicos ni medicinas no es posible la curación, sin embargo una herida se cierra sin ayuda de ningún agente exterior y el sistema inmunitario elimina igualmente virus y bacterias. <br> <br>
La mente puede utilizarse de muchas maneras para favorecer la curación. Los ejercicios de visualización son capaces de influir sobre el sistema inmunitario, pero su eficacia parece depender de cuánto se haya trabajado la comunicación entre mente y cuerpo (en realidad, dos aspectos del organismo que no tiene departamentos aislados). <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<b>LA MEDITACIÓN</b> es la prinicipal herramienta de trabajo en este sentido. Es el vehículo del viaje interior que potencia el autoconocimiento y la intuición, entendida como voz interior que orienta todo el proceso de autocuración y el camino hacia una vida cada día más plena. Los hallazgos que se realizan gracias a la meditación se traducen inmediatamente en un mayor equilibrio emocional y espiritual. <br> <br>
Meditar es una manera de detenerse, de dedicarse unos minutos de calma y paz que permiten escuchar la propia voz interior. Día a día aumenta la seguridad en las propias capacidades, al mismo tiempo que la certeza de llevar una de acuerdo con las necesidades personales más profundas. <br>
<img class=publi3 src="https://image.ibb.co/dVfzCK/brain.png" hspace="5" vspace="5" style="float:left" />
Las cosas que antes causaban confusión, comienzan a tener un sentido. La autoconfianza y autoestima que se encuentran a través de la meditación proporcionan esperanza en la curación.
Es también una forma de relajación, por tanto combate muy eficazmente el estrés, una de las principales causas de enfermedad al debilitar el sistema inmunitario. <br> <br>
Antes de meditar conviene hacer algunas respiraciones profundas. Primero se respira lentamente durante 5 minutos. Luego se inspira muy despacio por la nariz todo el aire posible, notando como se expande la parte baja de los pulmones. Finalmente, después de un instante de contención, se espira muy despacio por la boca sin contraer el abdomen.
Se medita en cualquier situación o posición cómoda. En un sillón con los pies elavados o en la cama, por ejemplo. Sólo hay que evitar las interrupciones. Cuando se tiene la suficiente costumbre, es posible entrar en estado de meditación casi en cualquier circunstancia, como en un autobús o en un banco en un parque.
Meditar no es dejar la mente en blanco, libre de todo pensamiento mientras se está quieto y se espera que suceda algo, como cree erróneamente mucha gente. <br> <br>
Cuando se intenta meditar por primera vez, la mente no se queda en blanco, sino todo lo contrario. Los pensamientos surgen y llaman la atención en todas direcciones. El ejercicio de meditación consiste en primer lugar en observar la cadena de pensamientos y emociones como si no fueran propios. Hay que esforzarse por dejar que fluyan, que vayan por donde quieran. Luego, una vez relajados, se puede realizar una visualización.
Al principio, el fluir de los pensamientos parece caótico, pero con el paso de los días se reconoce su sentido. Si se eliminan las barreras mentales y emocionales, desde la propia sabiduría se examina la maraña de pensamientos y se encuentran unas constantes. Así, la voz interior tiene la oportunidad de ser reconocida durante la meditación para que sirva de guía. <br> <br>
Conviene empezar con sólo un minuto al día, hasta llegar a los diez minutos diarios. Después de comer es un buen momento para “cargar las pilas”. En cambio, es mejor no meditar cuando se está cansado o somnoliento. La meditación puede formar parte de la rutina diaria, como lavarse los dientes.
La práctica hace al maestro. Cuanto más se medita, mayor es la capacidad de concentración y más importantes los resultados que se obtienen. Es posible que se realicen hallazgos desagradables, que se deban reconocer errores o debilidades, pero siempre vale la pena. <br> <br>
La meditación ayuda a reconocer la alegría, el amor y el humor como aliados en la prevención de la enfermedad, pues son necesidades espirituales básicas. La armonía con los demás va de la mano con la satisfacción con uno mismo, sin sentir la obligación de adaptarse para encajar. Esta adaptación significa a menudo una limitación excesiva de las posibilidades personales. <br> <br>
<b>LA VISUALIZACIÓN </b> utiliza la imaginación. Todo lo que una persona o una sociedad pueda conseguir depende de su capacidad imaginativa y de su creatividad para superar obstáculos. De forma equivalente, la imaginación y la creatividad constituyen una herramienta poderosa para curar el cuerpo.
Aunque parezca increíble, la visualización de determinadas imágenes hace que el cerebro dé inmediatamente las órdenes químicas convenientes al sistema inmunitario para que luche contra la enfermedad. <br> <br>
<img class=publi3 src="https://image.ibb.co/m80zCK/Fotolia.png" hspace="5" vspace="5" style="float:left" />
Cada persona puede crear sus propios recursos imaginativos para curarse. Por ejemplo, se puede visualizar una imagen del cuerpo, con cada una de sus partes en diferentes colores. Se centra la atención en la zona o zonas donde se tienen los problemas y se llenan de luz curativa. La luz puede entrar por la cabeza, como si se vertiera líquido en una botella, llenando el cuerpo por completo de un brillo sanador. Cuanto más real, intensa y duradera sea la visualización, mayor será su efecto. <br> <br>
Se cierran los ojos y se visualizan cientos de diminutas luces que tililan. Al concentrarse en las luces sus contornos se hacen más y más definidos, y se convierten en estrellas más grandes y rutilantes. Las estrellas se juntan hasta que forman una sola y esplendorosa luz. Esta luz es una fuerza curativa y hace que aflore un sentimiento de alegría.
Las elecciones de colores, formas y escenas son personales. Los colores elegidos pueden cambiar de día en día, dependiendo de la situación.
Un ambiente cuidado potencia la facilidad para visualizar y los resultados. La música relajada, el olor del incienso o las velas aromáticas ayudan a crear una atmósfera adecuada. <br> <br>
<b>Visualización</b> para estimular el sistema inmunitario
Cierra los ojos e imagina tu sistema inmunitario como un hilo de seda que une todas las partes de tu cuerpo de forma que cada órgano, nervio y célula están conectados.
Asigna un color a ese hilo y observa cómo recorre todo tu cuerpo.
Recuerda que tu inteligencia tiene sus limitaciones y no comprende plenamente tus necesidades espirituales. Imagina que estás hablando con tu espíritu, pregúntale dónde puedes colocar tus manos para favorecer la curación. <br> <br>
Deja que tu espíritu te responda y te oriente. Visualiza tus manos como si despidieran un resplandor curativo, mientras las desplazas por las diferentes zonas de tu cuerpo. Capta dónde han de tocar con su poder curativo.
Concéntrate en la luz curativa y rodea con ella cada una de las zonas que la necesitan, hasta que percibas que la energía ha penetrado en ella y ha sido absorbida por tu cuerpo. Después de un rato es posible que sientas un leve hormigueo en tus manos. <br> <br>
<img class=publi3 src="https://image.ibb.co/bGFMRe/mind2.png" hspace="5" vspace="5" style="float:left" />
<b>ELEGIR LA TERAPIA ADECUADA</b> es en buena medida una responsabilidad personal. Si es posible, se evitarán los tratamientos agresivos y se dará preferencia a las terapias que refuercen la inmunidad y todos los recursos autocurativos. <br>
Si consideramos que el origen de la enfermedad es prinicipalmente físico, se puede recurrir a la medicina convencional, la medicina naturista, la osteopatía, la acupuntura, la digitopuntura, la reflejoterapia, el masaje shiatsu, la homeopatía, la nutriterapia y el ejercicio. <br> <br>
Si el origen se encuentra en la mente, terapias adecuadas son la osteopatía, la cromoterapia, las esencias florales, la psicoterapia y la hipnoterapia, el reiki, la meditación, la cromoterapia y la aromaterapia.
Si el origen está en las emociones, las opciones son la osteopatía, la cromoterapia, las esencias florales, la homeopatía, la psicoterapia y la hipnoterapia, el reiki, la meditación, la cromoterapia, la gemoterapia y la aromaterapia. <br>
Si el origen es espiritual, son terapias recomendables la cromoterapia, la psicoterapia y la hipnoterapia, la meditación y la homeopatía. <br> <br>
<b>LA ORACIÓN</b> no suele incluirse entre las terapias, ni siquiera entre las alternativas o complementarias. Sin embargo, existen estudios científicos que demuestran claramente la influencia del acto de rezar sobre la salud de uno mismo y de los demás. El más destacado se llevó a cabo en 1998, en el California Pacific Medical Center, y los resultados muestran diferencias estadísticas muy significativas no atribuibles al azar.
El efecto podría estar relacionado con la seguridad y el bienestar que provoca el sentimiento de estar conectado a algo superior al individuo. Por supuesto, no hace falta que la oración sea de una confesión determinada, puede ser escrita por uno mismo y no refirerse a un ser superior con un nombre determinado. <br> <br>
<b>BUCEAR EN EL INCONSCIENTE</b> puede ser complejo pero pueden obtenerse grandes resultados en cuanto al autoconocimiento e incremento del bienestar con uno mismo. Gran parte del funcionamiento mental es inconsciente. Este determina en gran parte la personalidad y el comportamiento. Tiene su propia lógica: se rige por los instintos, no tiene barreras físicas ni mentales. <br> <br>
<b>Los sueños,</b> ofrecen una oportunidad al inconsciente para hacernos saber algo de la información que está manejando. Anotar cada mañana lo que se recuerde es una de las maneras de familiarizarse con el lenguaje onírico. Si la enfermedad aparece reflejada de alguna manera, es una pista segura para continuar investigando.
Cuando buscamos formas en las nubes o dejamos vagar la imaginación mientras miramos una vela, el inconsciente está tomando las riendas por un instante. En los estados de conciencia a medio camino entre el sueño y la vigilia, es posible hacerse consciente de los procesos normalmente inconscientes (es durante ellos que somos capaces de recordar un sueño). <br> <br>
<b>Las corazonadas,</b> las intuiciones, las seguridades sin justificación (sobre una persona o algo que va a ocurrir...), son frutos del inconsciente. Si se adquiere confianza en la propia intuición a través de su cultivo y escucha, se podrá segur sus consejos en relación con la salud. La credibilidad que nos merezca esta voz interior da la medida del grado de autoestima y de seguridad que se ha alcanzado. <br> <br>
<img class=publi3 src="https://image.ibb.co/gq6vme/luzmind.png" hspace="5" vspace="5" style="float:left" />
<b>LOS COLORES</b> influyen sobre el estado de ánimo, por eso conviene tenerlos en cuenta si se desea explotar al máximo los poderes de la mente en la curación. Sensibilizarse al color significa averiguar más sobre uno mismo y sirve para aumentar la armonía profunda con lo que nos rodea, desde la ropa hasta las paredes del hogar y los muebles. <br> <br>
Durante las visualizaciones, si se evoca una luz se puede hacer que tenga un color adecuado para el efecto que se desea. En último término, el efecto de los colores es personal, pero existe cierto consenso sobre las cualidades de cada uno. <br>
<b>El rojo</b> resulta vigorizante y estimulante. Combate las infecciones y reduce las inflamaciones. Está indicado cuando el organismo tiene un tono bajo. <br>
<b>El naranja</b> es más positivo que el rojo. Simboliza la femineidad, es la energía de la creación. Da libertad de movimientos y ahuyenta la pesadez. Transforma la energía negativa en positiva, por eso se utiliza contra la depresión. <br>
<b>El amarillo</b> estimula la actividad mental. Aporta distanciamiento y objetividad en los juicios. Se utiliza contra las adicciones y las obsesiones porque ayuda a racionalizar los sentimientos. <br>
<b>El verde </b>se asocia a equilibrio y purificación. Armoniza la razón con las emociones y compensa las energías positivas y las negativas. El verde reduce la confusión mental y favorece la concentración. Además es tranquilizante, por lo que sirve para alteraciones nerviosas, las migrañas y la indigestión. <br>
<b>El azul</b> es el color curativo tradicional, debido a que transmite calma a la vez que estimula las energías del organismo y fortalece el sistema inmunitario. <br>
<b>El añil</b> significa flexibilidad y liberación. Alivia la incertidumbre y envía ánimo donde hay resitencias. Ayuda a desprenderse de pensamientos, emociones y comportamientos que se han vuelto negativos. <br>
<b>El violeta</b> potencia la imaginación y genera una mayor conciencia y percepción espiritual. Restablece la autoestima, controla la inseguridad y refuerza el cuerpo energético emocional. <br> <br>
<b>EL ENTORNO</b> se puede acondicionar para vivir en un ambiente físico y emocional que favorezca la salud. Está dentro de las competencia de la mente el hacer todo lo posible para vivir en un lugar con una atmósfera poco contaminada y en una casa sana.
En este sentido, siempre es posible hacer algo para mejorar: utilizar materiales naturales, poner plantas o elegir colores teniendo en cuenta su efecto, por ejemplo. <br>
Lo mismo se puede decir del lugar de trabajo y del tipo de relación que se mantiene con los compañeros, los amigos y la familia. El apoyo emocional que una persona tiene es uno de los factores claves en el mantenimiento de su salud. <br> <br>
<b>La música </b>ayuda a alcanzar la calma interior para cambiar el estado anímico y regenerar energías. Una pieza musical larga sirve para entrar suavemente en el mundo interior. Una visualización con música resulta especialmente interesante: se escucha la música con los ojos cerrados y se imaginan los sonidos como colores luminosos balsámicos que bañan el cuerpo. La sensación de que la música está modulando las emociones y eliminando estrés será inmediata. <br> <br>
<img class=publi3 src="https://image.ibb.co/j5KsXK/mind3.png" hspace="5" vspace="5" style="float:left" />
<b>ESCRIBIR</b> sirve para dar una presencia física a un proceso mental. Esta materialización aumenta la potencia de los efectos de laas ideas sobre el cuerpo.
Una manera de utilizar la escritura es acostumbrarse a hacer listas, siempre que no resulte una carga sino placentero: listas de objetivos, de logros alcanzados, de virtudes y valores personales, de sueños imposibles, de placeres...
Otras posibilidades son redactar cartas a personas queridas, escribir un dietario donde se anoten las impresiones íntimas, y llevar un diario de sueños donde también se apunte el estado mental o de ánimo cuando se abren los ojos por la mañana y justo antes de acostarse.
Es necesario darse cuenta de que sólo uno mismo posee la llave para acceder a los lugares más recónditos del alma y hacer funcionar los resortes de la curación. Y para accionar la llave hay que aprender a tener una confianza total en uno mismo. Es decir, fé en la propia inteligencia, en la imaginación, en la intuición, y en las decisiones que se toman para superar los problemas. <br> <br>
<h5>Meditación en los hospitales</h5>
<b>La meditación </b> se está introduciendo en los hospitales más avanzados. El doctor Woodson Merrell, del Centro Médico Beth Israel de Boston (Estados Unidos), ha manifestado que “la meditación es quizá la herramienta más poderosa para la salud". Según el doctor Barrie R. Casselith, "no es agresiva, no tiene efectos secundarios y tiene beneficios enormes que han sido documentados científicamente. Ayuda a mejorar la calidad de vida en general, reduce el dolor, baja la presión sanguínea y el ritmo cardiaco, calma, mejora el humor...". <br><br>
<img class=publi3 src="https://image.ibb.co/jY5XXK/hospital.png" hspace="5" vspace="5" style="float:left" />
En un estudio realizado en la Universidad de Harvard, cinco personas que meditaron diariamente durante por lo menos cinco años fueron analizados en un escáner de resonancia magnética. Durante 42 minutos se les pidió que alternaran la meditación y pensamientos banales (listas de animales). Las imágenes de su cerebro mostraron que las zonas que procesan las emociones y que influyen sobre la función cardiorrespiratoria eran más activas durante la meditación. La doctora Sara Lazar, uno de los autores, afirma que "se verificó que la meditación produce efectos cuantificables". <br> <br>
En el centro Sloan-Kettering de Nueva York, se recomienda a los pacientes con cáncer que mediten durante las sesiones de quimioterapia. Cada enfermo obtiene un beneficio en clave personal: unos aprenden a aceptar su enfermedad sin ansiedad, otros consiguen la suficiente claridad de ideas para encontrar la fuerza interior que les ayuda a luchar contra el tumor. En las sesiones de meditación guiadas, el psicólogo David Payne, pide a los enfermos que "brinden honor y respeto a sus cuerpos”, mientras permanecen atentos a sus sensaciones.
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud05 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud05" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud05" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>WIKIMEDIA</a>
 
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cHD2XK/cerebrohip.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Los efectos de la hipnosis en el cerebro</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/neeCzz/psiquicamente.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La relajación psíquica y la salud </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gVst6e/seguntuedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Dormir estas horas segun tu edad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dCGjez/pensamiento_ADN.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian el ADN </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWw6sK/salud033.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La mente cura el cuerpo </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>