

<h1 class=" animated fadeIn ">{{heroe.nombre }}  

<!--<small>{{ heroe.aparicion }}</small>   -->

</h1>
<hr>

<div class="row animated fadeIn fast">
	<!--
	<div class="heroe1 col-lg-md-4 col-md-4 col-sm-12 col-xs-12">
		
		<img [src]="heroe.img" class="img-fluit" [alt]="heroe.nombre">
		<br><br>
		<a [routerLink] ="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
	</div>

-->
	<div class=" heroe2 col-lg-md-12 col-md-12 col-sm-12 col-xs-12">

	<!--	<h3>{{ heroe.nombre }}</h3>   -->
		<hr>
		<p>
			{{ heroe.bio }}
		</p>

	<!--		
		<div>
			<img *ngIf="heroe.casac == 'Marvel'" class="img-logo" src="../../../assets/img/marvel-logo.png" alt="Marvel">
			<img *ngIf="heroe.casa == 'DC'" class="img-logo" src="../../../assets/img/dc-logo.jpg" alt="DC">
	</div>
		
		<iframe width="560" height="315" [src]=" video | domseguro: 'https://www.youtube.com/embed/' " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
	</div>
	-->
</div>

