<div class="container">
<hr style="background-color:#f3f4f7" />
<div class="row audios">
<span class="audiossubliminales"><b> Audios Subliminales Salud Perfecta</b></span>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XK3ZBRJNQ7K3N" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6254R2PMPXVSQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</a>
</div>
<div class="compartir col-xs-12"><b>Compartir:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiossalud " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiossalud" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/audiossalud" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<div style="cursor:pointer" class="articulos1">
<a href="http://84f4fds26wo27c0u19qobq8zbv.hop.clickbank.net/" target="_blank"><img style="width:100%;height:70px" src="http://www.dieta3semanas.com/images/728x90.gif" target="_blank" alt="" /></a>
</div>
<hr style="background-color:#f3f4f7" />
<div class="container">
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"><b>
INSTRUCCIONES</b>
</button>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle">IMPORTANTE</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div style="cursor:pointer" class="articulos1">
<a href="http://4e4abqi-3ohjur8nc9qmvlil1u.hop.clickbank.net/?tid=15MINUTOS" target="_blank"><img style="width:100%;height:80px" src="https://image.ibb.co/eFGSNU/15manifestacion.jpg" alt="15manifestacion" border="0" target="blank"/></a>
</div>
<hr style="background-color:#f3f4f7" />
<p>Los siguientes audios subliminales son herramientas poderosas que le ayudaran a activar la fe necesaria para la auto curación de su cuerpo. Un audio subliminal para mejorar la salud está diseñado para ordenar a la mente subconsciente en tener nuevas creencias de salud vigorosa y próspera.
<br>
Estas herramientas no reemplazan a ningún tratamiento convencional que le brinda la medicina “moderna”. Se brinda esta herramienta para el uso de experiencia de sanación, aplicando la fe consciente, el poder de la autosugestión subliminal en el subconsciente y técnicas de Biofrecuencias.
</p>
<h6>Instrucciones:</h6>
<ul>
<b>1.</b> Entra en un estado alfa (de meditación) por 5 minutos, has esto mientras vas escuchando el audio subliminal. Cuenta y visualiza del 10 al 1 con respiraciones profunda. <br>
<b>2.</b> Concéntrase en el objetivo de tener una salud perfecta y crea una imagen en tu mente de ti mismo(a) caminando y sintiéndote saludable, has esa imagen tal como te gustaría verte en la mejor versión de ti mismo(a). Agrega mucha emoción positiva a esa imagen., puede recordar cuando se sintió muy saludable y vigoroso en su vida <br>
<b>3.</b> Logra hacer esa imagen + la emoción por un par de minutos, no es necesario hacerlo mucho tiempo. <br>
<b>4.</b> Disfruta y relaciona emocionalmente el sonido del audio con sentirse feliz por estar saludable. Instrucciones 1 al 4 hacer los primeros días, luego es opcional repetirlos. El punto 4 es para crear un anclaje emocional con el audio. Así tu mente, cuando vuelvas a escuchar el audio automáticamente lo relacione con la sanidad que hiciste en tu mente. <br>
<b>5.</b> Escucha el audio mínimo 1 hora por día y se constante de escucharlo todos los días. Cuanto más tiempo escuches más rápido los resultados. Puedes escucharlo mientras duermes o en utilizas la computadora. Mas nunca manejando el auto u otra actividad que requiere concentración. <br>
<b>6.</b> No obsesionarse por ver cambios inmediatos, cree y confía en el resultado final que será lo que imaginas en su mente y en sus emociones positivas. <br>
<b>7.</b> Los resultados dependen de la sensibilidad a la sugestión mental y sobre todo a la
dedicación que des a estas instrucciones. <br>
<b>8.</b> Todos los días mientras escuchas el audio da gracias por su sanidad y se agradecido porque puedes respirar, oír, ver, oler, etc.
<b>9.</b> Si deseas poner el video en modo repetidor automático,click derecho en el video y activar bucle : <br>
<img style="width:100%;height:70%" src="https://image.ibb.co/eELdhU/4espanol.png" alt="4espanol">
<b> Un gran abrazo y éxitos. <br>
PleyadesM</b>
</ul>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
<br>
<div class="container">
<div class="card-columns">
<div class="card animated fadeIn fast" (click)="verVideo(video)" *ngFor="let video of videos">
<img class="card-img-top" [src]="video.thumbnails.medium.url" [alt]="video.title">
<div class="card-body">
<h5 class="card-title"><b>{{ video.title }}</b></h5>
</div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" role="document">
<div class="modal-content" *ngIf="videoSel">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">{{ videoSel?.title }}</h5>
</div>
<div style="cursor:pointer" class="articulos1">
<a href="http://4e4abqi-3ohjur8nc9qmvlil1u.hop.clickbank.net/?tid=15MINUTOS" target="_blank"><img style="width:100%;height:80px" src="https://image.ibb.co/eFGSNU/15manifestacion.jpg" alt="15manifestacion" border="0" target="blank"/></a>
</div>
<div class="modal-body precarga">
<iframe width="100%" height="250" 
[src]=" videoSel.resourceId.videoId | domseguro " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="container">
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/audiossalud " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/audiossalud" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/audiossalud" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/audiossalud" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
</div>
<br>
<div class="modal-footer">
<button (click)="cerraModal()" type="button" class="btn btn-danger">
<b>Cerrar</b>
</button>
</div>
</div>
</div>
</div>

<!--daylimotion -->



<ul class="nav-item" routerLinkActive="active">
<h6>Temas que le pueden interesar:</h6>
<a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a>
<a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a>
<a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a>
</ul>
