<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br><br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1><b>Cuidado con el "sabotaje" del subconsciente</b></h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud01" target="_blank"><img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<div class="parrafo">
<h6>BRUCE H. LIPTON</h6>
<p>"No debemos dejarnos sabotear por el subconsciente"
Doctor en Biología, investiga el poder del subconsciente en nuestro comportamiento y pensamientos negativos, y en técnicas para "desactivarlo"</p>
<img class=publi3 src="https://image.ibb.co/h17qKz/lipton.png" hspace="5" vspace="5" style="float:left" />
<p>Bruce H. Lipton es un hombre afable, humilde, al que no se le han subido los humos a la cabeza a pesar del éxito de sus libros, como La biología de la creencia: la liberación del poder de la conciencia, la materia y los milagros. <br><br>
<b>Entrevista a Bruce H. Lipton</b> <br>
<b>¿Hasta qué punto usted se aplica sus teorías?</b><br>
Hasta el punto de que hace más de 40 años que no voy al médico, ni consumo ningún fármaco. Tengo 71 años y me siento como una flor de primavera.<br> <br>
<b>Enhorabuena. ¿Y cómo lo hace?</b><br>
Hago todo lo posible para evitar el estrés. El estrés es el responsable del 90% de las enfermedades. Nuestro cuerpo acostumbra a funcionar bien, y el estrés nos desarmoniza. <br> <br>
<b>¿Cómo evita sentirse estresado?</b><br>
No me preocupo por casi nada. Antes, si algo no funcionaba en mi vida, me ponía ansioso. Pero actualmente, si algo no funciona, mis pensamientos son muy distintos. Pienso que si aquello no tiene que funcionar, o un proyecto no tiene que salir adelante, o ha surgido un imprevisto, es por alguna razón que se me escapa, y que todo está bien. <br>
</p>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5><b>‘‘La felicidad es recorrer tu camino"</b></h5>
<b>Todo es como tiene que ser, y todo es perfecto.</b>
<b>No debemos dejarnos sabotear por los pensamientos negativos, que acostumbran a surgir de nuestra mente subconsciente</b> <br>
<img class=publi3 src="https://image.ibb.co/dj1NXK/genes.png" hspace="5" vspace="5" style="float:left" />
Es muy fácil de decir. <br>
Es cuestión de práctica. Se trata de no dejarnos sabotear por los pensamientos negativos, que acostumbran a surgir de nuestra mente subconsciente. Tenemos dos mentes: una mente consciente, creativa, que está conectada con nuestra personalidad, y la subconsciente, que no es creativa y que va repitiendo programas. La mayoría de la gente cree que operan en su vida en base a la mente consciente, pero el 95% de su vida proviene de programas subconscientes que aprendieron durante los siete primeros años de vida. Hasta los siete años somos como videocámaras, lo grabamos todo. Por lo tanto, nuestros programas básicos vienen del comportamiento de los demás. Sobre todo de nuestros padres.<br> <br>
<b>¿Se pueden “desinstalar” algunos de estos programas?</b><br>
Cada vez hay más técnicas eficaces y rápidas para lograrlo. Yo acostumbro a hablar del método Psych-k porque es el que a mí me ha funcionado. Los estudios de mapeo cerebral revelan que este método induce un estado de unificación cerebral en el que tanto el hemisferio derecho como el izquierdo empiezan a trabajar juntos. Pero hay muchos métodos más, y cada vez más psicólogos que los utilizan.<br><br>
<b>¿Qué más hace para estar, a sus 71 años, fresco como una rosa?</b><br>
Yo lo llamo “vivir el cielo en la Tierra”. Cultivo emociones elevadas, como la alegría o el amor, y eso afecta a mis células. No solo a la salud de mis células, sino a su esperanza de vida. Del mismo modo que el estrés o la mala alimentación reducen la esperanza de vida, la gratitud, la actitud positiva, sentirse útil, la alarga. Nuestros telómeros están conectados a cómo vemos nosotros la vida.<br><br>
<b>Lo más importante debe de ser el amor…</b>
En efecto. Con mi mujer vivo una constante luna de miel. Y eso se traslada a la bioquímica de mi cuerpo. El cerebro es una máquina de mezclar pócimas de amor, provista con un arsenal de neuroquímicos y hormonas. Cultivo emociones elevadas, como la alegría o el amor, y eso afecta no solo a la salud de mis células, sino a su esperanza de vida. <br><br>
<b>Cultivo emociones elevadas, como la alegría o el amor, y eso afecta a la salud de mis células y a su esperanza de vida</b>
<b>Y cuando se enfada con su mujer, ¿qué hace?</b><br>
Hace tiempo tomamos la costumbre de reconectar en silencio el uno con el otro mediante el contacto físico (que se toquen nuestras manos, o brazos; o aunque solo sean las rodillas) en lugar de discutir sobre quién tiene razón. Sin importar lo mal que nos sentimos, hay que sentarse juntos sin hablar ni discutir para conectar a un nivel más profundo que el de las palabras. Con mi mujer olvidamos los detalles de la pelea, entramos en contacto el uno con el otro y las cosas se tranquilizan.<br> <br>
<img class=publi3 src="https://image.ibb.co/ebMjez/liptonfamilia.png" hspace="5" vspace="5" style="float:left" />
Usted sufrió un calvario cuando se atrevió a afirmar que no estamos determinados por nuestros genes.
En aquel entonces, hace 40 años, mis colegas científicos me tildaron de “loco”. Hoy en sus clases enseñan lo que yo descubrí, dicho sea con modestia. Y me dicen: “Bruce, ¿cuándo vas a descubrir algo nuevo?”. De todos modos, lo mejor que pude hacer fue salir de aquella comunidad científica. Aún hoy, desafortunadamente, hay muchos intereses de las compañías farmacéuticas que controlan la investigación.<br><br>
A las farmacéuticas no les interesa investigar las posibilidades que el propio cuerpo tiene de curarse...
No pueden colocar la energía en una pastilla; no hay nada tangible para vender. Los doctores te dicen: “Toma esa pastilla”; pero no te suelen decir: “Cambia de estilo de vida”. La mayoría de nuestras enfermedades proviene del estilo de vida.<br>
Toquemos madera, pero llegará el día en que enfermará y morirá. <br><br>
<b>¿Le da miedo la muerte?</b><br>
El día que muera, si me permite la broma, habrá otro Bruce H. Lipton. <br>
O sea, cree usted en la reencarnación. <br>
En un cien por cien. <br> <br>
<b>Pero usted es un científico.</b><br>
Le doy la explicación científica. Nuestras células tienen identidad propia. En cada célula hay unas antenas pequeñas, receptores. Los de usted son diferentes de los míos. Hay un show de televisión, como si dijéramos, que se emite desde un lugar que no es mi cuerpo. Mi identidad, mis receptores, captan esta señal que viene de fuera. Cuando naces, eres como una televisión en la que empieza “el show de Bruce H. Lipton”, o “el show de Gaspar Hernández”. Pero cuando mueres, el show no termina. Solo deja de funcionar la televisión. <br><br>
<b>Cuesta de creer…</b><br>
Si colocamos algunas de nuestras células a decenas de kilómetros de nosotros, captan exactamente el mismo show. Que no procede de nuestro cuerpo.<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud01" target="_blank"><img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
<b>Fuente: </b>
<a>Mentesana.es</a>
<br> <br>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/j5D86e/medica.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Pensamientos y emociones vs medicamentos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cHD2XK/cerebrohip.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Los efectos de la hipnosis en el cerebro</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/neeCzz/psiquicamente.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La relajación psíquica y la salud </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gVst6e/seguntuedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Dormir estas horas segun tu edad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>