<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Hábitos de la gente exitosa</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
Se acerca la hora de irte a dormir… ¿qué haces? Hasta hace poco yo comía, me ponía el pijama y ¡bienvenido, sueño! Sin embargo, ahora sé que este también es un momento clave para cuidarme más y acercarme al éxito. <br> <br>
<b>¿Quieres saber qué hacen las personas exitosas en este momento del día? Sí que podemos aprender de ellos...</b>
<br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5>Se ponen ropa muy cómoda</h5>
Los pijamas ajustados pueden ser muy sexies, pero una persona exitosa opta por ropas grandes, más relajantes. Y es que la ropa ajustada puede enviarle una señal confusa a nuestro cerebro. Pero con este tipo de ropa cómoda, nos aseguraremos de enviarle un mensaje claro: es hora de relajarse, ¡a descansar! <br> <br>
<h5>Leen un buen libro</h5>
Los libros permiten que despejemos nuestra mente, que comencemos a soñar despiertos. En otras palabras, nos preparan para tener dulces sueños y un descanso tan reparador como el que merecemos... <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/efHzxK/ricos1.png" hspace="5" vspace="5" style="float:left" />
</div>
<h5>Respiran bien profundo</h5>
Antes de ir a dormir, dejan de lado sus dispositivos tecnológicos, van a la cama,cierran los ojos y comienzan a respirar profundamente. <br>
¡Es de verdad muy relajante y permitirá que te olvides de todo el estrés de tu día! <br> <br>
<h5>Comen un snack antes de descansar</h5>
Antes de ir a dormir, la gente exitosa come un snack saludable, ¿lo sabías? Generalmente proteínas con carbohidratos. Queso, granola, leche o yogur pueden ser alguna de las alternativas para irte a la cama con el apetito saciado, sin atentar contra el bienestar de tu cuerpo. <br> <br>
<h5>Buscan inspiración</h5>
¿Cuál es tu principal fuente de inspiración? La mía es, sin duda alguna, la lectura. Sea lo que sea, dedícale tiempo a inspirarte: una persona exitosa cultiva su creatividad antes de ir a dormir. <br> <br>
<h5>Organizan el día siguiente</h5>
Una rutina planeada y organizada será mucho más exitosa que una desordenada y sin planificación. Así que antes de ir a dormir, puedes organizar tu próximo día y te aseguro que rendirás mucho más y dispondrás de más tiempo libre para ti. <br> <br>
<h5>Dejan que su mente viaje</h5>
Soñar despierto, de eso se trata. Es el momento, no hay preocupaciones, ni relojes que nos hagan correr: solo la almohada y tú. <br> <br>
Entonces, las personas exitosas dejan que la imaginación vuele y fluya. Sueñan despiertos, se dejan llevar por ese momento 100 % relajante y ¡le dan la bienvenida al sueño con el mejor de los humores! <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/jjb3Pz/ricos2.png" hspace="5" vspace="5" style="float:left" />
</div>
<h5>Se olvidan de la rutina</h5>
Chau, preocupaciones. Es el momento para dejar de pensar en todo aquello que los estresa. <br>
Haz la prueba: olvidarte de la rutina, al menos por un momento; te ayudará a centrarte en lo que verdaderamente te importa. <br> <br>
Las personas exitosas aman recordar el pasado. Divertirse viendo fotos viejas, recordar las travesuras que hacían de pequeños. Viajar al pasado nos permite refrescar todo lo que ya hemos caminado y todos los obstáculos que ya hemos vencido. Como consecuencia, nos estimula a seguir adelante. <br> <br>
<h5>Masajean sus pies</h5>
Los pies son una zona muy importante de nuestro cuerpo… que cuidamos poco. Así que es momento de darles el valor que se merecen. Antes de ir a dormir, regálales un masaje con crema hidratante o aceite de coco. Ellos se relajarán luego de un día difícil, ¡y tú también! <br> <br>
<b>Esto es lo que hace una persona exitosa antes de ir a dormir. Son pequeños hábitos que hacen la diferencia, ¿qué esperas para ponerlos en marcha? </b>
<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/dinero01 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/dinero01" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/dinero01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/dinero01" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>vix.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/jmwL4z/hijosnoexito.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Actitudes de los padres que hacen que sus hijos no sean exitosos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mX0f4z/submente.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Deja que el Subconsciente trabaje ... </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nG7MBe/energiadinero.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La Energía en forma de dinero</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nx9wcK/habitosricos.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Hábitos para hacerse rico y super exitoso</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/iAvmcK/deseos.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Buenos sentimientos = deseos manifestados </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero07())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hdipxK/lafelicidad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La gratitud es la felicidad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verDinero08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kdydre/suerte.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Ejercicios para atraer lo que queramos a nuestra vida</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>