<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>Los efectos de la hipnosis en el cerebro</h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Las consecuencias son "muy reales", según el informe de la Universidad de Hull.
Esta técnica es cada vez más utilizada por quienes quieren perder peso o dejar de fumar.</b> <br> <br>
<img class=publi3 src="https://image.ibb.co/h0yBsK/hipnosi.png" hspace="5" vspace="5" style="float:left" />
La hipnosis tiene un efecto "muy real" en el cerebro, que puede ser detectado con escáneres, afirman científicos de la Universidad de Hull, en Inglaterra.
Hasta ahora ha habido mucho escepticismo sobre si realmente existe el estado hipnótico.
Un estudio con voluntarios hipnotizados mostró en imágenes computarizadas cambios en las partes del cerebro relacionadas con el fantaseo y la imaginación.
Estos patrones cerebrales -afirman los investigadores- no estaban presentes en los participantes que tomaron parte en las pruebas pero no fueron susceptibles a la hipnosis. <br> <br>
Tal como señalan los expertos, el estudio publicado en la revista Consciousness and Cognition (Conciencia y Cognición) apoya la teoría de que la hipnosis "prepara" al cerebro para quedar dispuesto a la sugestión.
La hipnosis es una técnica cada vez más utilizada para ayudar a las personas a dejar de fumar o perder peso, y en el Reino Unido algunos expertos recientemente recomendaron su uso en el Servicio Nacional de Salud para tratar a pacientes con síndrome de intestino irritable.
Sin embargo, tal como afirman los investigadores, todavía hay mucho escepticismo sobre si realmente existe el llamado "estado hipnótico". <br> <br>
<h5>Más susceptibles</h5>
No es la primera vez que los científicos intentan usar técnicas de imágenes de resonancia magnética funcional para monitorear la actividad cerebral en personas que han sido hipnotizadas.
Pero el equipo de Hull afirma que, en el pasado, los estudios se llevaron a cabo mientras las personas hipnotizadas realizaban determinadas tareas, de modo que no estaba claro si los cambios en el cerebro se debían al acto de efectuar una labor o al efecto de la hipnosis. <br> <br>
<img class=publi3 src="https://image.ibb.co/mHzUez/relax.png" hspace="5" vspace="5" style="float:left" />
Esto demuestra que los cambios en el cerebro se deben a la hipnosis y no a la simple relajación. Nuestro trabajo muestra que la hipnosis es real
En la investigación reciente, el equipo primero analizó la forma en que los participantes respondían a la hipnosis y seleccionó a diez individuos que eran "altamente susceptibles" y a siete que no habían respondido a la técnica, aparte de quedar más relajados. <br> <br>
Posteriormente se pidió a los participantes que llevaran a cabo una tarea mientras estaban bajo hipnosis -como escuchar música no existente- y no sabían que se estaba monitoreando su actividad cerebral incluso en los períodos de descanso entre ocupaciones.
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
Los investigadores también llevaron a cabo escáneres cerebrales de los participantes sin inducción hipnótica para poder comparar los estados de descanso dentro y fuera de la hipnosis.
Los resultados mostraron que en el grupo "altamente susceptible" hubo una actividad reducida en la región cerebral involucrada en el fantaseo y en dejar correr la imaginación, lo que se conoce como la red de "modo por omisión" (DMN, por sus siglas en inglés) que se activa cuando el individuo no está enfocado en el mundo exterior y el cerebro está en reposo, aunque despierto. <br> <br>
<h5>No es relajación</h5>
Se cree que la hipnosis funciona "clausurando" el DMN, lo que deja al cerebro libre para concentrarse en otras tareas.
Tal como afirma el doctor William McGeown, profesor del departamento de psicología de la Universidad de Hull y quien dirigió el estudio, los resultados son "inequívocos" porque sólo se vieron en los individuos altamente susceptibles a la hipnosis. <br>
<i>"Esto demuestra que los cambios en el cerebro se deben a la hipnosis y no a la simple relajación. Nuestro trabajo muestra que la hipnosis es real", asegura el investigador.</i> <br> <br>
<div class="row">
<img class=publi3 src="https://image.ibb.co/nH6xXK/mentehipno.png" hspace="5" vspace="5" style="float:left" />
</div>
Por su parte, el doctor Michael Heap, psicólogo clínico y forense basado en Sheffield, Inglaterra, comenta que este experimento es el primero que muestra los patrones cerebrales que apoyan la teoría de que la hipnosis funciona al "preparar" al sujeto para que responda de manera más efectiva a las sugerencias.
"Aún más importante es que los datos confirman que la relajación no es un factor crítico", agrega.
<i>"La información limitada de este estudio sugiere que este patrón de actividad posteriormente se disipa (por lo menos hasta cierto punto) una vez que los individuos comienzan a comprometerse con las sugerencias que se les dan".</i>
Sin embargo, el psicólogo dice que este estudio pequeño, que necesita confirmarse con otros poblaciones, no prueba que las personas que están siendo hipnotizadas esté en una verdadero "trance". <br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/salud07 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/salud07" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/salud07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/salud07" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>Cooperativa.cl</a>
 
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/neeCzz/psiquicamente.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La relajación psíquica y la salud </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/gVst6e/seguntuedad.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Dormir estas horas segun tu edad</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud10())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/eVVKez/secretos1.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Guardar secretos puede ser perjudicial para su salud</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dCGjez/pensamiento_ADN.jpg" alt="pensamiento_ADN" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Los pensamientos cambian el ADN </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cWw6sK/salud033.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>La mente cura el cuerpo </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/j5D86e/medica.png" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Pensamientos y emociones vs medicamentos</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/kHD2XK/mentesana.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Tu mente puede curarte</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verSalud06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/inJ86e/hipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> La hipnosis cura estas enfermedades </b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>