<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-4977928955885807",enable_page_level_ads:true});</script>
</head>
<div class="container">
<br> <br>
<div class="row">
<div class="text col-lg-8 col-md-8 col-sm-12 col-xs-12">
<h1>ONDAS BINAURALES </h1>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<br>
El cerebro humano es capaz de procesar 64.000 pensamientos por minuto. El impacto que tiene la meditación sobre nuestro cerebro es algo poco conocido en la comunidad científica. Lo que si sabemos es que el ser humano, cuando percibe y está consciente, emite un patrón de ondas cerebrales que pueden identificar su estado. <br> <br>
<img class=publi3 src="https://image.ibb.co/ewEo9z/bi1.png" hspace="5" vspace="5" style="float:left" />
De entre todas las ondas, son las ondas gamma las que más llaman la atención del ser humano debido a que son las más rápidas y las que mayor actividad mental representan (momentos repentinos de lucidez, intuición, brillantez y concentración extrema). Las ondas gamma son un conjunto de señales eléctricas que emiten nuestras neuronas y tienen una frecuencia aproximada de 40 Hz o pulsos. También pueden realizarse mediciones bajo las mismas condiciones y encontrar a personas situadas en los rangos de 26 Hz a 70 Hz. <br> <br>
Las actividades que más requieren el uso del intelecto, aquellas a las que denominamos cognitivas de alto nivel, se dan cuando se supera el límite de los 24 Hz ya que es en este punto cuando se detectan las ondas gamma. Las ondas gamma también pueden estar presentes en la fase REM del sueño, aunque son propias de la reflexión cognitiva. <br> <br>
De hecho, los últimos estudios realizados, sugieren que la capacidad de resolver problemas se relaciona directamente con el aumento de las frecuencias de 20 Hz a 40 Hz. <br> <br>
<h6>Temas que le pueden interesar:</h6>
<ul class="nav-item" routerLinkActive="active">
<li> <a class="nav-link" (click)="(verSubliminales())" [routerLink]="['/subliminal']"><h5>Los mensajes subliminales</h5></a></li>
<li> <a class="nav-link" (click)="(verPreguntas())" [routerLink]="['/preguntas']"><h5>Preguntas y respuestas frecuentes</h5></a></li>
<li> <a class="nav-link" (click)="(verHeroes())" [routerLink]="['/categorias']"><h5>Categorias de audios subliminales</h5></a></li>
</ul>
<h5>El misterio de la conciencia humana</h5>
Lo más misterioso sigue siendo que existe una conciencia plena y unitaria a pesar de que hayan diferentes partes del cerebro que trabajan de forma diferente. Es decir, que cada región donde se alberga, por ejemplo un sentido, emite una frecuencia de onda diferente y el cerebro recopila los datos de todo y lo simplifica como una única conciencia o información individual.<br> <br>
La respuesta está en la sincronía neuronal. Las descargas neuronales de un proceso cognitivo o intelectual se sincronizan entre sí formando redes transitorias que se integran en los procesos neurológicos. Estos procesos forman un patrón de actividad capaces de modificar el estado sináptico o producir cambios físicos de forma duradera en el tiempo.<br> <br>
Por eso, todo acto cognitivo va a implicar la coordinación de muchísimas regiones neuronales y está coordinación se pone de manifiesto cuando se sincronizan las neuronas, o sea, cuando sus ondas “suben y bajan” al mismo tiempo y en la misma frecuencia.<br> <br>
Esta sincronía se da en distintos lugares del cerebro humano y explica la coherencia y la unidad de los procesos mentales, siendo la conciencia humana un hecho que se da entre fases. Es por ello que en la actualidad, la neurociencia está estudiando aquellos procesos mentales que tengan que ver o estén relacionados con el entrenamiento mental y las ondas cerebrales.<br> <br>
<h5>¿Que son las ondas cerebrales?</h5>
Nuestro cerebro emite diferentes tipos de ondas cerebrales, fruto de una actividad eléctrica cuya frecuencia se mide en hertzios. Éstas son producidas en estado de conciencia o no, o también en un estado de vigila como durante el sueño.<br> <br>
<h5> ¿Cuáles son los diferentes tipos de ondas cerebrales?</h5>
<b> Ondas BETA:</b> <br>
Se sitúan entre los 13-40 Hz. Son las ondas más rápidas y reflejan nuestra actividad mental cuando tenemos los ojos abiertos y observamos el exterior. <br>
Se manifiestan cuando pensamos y trabajamos con normalidad. Si estamos agitados o nerviosos por pensamientos, se dice que estamos en estado de <b>“hiperactividad”.</b> Este estado corresponde a lo que comúnmente se llama un beta estado negativo. <br>
<img class=publi3 src="https://image.ibb.co/cVGt9z/bi2.png" hspace="5" vspace="5" style="float:left" />
Por el contrario, cuando nuestro cerebro opera a gran velocidad pero con lucidez, nos encontramos entonces en en un beta estado positivo, donde la lucidez mental y los estados de intuición son característicos. En fase beta, la mente permanece despierta, en estado de alerta y enfocada hacia objetivos determinados. <br> <br>
Es un estado requerido para aquellas actividades que exigen niveles altos de concentración (analizar, organizar información, presentar un examen, jugar, deportes, etc…). Si los niveles de ondas beta suben, la persona puede padecer estrés y ansiedad. <br> <br>
<b>Ondas ALFA:</b> <br>
Se sitúan entre los 8-13 Hz. Se producen cuando cerramos los ojos y relajamos nuestra actividad mental. Se trata de ondas más lentas que reflejan un estado de calma y de paz interior. <br>
La imaginación puede ejercitarse de forma muy favorable cuando entramos en ondas alfa. Es un estado de intersección con nuestra psiquis, ya que a partir de aquí nos podemos poner en contacto con zonas de nuestro ser interior de las que no teníamos verdadera conciencia y también con informaciones en estado latente. <br> <br>
El cerebro produce este tipo de ondas cuando estás verdaderamente relajado. En el estado alfa desaparecen los miedos, los temores y las preocupaciones y se experimenta una sensación de paz y bienestar general del organismo. <br>
Se activa el subconsciente y surge la creatividad, que ayuda a lanzar y encontrar nuevas ideas nuevas para resolver problemas que se planteen y llevar a término cualquier proyecto o meta en la vida. <br> <br>
<b>Ondas THETA:</b> <br>
Se situán entre 4-8 Hz. Son ondas lentas asociadas a estados de extrema creatividad. Es una estado de relajación profunda. <br>
Las soluciones surgen sin esfuerzo aparente, como una iluminación. Son propias del subconciente humano y puede transcender más allá del plano físico. La actividad cerebral desciende casi al punto del sueño. Este estado es ideal para la programación de la mente, para la autohipnosis y para la reducción del estrés. <br> <br>
<img class=publi3 src="https://image.ibb.co/m9n0pz/bi3.png" hspace="5" vspace="5" style="float:left" />
Este tipo de ondas se usa en programas de modificación de la conducta, así como en tratamientos de adicciones de ciertas sustancias como el alcohol u otras drogas. Y es que las ondas THETA tienen una pequeña particularidad: destapan el pasado y nos ponen en contacto con recuerdos que habíamos rechazado, o bien, estaban en el fondo de nosotros mismos, recuerdos de emociones fuertes, estados de shock que habían bloqueado ciertas situaciones, etc… <br> <br>
Las ondas theta actúan como “sistema de seguridad”, permitiendo o no encontrar la memoria consciente de emociones y de traumas ya olvidados o que fueron rechazados. En los programas de hipnósis se pretende llegar a este estado y ofrecer la posibilidad de unificar y limpiar estos pequeños fragmentos de memoria propios pero olvidados. Por eso, este tipo de ondas en metafísica pasan a denominarse estados de conciencia creativa. <br> <br>
<b>Ondas DELTA:</b> <br>
Se sitúan en un rango de 0,1-4 Hz. Son las ondas más largas, lentas y ondulantes de todas. La mayor parte de la población no las hace servir hasta que, una situación concreta, nos hace poner en peligro. Normalmente, se producen durante el sueño profundo, mientras se duerme y también en la meditación avanzada. <br> <br>
Si las Theta representaban un sistema de seguridad, las ondas delta abren el camino hacia el subconsciente, a toda la información acumulada durante nuestra vida, almacenada de forma consciente como inconsciente. Si nuestro cerebro se sincroniza con ondas de tipo delta, podemos ser capaces de acceder a esta información y “llevarla” a la mente conscientemente para visualizarla y pensar sobre ello, sobre nuestras posibilidades reales. <br> <br>
<h5>Variación de ondas cerebrales en el ser humano</h5>
El cerebro humano siempre está produciendo múltiples ondas cerebrales al mismo tiempo durante las 24 horas del día. Tus sentimientos, habilidades, pensamientos y aptitudes llevadas a cabo están íntimamente relacionadas con esa mezcla de ondas cerebrales que emite tu cerebro. El bienestar y la felicidad se hayan cuando las ondas cerebrales están alineadas a la perfección con lo que estás haciendo en un preciso momento. <br> <br>
Lo peores casos se dan cuando existe una mala combinación de ondas cerebrales que provocan la confusión, la ansiedad, el nerviosismo, estrés y conductas negativas que pueden llevar a la persona a un teórico fracaso. <br> <br>
<img class=publi3 src="https://image.ibb.co/i4SphK/bi4.png" hspace="5" vspace="5" style="float:left" />
En nuestra sociedad actual, el problema reside cuando comienza a dominar la mayor parte del tiempo una sola onda. En este caso, se comenta que estamos casi todo el tiempo bajo el patrón de ondas beta.
Nuestra misión es comprender que podemos alcanzar otros estados a través de la síncronia con otro tipo de ondas, y esto nos conducirá a una nueva forma de “ver” la vida, así como de adoptar una serie de hábitos capaces de superar las adversidades que encontramos. <br> <br>
De momento, sólo la meditación constante ha demostrado ser la única solución, ya que la farmacología actual logra actuar a nivel de neurotransmisores pero no permite modificar los tipos de ondas cerebrales. Por eso, los sonidos binaurales y sonidos isocrónicos pueden ser una vía efectiva para conseguir cambiar nuestro patrón de ondas. <br> <br>
<h5>¿POR QUÉ NOS CAMBIARON LA FRECUENCIA? DE 432 Hz a 440 Hz?</h5>
En 1953, el decreto universal por el cuál se instaba a todo el mundo a afinar el LA musical a 440 Hertzios, en lugar de a 432 Hz, frecuencia a la que se afinaba toda la música hasta el momento fué aprobado por parte de la Organización Internacional de Normalización (ISO). Esto provoca en la gente pensar y sentir de una manera determinada y se la mantiene sumida en un desorden interno. <br> <br>
Esto ocurrió a pesar de los esfuerzos de un gran número de músicos franceses que apoyados por el Conservatorio de París, organizaron un referéndum para preservar el LA afinado a 432 Hz. <br>
El LA afinado a 432hz ha estado oculto al mundo por ser el punto de balance sónico de la naturaleza.
432 Hz vibra en los principios de la media de oro PHI y unifica las propiedades de la luz, tiempo, espacio, materia, gravedad y el magnetismo con la biología, el código del ADN y la conciencia.
La afinación natural a 432 Hz tiene efectos profundos en la consciencia y también en el nivel celular de nuestro cuerpo. <br> <br>
Por la re-sintonización de instrumentos musicales y el uso de la afinación de concierto a 432 hertzios en vez de 440 hertzios, tus átomos y el ADN empiezan a resonar en armonía con la espiral de PHI de la Naturaleza.” (Brian T. Collins) <br>
Toda la música que escuchamos en este momento, genera una frecuencia inarmónica con el planeta y con el organismo humano. <br> <br>
<img class=publi3 src="https://image.ibb.co/kmJvNK/bi5.png" hspace="5" vspace="5" style="float:left" />
Una nota hace 12 armónicos, porque pone en resonancia las 12 notas de la escala musical (con medios tonos y sostenidos). Las notas hacen 12 armónicos, cuando se toca una nota afinada a un LA afinado a 432 Hz. Cuando uno toca en un LA afinado a 440 Hz, sólo se hacen 8 armónicos. La música afinada a 440 Hz es música muy pobre. <br> <br>
La frecuencia del planeta Tierra es de 8 Hz. Las ondas alfa, la frecuencia del cerebro en estado de relajación profunda, son ondas a 8 Hz. Afinar a 440, hace que la base no sea 8, sino 8’25, lo cual significa que los armónicos que generan no son armónicos con el planeta. <br> <br>
El Ser Humano funciona en un rango de frecuencia que va de 16 a 32 Hertzios, lo que equivale en la escala musical, del do al do, o sea, una octava. Afinar a 440 Hz tampoco es armónico con la frecuencia del Ser Humano porque la base es 16,5. La primera alteración física que podemos notar cuándo llevamos un rato escuchando música, es cansancio, fatiga, ganas de no hacer nada, y esto sucede porque los armónicos de la música no encajan con la frecuencia vibratoria del ser humano. <br> <br>
La frecuencia en la que nos mete la música afinada a 440 Hz nos hace sentir inseguridad, miedo, angustia y desorden interno.<br> <br>
Durante muchos años ha interesado que la Humanidad esté sumida en la oscuridad.
Si la música no está en armonía con el planeta, no está en armonía con el Ser humano y cómo consecuencia se producen alteraciones en ambos.<br> <br>
Para evitar que esto continúe sucediendo, deberíamos afinar la música a 432 Hz. Y podemos hacerlo pasando toda nuestra música al ordenador, y utilizar un programa que permita bajar la frecuencia. Las interpretaciones sonarán un poco más lentas, pero es casi imperceptible. Hay programas de ordenador que sirven para manejar, editar y grabar música. Por ejemplo el de Mac, Garage Band.<br> <br>
<div class="compartir"><b>Compartir en:</b>
<a class=redessociales href="https://www.facebook.com/sharer/sharer.php?u=pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/n8mm9z/facebook.png" width='35'/></a>
<a class=redessociales href="https://twitter.com/home?status=pleyadesm.com/%23/ensenanzas10 " target="_blank">
<img border='0' height='35' src="https://image.ibb.co/iuuHGe/twitter.png" width='35'/></a>
<a class=redessociales href="https://plus.google.com/share?url=www.pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/hyMxGe/google.png" width='35'/></a>
<a class=redessociales href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pleyadesm.com/%23/ensenanzas10" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/eZ3Ypz/linkedin.png" width='35'/></a>
<a class="redessociales whatweb" href="https://api.whatsapp.com/send?text=www.pleyadesm.com/%23/ensenanzas10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
<a class="redessociales whatcel" href="whatsapp://send?text=www.pleyadesm.com/%23/ensenanzas10" data-action="share/whatsapp/share" target="_blank">
<img border='0' height='35' src="https://image.ibb.co/bzntpz/whatsap.png" width='35'/></a>
</div>
<b>Fuente: </b>
<a>residualstore.com</a>
</div>
<div class="col-lg-4 col-md-4">
<div class="articulos">
<h6>Artículos relacionados</h6>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas02())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/bF3OsK/controlmental.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El día en que mi mente estaba 'poseída' </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas09())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mOJv6e/empatia.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> Señales si eres una persona psíquica intuitiva </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas01())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/hURtsK/placebo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El efecto placebo Y La mente </b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas03())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/nxt6CK/curaaotros.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Cura a los demas con tu energía</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas08())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/dHZtRe/sonambulismo.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> El estado de sonambulismo</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas04())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/f3Qpzz/acercahipnosis.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b>Lo que debes saber sobre la autohipnosis</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas05())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/mDdbez/hipnosispeligro.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Es la autohipnosis peligrosa?</b>
</p>
</div>
</div>
</div>
<div style="cursor:pointer" class="articulos1">
<div class="card" (click)="(verEnsenanzas06())">
<img class="card-img-top" style="width:100%;height:120px" src="https://image.ibb.co/cdF6ez/hipnosissolucion.jpg" alt="Card image cap">
<div class="card-body">
<p class="card-text">
<b> ¿Puede la hipnosis resolver sus problemas?</b>
</p>
</div>
</div>
</div>
</div>
</div>
</div>